{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
  
 
 {{define "resetUserPasswordProperty"}}

 	<tr>
 		<td class="width200"><label>Reset Password</label>
 			<div><small>Reset this user's password. An email will be sent to this user with a link to reset the account's  password.</small></div>
 		</td>

 		<td>
			<button type="button" class="btn btn-default" id="resetUserPasswordButton">
			  Send Password Reset Link
			</button>
			<div id="resetUserPasswordSuccess" class="alert alert-success maxWidth300 marginTop10 initiallyHidden" 
					role="alert">Password reset link sent.</div>
			<div id="resetUserPasswordError" class="alert alert-danger maxWidth300 marginTop10 initiallyHidden" 
					role="alert"></div>
			
			
 		</td>
 	</tr>

 {{end}}
   
   
 {{define "activeUserAccountProperty"}}

 	<tr>
 		<td class="width200"><label>Activate or Deactivate Account</label>
 			<div><small>Activate or deactivate this user's account.</small></div>
 		</td>

		<td>
		  <div class="form-group">
	 	      <div class="checkbox">
		        <input type="checkbox" id="userAccountActive">
		        <label for="userAccountActive">Account is active</label>
		      </div>
		   </div>
		</td>
 	</tr>

 {{end}}
        	
			
{{define "userProperties"}}

<table class="table">
	{{template "resetUserPasswordProperty"}}
	{{template "activeUserAccountProperty"}}
</table>

{{end}}
			

{{define "userPropsPage"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
	
	{{template "electronImportPrefix"}}
	
	{{template "thirdPartyCSS"}}
	
	<!-- userPropsAssets:css -->
	<!-- endinject -->
	
	<script>var userPropsContext = {
	 	userID: "{{.UserID}}"} 
	</script>
	
		
	{{template "thirdPartyJS"}}
	
	<!-- userPropsAssets:js -->
	<!-- endinject -->
				
  </head>
	
 	
  <body>

	<div id="userPropsPage" class="layoutPageDiv">
		
		<div class="pane ui-layout-north adminPageHeader">
			{{template "workspaceAdminPageHeader" .}}
		</div> <!-- ui layout north -->
		
		<div class="pane ui-layout-west">
			{{template "workspaceAdminSettingsTOC"}}
		</div> <!-- ui layout north -->

		<div class="pane ui-layout-center">
			<h4>User Account Settings</h4>
			{{template "userProperties"}}
		</div> <!-- center pane for entire page -->	
	</div> <!-- layout page -->	
		
  </body>
  	
</html>

{{end}}