{{define "userMgntInviteUsersButton"}}
	<button type="button" class="btn btn-default" id="inviteNewUsersButton">
			  Invite New Users
	</button>
{{end}}        	

{{define "userMgmtAdminPage"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
	
	{{template "electronImportPrefix"}}
	
	{{template "thirdPartyCSS"}}
	
	<!-- userMgmtAssets:css -->
	<!-- endinject -->
		
	{{template "thirdPartyJS"}}
	
	<!-- userMgmtAssets:js -->
	<!-- endinject -->
				
  </head>
	
 	
  <body>

	<div id="userMgmtAdminPage" class="layoutPageDiv">
		
		<div class="pane ui-layout-north adminPageHeader">
			{{template "workspaceAdminPageHeader" .}}
		</div> <!-- ui layout north -->
		
		<div class="pane ui-layout-west">
			{{template "workspaceAdminSettingsTOC"}}
		</div> <!-- ui layout north -->

		<div class="pane ui-layout-center">
			<h4>Registered Users</h4>
        	{{template "workspaceUserRegistrationList"}}
			{{template "userMgntInviteUsersButton"}}
		</div> <!-- center pane for entire page -->	
	</div> <!-- layout page -->	
	
	{{template "userInviteDialog"}}
		
  </body>
  	
</html>

{{end}}