/* This file is part of the Resultra project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
 
.urlLinkFormComponent 
{
	min-width:150px;
	width: 150px;
	height: auto;
}

.urlLinkTableCellComponent
{
	min-width: 150px;
	width:100%;
}

.urlLinkComponent .form-group {
	margin-bottom:0px;
}

.urlLinkComponent .input-group {
	width:100%;
}

.urlLinkComponent label {
	margin-bottom: 2px !important;
}

.urlLinkComponentInput {
	padding-left: 5px;
	padding-right: 5px;
}

.linkEditorHeader {
	min-height:25px;
}

.urlLinkEditLinkButton {
	padding-left:4px;
	padding-right:4px;
}

.urlLinkPopupContainer {
	width:100%;
	
	/* The Bootstrap popover will resize around these constraints */
	min-width:250px;
	min-height:100px;
}