

{{define "urlLinkProps"}}

	<div id="urlLinkProps" class="propertyPanelToggleContainer">

		{{template "componentLabelPropertyPanel" .LabelPanelParams}}
	
		{{template "propertyPanelPrefix" .ValidationPanelParams}}
			{{template "textInputValidationProps"}}
		{{template "propertyPanelSuffix"}}
	
		{{template "componentVisibilityPropertyPanel" .VisibilityPanelParams}}

		{{template "componentPermissionsPropertyPanel" .PermissionPanelParams}}
		
		{{template "propertyPanelPrefix" .ClearValuePanelParams}}
			{{template "clearValueProps" .ElemPrefix}}
		{{template "propertyPanelSuffix"}}

		{{template "componentHelpPopupPropertyPanel" .HelpPopupParams}}

		{{template "componentDeletePropertyPanel" .DeletePanelParams}}

	</div>

{{end}}