{{define "formComponentsCSS"}}
	{{template "formComponentCheckBoxCSS"}}
	{{template "formComponentDatePickerCSS"}}
	{{template "formComponentHtmlEditorCSS"}}
{{end}}

{{define "formComponentsJS"}}
	{{template "formComponentsCommonComponentEditJS"}}
	{{template "formComponentsCommonNewFormElemDialogJS"}}
	{{template "formComponentCheckBoxJS"}}
	{{template "formComponentTextBoxJS"}}
	{{template "formComponentDatePickerJS"}}
	{{template "formComponentHtmlEditorJS"}}
	<script src="/static/form/components/formComponentLoader.js"></script>
{{end}}

