
{{define "adminFormLinkNameProperty"}}
<tr>
	<td class="width200"><label>New item link name:</label></td>
	<td>
		<form id="formLinkNamePropertyForm">
				<div class="form-group">
					<input type="text" id="formLinkPropsNameInput" name="formLinkPropsNameInput" 
							class="form-control maxWidth300" placeholder="List Name" required="" autofocus="">
				</div>
		</form>
	</td>

{{end}}

{{define "adminFormLinkFormProperty"}}

<tr>
	<td class="width200"><label>Form to link to:</label></td>
	<td>
		<form id="formLinkPropFormForm">
				<div class="form-group">
					<select class="form-control maxWidth300" id="formLinkPropFormSelection"></select>
				</div>
		</form>
	</td>
</tr>
{{end}}


{{define "adminFormLinkIncludeInSidebarProperty"}}

<tr>
	<td class="width200"><label></label></td>
	<td>
		<form id="formLinkPropIncludeInSidebarForm">
			  <div class="form-group">
			      <div class="checkbox">
			       <input type="checkbox" id="adminFormLinkIncludeInSidebar">
			        <label for="adminFormLinkIncludeInSidebar">Include this link in the sidebar.</label>
			      </div>
			   </div>
		</form>
	</td>
</tr>
{{end}}

{{define "adminFormLinkShareLinkProperty"}}

<tr>
	<td class="width200">
		<label>Shareable link</label>
		<div><small>Allow creation of new items with a shareable URL link to the form.</small></div>
	</td>
		
	<td>
		<form id="formLinkPropShareLinkForm">
			  <div class="form-group">
			      <div class="checkbox">
			        <input type="checkbox" id="adminFormLinkShareLink">
					<label for="adminFormLinkShareLink">Enabled shared link</label>
			      </div>
			   </div>
				<div class="form-group" id="adminFormLinkShareLinkLinkFormGroup">
					<label>Shareable link</label>
					<input type="text" id="adminFormLinkShareLinkLink" name="adminFormLinkShareLinkLink" 
							class="form-control maxWidth300" placeholder="Link URL" required="" autofocus="" disabled>
				</div>
		</form>
	</td>
</tr>
{{end}}



{{define "adminFormLinkDefaultValuesProperty"}}

	<tr>
		<td class="width200"><label>Default values:</label>
			<div><small>Configure which default values are set when creating new items.</small></div>
		</td>

		<td>
			{{template "defaultValuesPropertyPanel" .DefaultValuePanelParams}}
		</td>
	</tr>

{{end}}


{{define "adminNewItemLinkRolePrivsProperty"}}
	<tr>
		<td class="width200"><label>New item link privileges</label>
			<div><small>Configure which roles can use this link to create new items.</small></div>
		</td>

		<td>
			<div class="list-group" id="adminNewItemLinkRolesPrivsList">
			</div>		
		</td>
	</tr>
{{end}}


{{define "formLinkPropsBody"}}

<h4>New Item Link</h4>
<table class="table">

	{{template "adminFormLinkNameProperty" .}}
	{{template "adminFormLinkFormProperty" .}}
	{{template "adminFormLinkIncludeInSidebarProperty" .}}
	{{template "adminFormLinkShareLinkProperty" .}}
	{{template "adminFormLinkDefaultValuesProperty" .}}
	{{template "adminNewItemLinkRolePrivsProperty"}}
	
</table>
		
{{end}}

{{define "editFormLinkPropsPage"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>

	{{template "electronImportPrefix"}}

	
	{{template "thirdPartyCSS"}}
	
	<!-- formLinkAssets:css -->
	<!-- endinject -->
	
	<script>var formLinkPropsContext = { 
		linkID:"{{.LinkID}}",
		linkName:"{{.LinkName}}",
		 databaseID:"{{.DatabaseID}}",
		siteBaseURL:"{{.SiteBaseURL}}",
		isSingleUserWorkspace: {{.IsSingleUserWorkspace}} } 
	</script>
	
	{{template "thirdPartyJS"}}
	
	<!-- formLinkAssets:js -->
	<!-- endinject -->
				
  </head>
	
 	
  <body>

	<div id="editFormLinkPropsPage" class="layoutPageDiv">
		
		<div class="pane ui-layout-north adminPageHeader">
			{{template "adminPageHeader" .}}
		</div> <!-- ui layout north -->
		
		<div class="pane ui-layout-west" id="formLinkPageTocLayout">
			{{template "adminSettingsTOC" .}}
		</div> <!-- ui layout north -->

		<div class="pane ui-layout-center" id="formLinkPageLayout">
			{{template "formLinkPropsBody" .}}
		</div> <!-- center pane for entire page -->	
		
	</div> <!-- layout page -->	
				
  </body>
  	
</html>

{{end}}