{{define "formLinkBreadcrumbHeader"}}
	<div class="marginTop2">
	  {{template "homePageBreadcrumb"}}
	  {{template "breadCrumbSeparator"}}
	  <a href="/" class="h4 breadCrumbText"><i class="fa fa-tasks" aria-hidden="true">&nbsp;{{.DatabaseName}}</i></a>
	  {{template "breadCrumbSeparator"}}
	  <a class="h4 breadCrumbText" href="/admin/{{.DatabaseID}}">Settings</a>
	  {{template "breadCrumbSeparator"}}
	  <span class="h4 breadCrumbText">Form Link Settings</span>
	  {{template "breadCrumbSeparator"}}
	  <span class="h4 breadCrumbText">{{.LinkName}}</span>
	</div> <!-- breadcrumb header -->
{{end}}

{{define "formLinkPropsHeader"}}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8">
				{{template "formLinkBreadcrumbHeader" .}}
			</div>
			<div class="col-sm-4">
				<div class="pull-right">
					{{template "userDropdownMenu"}}
				</div>
			</div>
		</div>
	</div>
{{end}}


{{define "adminFormLinkNameProperty"}}
<tr>
	<td class="width200"><label>Form link name:</label></td>
	<td>
		<form id="formLinkNamePropertyForm">
				<div class="form-group">
					<input type="text" id="formLinkPropsNameInput" name="formLinkPropsNameInput" 
							class="form-control maxWidth300" placeholder="List Name" required="" autofocus="">
				</div>
		</form>
	</td>

{{end}}

{{define "adminFormLinkFormProperty"}}

<tr>
	<td class="width200"><label>Form to link to:</label></td>
	<td>
		<form id="formLinkPropFormForm">
				<div class="form-group">
					<select class="form-control maxWidth300" id="formLinkPropFormSelection"></select>
				</div>
		</form>
	</td>
</tr>
{{end}}


{{define "adminFormLinkIncludeInSidebarProperty"}}

<tr>
	<td class="width200"><label></label></td>
	<td>
		<form id="formLinkPropIncludeInSidebarForm">
			  <div class="form-group">
			      <div class="checkbox">
			       <input type="checkbox" id="adminFormLinkIncludeInSidebar">
			        <label>Include this link in the sidebar.</label>
			      </div>
			   </div>
		</form>
	</td>
</tr>
{{end}}

{{define "adminFormLinkShareLinkProperty"}}

<tr>
	<td class="width200">
		<label>Shareable link</label>
		<div><small>Allow creation of new items with a shareable URL link to the form.</small></div>
	</td>
		
	<td>
		<form id="formLinkPropShareLinkForm">
			  <div class="form-group">
			      <div class="checkbox">
			        <input type="checkbox" id="adminFormLinkShareLink">
					<label>Enabled shared link</label>
			      </div>
			   </div>
				<div class="form-group" id="adminFormLinkShareLinkLinkFormGroup">
					<label>Shareable link</label>
					<input type="text" id="adminFormLinkShareLinkLink" name="adminFormLinkShareLinkLink" 
							class="form-control maxWidth300" placeholder="Link URL" required="" autofocus="" disabled>
				</div>
		</form>
	</td>
</tr>
{{end}}



{{define "adminFormLinkDefaultValuesProperty"}}

	<tr>
		<td class="width200"><label>Default values:</label>
			<div><small>Configure which default values are set when creating new items.</small></div>
		</td>

		<td>
			{{template "defaultValuesPropertyPanel" .DefaultValuePanelParams}}
		</td>
	</tr>

{{end}}

{{define "formLinkPropsBody"}}

<table class="table">

	{{template "adminFormLinkNameProperty" .}}
	{{template "adminFormLinkFormProperty" .}}
	{{template "adminFormLinkIncludeInSidebarProperty" .}}
	{{template "adminFormLinkShareLinkProperty" .}}
	{{template "adminFormLinkDefaultValuesProperty" .}}
	
</table>
		
{{end}}

{{define "editFormLinkPropsPage"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
	
	{{template "thirdPartyCSS"}}
	
	<!-- formLinkAssets:css -->
	<!-- endinject -->
	
	<script>var formLinkPropsContext = { 
		linkID:"{{.LinkID}}",
		 databaseID:"{{.DatabaseID}}",
		siteBaseURL:"{{.SiteBaseURL}}"} 
	</script>
	
	{{template "thirdPartyJS"}}
	
	<!-- formLinkAssets:js -->
	<!-- endinject -->
				
  </head>
	
 	
  <body>

	<div id="editFormLinkPropsPage" class="layoutPageDiv">
		
		<div class="pane ui-layout-north" id="formLinkPageHeaderUILayout">
			{{template "formLinkPropsHeader" .}}
		</div> <!-- ui layout north -->
		
		<div class="pane ui-layout-west" id="formLinkPageTocLayout">
			{{template "databaseTOC" .}}
		</div> <!-- ui layout north -->

		<div class="pane ui-layout-center" id="formLinkPageLayout">
			{{template "formLinkPropsBody" .}}
		</div> <!-- center pane for entire page -->	
		
	</div> <!-- layout page -->	
				
  </body>
  	
</html>

{{end}}