
{{define "formNamePropertyPanel"}}
	Form Name Properties Panel
{{end}}

{{define "formFilterPropertyPanel"}}
	Form Filter Properties Panel
{{end}}


{{define "formProps"}}
	<div id="formProps" class="propertyPanelToggleContainer">
			  {{template "propertyPanelPrefix" .NamePanelParams}}
			  		{{template "formNamePropertyPanel"}}
			  {{template "propertyPanelSuffix"}}

			  {{template "propertyPanelPrefix" .FilterPanelParams}}
			  		{{template "formFilterPropertyPanel"}}
			  {{template "propertyPanelSuffix"}}
	</div>
{{end}}