
{{define "designFormHeader"}}
	  {{template "homePageBreadcrumb"}}
	  {{template "breadCrumbSeparator"}}
	  <a href="/" class="h4"><i class="fa fa-database" aria-hidden="true">&nbsp;<span class="h4">Database Name</span></i></a>
	  {{template "breadCrumbSeparator"}}
	  <a class="h4 breadCrumbText" href="/viewForm/{{.FormID}}">{{.FormName}}</a>
	  {{template "breadCrumbSeparator"}}
	  <span class="h4 breadCrumbText">Design Form</span>
{{end}}

{{define "designFormPaletteItems" }}
	<div class="row">
		<div class= "col-md-6"  style="padding:5px">
			<div class="draggable noselect paletteItem" id="paletteItemTextBox">
					<i class="glyphicon glyphicon-search"></i>
					<div>Text Box</div>
			</div>			
		</div> <!-- column -->
		<div class= "col-md-6" style="padding:5px">
			<div class="draggable noselect paletteItem" id="paletteItemCheckBox">
					<i class="glyphicon glyphicon-check"></i>
					<div>Check Box</div>
			</div>			
		</div> <!-- column -->
	</div> <!-- row -->

	<div class="row">
		<div class= "col-md-6" style="padding:5px">
			<div class="draggable noselect paletteItem " id="paletteItemDatePicker">
					<i class="glyphicon glyphicon-calendar"></i>
					<div>Date Picker</div>
			</div>			
		</div> <!-- column -->
		<div class= "col-md-6" style="padding:5px">
			<div class="draggable noselect paletteItem"  id="paletteItemImage">
					<i class="glyphicon glyphicon-picture"></i>
					<div>Image</div>
			</div>			
		</div> <!-- column -->
	</div> <!-- row -->

	<div class="row">
		<div class= "col-md-6" style="padding:5px">
			<div class="draggable noselect paletteItem" id="paletteItemHtmlEditor">
					<i class="glyphicon glyphicon-align-justify"></i>
					<div>HTML Editor</div>
			</div>			
		</div> <!-- column -->
	</div> <!-- row -->
{{end}}

{{define "formDesignPalette"}}

	<div class="ui-layout-content">
		
		<div class="row paletteHeader">
			<div class= "col-md-12 text-center h5">
				Design Palette
			</div>
		</div>
		<div class="paletteItems">
			{{template "designFormPaletteItems"}}
		</div>
				
	</div> <!-- ui-layout-content -->

{{end}}

{{define "formDesignPropertiesSidebar"}}

	{{template "propertiesSidebarHeader"}}
		
	<div class="ui-layout-content" id="designFormPropertiesSidebarContent">
		{{template "propertyPanelGroupPrefix"}}
			{{template "formComponentProps" .}}
			{{template "formProps" .FormParams}}
		{{template "propertyPanelGroupSuffix"}}
				
	</div>
{{end}}

{{define "designForm"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
	
	{{template "genericCSS"}}
	{{template "commonCSS"}}
	{{template "formComponentsCSS"}}
	<link rel="stylesheet" type="text/css" class="ui" href="/static/common/designPalette/designPalette.css">
	<link rel="stylesheet" type="text/css" class="ui" href="/static/common/layout.css">
	<link rel="stylesheet" type="text/css" class="ui" href="/static/form/designForm.css">

	{{template "genericJS"}}
	{{template "commonJS"}}
	
	<script>var formID={{.FormID}};</script>
	<script>var tableID={{.TableID}};</script>
	<script>var designFormContext = { tableID:{{.TableID}},formID:{{.FormID}} } </script>
	
	<script src="/static/common/objectEdit/objectEditHelper.js"></script>
	<script src="/static/common/objectEdit/objectEdit.js"></script>
	
	
	<script src="/static/field/fieldInfo.js"></script>
		
	{{template "formComponentsJS"}}		
	
	<script src="/static/common/designPalette/designPalette.js"></script>
	<script src="/static/form/designForm.js"></script>
	
  </head>
  
  <body>
		<div id="layoutPage" class="layoutPageDiv">
			
			<div class="pane ui-layout-north">
				{{template "designFormHeader" .}}
			</div> <!-- north ui layout -->
			
			<div id="paletteSidebar" class="pane ui-layout-west paletteSidebar">
				{{template "formDesignPalette"}}
			</div>
		
			<div id="layoutCanvas" class="pane ui-layout-center droppable">
			</div> 

			<div class="pane ui-layout-east" id="propertiesPanelUILayout">
				{{template "formDesignPropertiesSidebar" .}}
			</div>
			
			<!-- The formula editor pane must come after the other panes to give it a higher z index -->
			<div id="formulaEditorPane" class="pane ui-layout-south" style="z-index:99 !important;">
				{{template "formulaEditor"}}
			</div>
			
		</div>
	
	{{template "newComponentDialogs" .}}
	   	   
  </body>
  
</html>

{{end}}