
{{define "designFormHeader"}}
	<div class="ui large breadcrumb">
	  {{template "homePageBreadcrumb"}}
	  <i class="right chevron icon divider"></i>
	  <a class="section"><i class="database icon"></i>Database Name</a>
	  <i class="right chevron icon divider"></i>
	  <a class="section" href="/viewForm/{{.FormID}}">{{.FormName}}</a>
	  <i class="right chevron icon divider"></i>
	  <div class="active section">Design Form</div>
	</div> <!-- breadcrumb header -->
{{end}}

{{define "formDesignPalette"}}

	<div class="ui small center aligned header" id="galleryHeader">
		<div class="content">
			Form Design Palette
	  	</div> 
	</div>   <!-- Header for Gallery Sidebar -->
	
	<div class="ui-layout-content">
		<div class="ui padded two column grid">
		
			<div class= "column">
				<div class="draggable noselect paletteItem" id="paletteItemTextBox">
						<i class="large font icon"></i>
						<div class="paletteItemSpacer"></div>
						<div>Text Box</div>
				</div>			
			</div> <!-- column -->
			<div class= "column">
				<div class="draggable noselect paletteItem" id="paletteItemCheckBox">
						<i class="large checkmark icon"></i>
						<div class="paletteItemSpacer"></div>
						<div>Check Box</div>
				</div>			
			</div> <!-- column -->
			<div class= "column">
				<div class="draggable noselect paletteItem " id="paletteItemDatePicker">
						<i class="large calendar icon"></i>
						<div class="paletteItemSpacer"></div>
						<div>Date Picker</div>
				</div>			
			</div> <!-- column -->
			<div class= "column">
				<div class="draggable noselect paletteItem"  id="paletteItemImage">
						<i class="large file image outline icon"></i>
						<div class="galleryItemSpacer"></div>
						<div class="shortPaletteItemLabel">Image</div>
				</div>			
			</div> <!-- column -->
			<div class= "column">
				<div class="draggable noselect paletteItem" id="paletteItemMultiLineText">
						<i class="large align justify icon"></i>
						<div>Multi-line Text</div>
				</div>			
			</div> <!-- column -->
		
		</div> <!-- Grid -->
	</div> <!-- UI Layout Content for Gallery Sidebar -->

{{end}}

{{define "formDesignPropertiesSidebar"}}
	<div class="ui small center aligned header" id="propertiesHeader">
		<div class="content">
			 <i class="options icon"></i>
			Properties
	  	</div>
	</div>
	
	<div class="ui-layout-content">
		
		{{template "formComponentProps"}}
		{{template "formProps"}}
				
	</div>
{{end}}

{{define "designForm"}}

<html>

  <head>
    <title>{{.Title}}</title>
	
	{{template "commonCSS"}}
	{{template "formComponentsCSS"}}
	<link rel="stylesheet" type="text/css" class="ui" href="/static/common/designPalette/designPalette.css">
	<link rel="stylesheet" type="text/css" class="ui" href="/static/common/layout.css">
	<link rel="stylesheet" type="text/css" class="ui" href="/static/form/designForm.css">

	{{template "commonJS"}}
	
	<script>var formID={{.FormID}};</script>
	<script src="/static/common/dialog/wizardDialog.js"></script>
	
	<script src="/static/common/objectEdit/objectEditHelper.js"></script>
	<script src="/static/common/objectEdit/objectEdit.js"></script>
	
	
	<script src="/static/field/fieldInfo.js"></script>
		
	{{template "formComponentsJS"}}		
	
	<script src="/static/common/designPalette/designPalette.js"></script>
	<script src="/static/form/designForm.js"></script>
	
  </head>
  
  <body>
	<form class="ui form" id="editLayoutForm" name="editLayoutForm">
		<div id="layoutPage" class="layoutPageDiv">
			
			<div class="pane ui-layout-north">
				{{template "designFormHeader" .}}
			</div> <!-- north ui layout -->
			
			<div id="gallerySidebar" class="pane ui-layout-west">
				{{template "formDesignPalette"}}
			</div>
		
			<div id="layoutCanvas" class="pane ui-layout-center droppable">
			</div> 

			<div class="pane ui-layout-east" id="propertiesPanelUILayout">
				{{template "formDesignPropertiesSidebar"}}
			</div>
			
			<!-- The formula editor pane must come after the other panes to give it a higher z index -->
			<div id="formulaEditorPane" class="pane ui-layout-south" style="z-index:99 !important;">
				{{template "formulaEditor"}}
			</div>
			
		</div>
	</form>	
	   
	{{template "newTextBoxDialog" .TextBoxParams}}
	{{template "newCheckboxDialog" .CheckboxParams}}
	   
  </body>
  
</html>

{{end}}