#viewFormPageHeaderUILayout {
	padding-top:5px; /* override the default 10px padding */
}

#recordFooterUILayout {
	overflow:hidden; /* disable scroll bars */
}

#formNameHeaderCol {
	 text-align:center;
}

#formNameHeader {
	margin-top:5px;
	margin-bottom:5px;
}
