

{{define "viewFormPageHeader"}}
	<div>
	  {{template "homePageBreadcrumb"}}
	  {{template "breadCrumbSeparator"}}
	  <a href="/" class="h4 breadCrumbText"><i class="fa fa-database" aria-hidden="true">&nbsp;Database Name</i></a>
	  {{template "breadCrumbSeparator"}}
	  <span class="h4 breadCrumbText">{{.FormName}}</span>
	</div> <!-- breadcrumb header -->
{{end}}

{{define "viewFormHeaderControls"}}
<div id="recordHeaderGrid">
		
		
	<div class="row">
		<div class= "col-md-6">
			<select class="form-control input-sm">
				 <option value="">Select Form</option>
				    <option value="form1">Entry</option>
				    <option value="form2">Exit</option>
				    <option value="form3">Post-mortem</option>
				</select>
		</div> <!-- column -->
		<div class= "col-md-6">
			<a href="/designForm/{{.TableID}}/{{.FormID}}" class="item">Edit Form Design</a>	
		</div> <!-- column -->
	</div> <!-- row -->
		
	
</div> <!-- #recordHeaderGrid  -->
{{end}}


{{define "viewFormFooterButtons"}}
	<button class="btn-primary btn-sm" id="prevRecordButton">Previous</button>
	<span id="recordNumLabel">&nbsp;</span>
	<button class="btn-primary btn-sm" id="nextRecordButton">Next </button>
	<button class="btn-primary btn-sm" id="newRecordButton">New Record</button>
{{end}}

{{define "viewFormFooterControls"}}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			{{template "viewFormFooterButtons"}}
		</div>
	</div>
</div> <!-- record footer grid -->
{{end}}

{{define "viewForm"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
	
	{{template "commonCSS"}}
	{{template "formComponentsCSS"}}
	{{template "formCommonSortCSS"}}
	<link rel="stylesheet" type="text/css" class="ui" href="/static/common/layout.css">
	<link rel="stylesheet" type="text/css" class="ui" href="/static/form/editRecord.css">

	{{template "commonJS"}}

	<script>var formID={{.FormID}};</script>
	<script>var tableID={{.TableID}};</script>
	<script>var viewFormContext = { formID:"{{.FormID}}", tableID:"{{.TableID}}" } </script>
	
	<script src="/static/common/objectEdit/objectEditHelper.js"></script>
	<script src="/static/field/fieldInfo.js"></script>

	{{template "formComponentsJS"}}
	{{template "formCommonSortJS"}}
	
	<script src="/static/form/recordSet.js"></script>
	<script src="/static/form/viewForm.js"></script>
			
  </head>
	
 	
	
  <body>
	{{template "recordFilterManageRecordsModal"}} 

	<div id="layoutPage" class="layoutPageDiv">
		
		<div class="pane ui-layout-north">
			{{template "viewFormPageHeader" .}}
		</div> <!-- ui layout north -->

		<div class="pane ui-layout-east" id="eastFilterSortPane">
			
			<div class="ui-layout-center" id="filterPaneUILayout">
				{{template "recordFilterPane"}}
			</div> <!-- ui-layout-center #filterPane -->
	
			<div class=" ui-layout-south" id="sortPaneUILayout">
				{{template "recordSortPane"}}
				
			    
			</div> <!-- ui-layout-south #sortPane -->
		
		</div> <!-- east filter & sort pane for entire page -->


		<div class="pane ui-layout-center" id="recordsPane">
			
			<div class="ui-layout-center" id="recordViewPane">
				
				<form class="ui form" id="editLayoutForm" name="editLayoutForm">
					<div class="layoutPageDiv" id="layoutPage">
						<div id="layoutCanvas"></div>
					</div>	
				</form>
				
			</div> <!-- ui-layout-center #recordHeader -->
	
			<div class=" ui-layout-south" id="recordFooterUILayout" >
				{{ template "viewFormFooterControls"}}
			</div>  <!-- #recordFooterUILayout ui-layout-south -->
			
			<!-- The style is overridden on the #recordHeader and semantic UI
			     grid divs to minimize the padding, so the buttons and selection
				 will be relatively compact within the header.
				
				It's also important for the ui-layout-north pane to come *last*
				in the HTML. This ensures the Z-order is setup so the menues in 
				the header can overflow the panes below it. See the jQuery UI
				layout documentation for more discussion on this.
				
				http://layout.jquery-dev.com/documentation.cfm#Drop-Downs	
			-->
			<div class="ui-layout-north" id="recordHeaderUILayout">
				{{template "viewFormHeaderControls" .}}
			</div> <!-- ui-layout-north #recordHeaderUILayout -->
				
		</div> <!-- center pane for entire page -->	
	</div> <!-- layout page -->
	
  </body>
  	
</html>

{{end}}