{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 {{define "summaryTableFilterProps"}}
{{end}}

{{define "summaryTableTitleProps"}}
	{{template "dashboardComponentTitlePropertyPanel" "summaryTable_"}}
{{end}}

{{define "summaryTableRowProps"}}
	{{template "dashboardComponentValueGroupingPropertyPanel" .}}
{{end}}

{{define "summaryTableColumnProps"}}
	{{template "dashboardComponentSummaryColumnsPropertyPanel" .}}
{{end}}

{{define "summaryTableProps"}}

	<div id="summaryTableProps" class="propertyPanelToggleContainer">
		{{template "propertyPanelPrefix" .TitlePanelParams}}
			{{template "summaryTableTitleProps"}}	
		{{template "propertyPanelSuffix"}}
		
		{{template "propertyPanelPrefix" .PreFilteringPanelParams}}
			{{template "recordFilterPropertyPanel" .PreFilterPropPanelParams}}
		{{template "propertyPanelSuffix"}}
		

		{{template "propertyPanelPrefix" .FilteringPanelParams}}
			{{template "recordFilterPropertyPanel" .FilterPropPanelParams}}
		{{template "propertyPanelSuffix"}}

		{{template "propertyPanelPrefix" .RowPanelParams}}
			{{template "summaryTableRowProps" .RowValueGroupingParams}}
		{{template "propertyPanelSuffix"}}

		{{template "propertyPanelPrefix" .ColPanelParams}}
			{{template "summaryTableColumnProps" .ColValueSummaryParams}}
		{{template "propertyPanelSuffix"}}

		{{template "componentHelpPopupPropertyPanel" .HelpPopupParams}}
		
		{{template "dashboardComponentDeletePropertyPanel" .DeletePanelParams}}
		
		
	</div>

{{end}}