.dashboardSummaryTableComponent {
	min-width:300px;
	min-height:100px;
	width: 300px;
	height: auto;
}

.dashboardSummaryTableComponent .tableContainer {
	position: absolute;
	right: 5px;
	left:5px;
	top:30px;
	bottom:5px;
}

.dashboardSummaryTableComponent td {
	text-align: right;
	padding-right: 20px;
}

.dashboardSummaryTableComponent table {
	margin-bottom: 0px;
}