{{define "formatNumberNumberSelectionOptions"}}
			<option value="">Select a format</option>
			<option value="general">General 1022.00</option>
			<option value="percent">Percent 5.55%</option>
			<option value="percent0">Percent 5%</option>
			<option value="percent1">Percent 5.5%</option>
			<option value="currency">Currency (USD) $1022.00</option>
			<option value="currency0prec">Currency (USD) $1022</option>
{{end}}

{{define "formatNumberSelection"}}

		<select class="form-control" id="{{.}}NumberFormatSelection">
			{{template "formatNumberNumberSelectionOptions"}}
		</select>


{{end}}