{{define "formComponentHtmlEditorJS"}}
	<script src="/static/form/components/htmlEditor/containerHTML.js"></script>
	<script src="/static/form/components/htmlEditor/newHtmlEditorDialog.js"></script>
	<script src="/static/form/components/htmlEditor/designFormConfig.js"></script>
	<script src="/static/form/components/htmlEditor/viewFormConfig.js"></script>
	<script src="/static/form/components/htmlEditor/properties.js"></script>
{{end}}

{{define "formComponentHtmlEditorCSS"}}
<link rel="stylesheet" type="text/css" class="ui" href="/static/form/components/htmlEditor/htmlEditor.css">
{{end}}