

/* Wizard panels are initially hidden. The first panel is shown when a dialog is first opened,
  then they're all hidden again after the dialog is closed. */
.wizardPanel {
	display:none;
}


/* Use with jQuery UI modal dialogs - this style will keep the dialog initially hidden from view and 
   allow menus and other elements to overflow the edge as appropriate */
.initiallyHiddenAllowOverflowDialog {
	overflow: visible !important;
	display:none;
}