

#recordHeaderUILayout,#recordFooterUILayout
{
	padding: 0px; // override jQuery UI Layout padding
}

#filterPaneUILayout,#sortPaneUILayout
{
	padding: 0px; // override jQuery UI Layout padding	
}


#recordHeaderGrid,#recordFooterGrid
{
	padding: 0px; // override Semantic UI padding
}


#recordsPane
{
	padding: 0px;
}

#sortHeader,#filterHeader
{
	padding: 8px;
	margin: 0px;
	background-color: lightGrey;
}

/* Override jQuery UI Layout div z indices. This is the only CSS or Javascript 
 override which fully fixes Semantic UI menus "under lapping" the center pane
 when they are opened from the north pane. With the north__showOverflowOnHover
 option set in the Javascript file, the menu will open and doesnt under-lap, 
 but it will then be hidden again when mousing over the center pane. 	*/
.ui-layout-north{
   z-index: 50 !important;
   overflow: visible !important;
}

/* Set the toggle buttons used for toggling the filter & sort pane on and off */

.toggler-east-closed { 
		 background-image:url(/image/fa-chevron-left_12_0_000000_none.png);
		 background-repeat: no-repeat;
		 background-position: center center;
 } 
	
.toggler-east-open {
		 background-image:url(/image/fa-chevron-right_12_0_000000_none.png);
		 background-repeat: no-repeat;
		 background-position: center center;
 	}
	