/* This file is part of the Resultra project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
 .buttonFormContainer {
	min-width:50px;
	width: 100px;
	height: auto;
}

.buttonTableCellContainer {
/*	When shown in a table, allow the button to size automatically */
	height: auto;
	overflow:none;
}

.buttonFormContainer .formHeader {
	margin-top: 5px;
	margin-bottom:5px;
}

.formButton {
	width: 100%;
}


/* Vertically center the button when shown in a table view */
td .buttonFormContainer {
	line-height: 34px;
}