.buttonFormContainer {
	min-width:50px;
	width: 100px;
	height: auto;
}

.buttonTableCellContainer {
/*	When shown in a table, allow the button to size automatically */
	height: auto;
	overflow:none;
}

.buttonFormContainer .formHeader {
	margin-top: 5px;
	margin-bottom:5px;
}

.formButton {
	width: 100%;
}


/* Vertically center the button when shown in a table view */
td .buttonFormContainer {
	line-height: 34px;
}