
{{define "formButtonColorSchemeProps"}}
	  <div class="form-group">
       	  <label for="adminButtonComponentColorSchemeSelection">Color scheme</label>
		  	<select class="form-control" id="adminButtonComponentColorSchemeSelection">
		  		<option disabled selected value="">Select a color scheme</option>
		  		<option value="default">Default</option>
		 		<option value="primary">Primary</option>
		 		<option value="success">Success</option>
		 		<option value="info">Info</option>
		 		<option value="warning">Warning</option>
		 		<option value="danger">Danger</option>
		 		<option value="link">Link</option>
			</select>
	  </div>
{{end}}

{{define "formButtonIconProps"}}
	  <div class="form-group">
       	  <label for="adminButtonComponentIconSelection">Icon</label>
		  	<select class="form-control" id="adminButtonComponentIconSelection">
		  		<option disabled selected value="">Select an icon</option>
		  		<option value="none">None</option>
		 		<option value="check">Check</option>
		 		<option value="enter">Enter</option>
		 		<option value="exit">Exit</option>
		 		<option value="calculator">Calculator</option>
		 		<option value="zoom">Zoom in</option>
		 		<option value="time">Time</option>
		 		<option value="cog">Gear</option>
		 		<option value="comment">Comment</option>
		 		<option value="option">Options</option>
		 		<option value="rchevron">Right Chevron</option>
			</select>
	  </div>
{{end}}

{{define "formButtonSizeProps"}}
	  <div class="form-group">
       	  <label for="adminButtonComponentSizeSelection">Button size</label>
		  	<select class="form-control" id="adminButtonComponentSizeSelection">
		  		<option disabled selected value="">Select a size</option>
		 		<option value="large">Large</option>
		 		<option value="medium">Medium</option>
		 		<option value="small">Small</option>
		 		<option value="xsmall">Extra Small</option>
			</select>
	  </div>
{{end}}


{{define "formButtonFormatProps"}}
     <form id="adminButtonComponentFormatForm">
		 
	  
	  {{template "formButtonSizeProps"}}
	  {{template "formButtonColorSchemeProps"}}
	  {{template "formButtonIconProps"}}
	  
    </form>
{{end}}


{{define "formButtonLinkedFormProps"}}

	Properties for linking button to a form go here.
	
{{end}}

{{define "formButtonWhereShowFormProps"}}
		<div class="form-group">
	
			<label for="formButtonPopupBehaviorSelection">Where to display form:</label>
			
			<select class="form-control" id="formButtonWhereShowFormSelection">
				<option disabled selected value="">Select</option>
				<option value="popup">Popup window on same page</option>
				<option value="newPage">Stand-alone page in new tab or window</option>
				<option value="page">Stand-alone page</option>
			</select>
			
		</div>
{{end}}

{{define "formButtonPopupBehaviorProps"}}
	
	<form id="formButtonPopupBehaviorForm">
		
		{{template "formButtonWhereShowFormProps"}}
			
		<div class="form-group">
	
			<label for="formButtonPopupBehaviorSelection">When to save changes:</label>

			<select class="form-control" id="formButtonPopupBehaviorSelection">
				<option disabled selected value="">Select a behavior</option>
				<option value="modeless">Save immediately</option>
				<option value="modal">Only when save button pressed</option>
			</select>
		</div>
	
	    <div class="form-group marginTop5" id="formButtonCustomModalSaveLabelFormGroup">
	      <label for="">Custom button label to save changes (optional):</label>
	      <input type="text" class="form-control" id="formButtonCustomModalSaveLabelInput" name="formButtonCustomModalSaveLabelInput">
	    </div>
	
	</form>

	<hr>

      <label>Default values to set when opening form:</label>
		{{template "defaultValuesPropertyPanel" .DefaultValuePanelParams}}

	
{{end}}



{{define "formButtonProps"}}

	<div id="formButtonProps" class="propertyPanelToggleContainer">
		
		{{template "propertyPanelPrefix" .LinkedFormPanelParams}}
			{{template "formButtonLinkedFormProps"}}
		{{template "propertyPanelSuffix"}}
		
		{{template "propertyPanelPrefix" .FormatPanelParams}}
			{{template "formButtonFormatProps"}}
		{{template "propertyPanelSuffix"}}
		
		{{template "propertyPanelPrefix" .PopupBehaviorPanelParams}}
			{{template "formButtonPopupBehaviorProps" .PopupBehaviorPropParams}}
		{{template "propertyPanelSuffix"}}

		{{template "componentVisibilityPropertyPanel" .VisibilityPanelParams}}
		
		{{template "componentDeletePropertyPanel" .DeletePanelParams}}
	</div>

{{end}}