
{{define "formButtonColorSchemeProps"}}
	  <div class="form-group">
       	  <label for="adminButtonComponentColorSchemeSelection">Color scheme</label>
		  	<select class="form-control" id="adminButtonComponentColorSchemeSelection">
		  		<option disabled selected value="">Select a color scheme</option>
		  		<option value="default">Default</option>
		 		<option value="primary">Primary</option>
		 		<option value="success">Success</option>
		 		<option value="info">Info</option>
		 		<option value="warning">Warning</option>
		 		<option value="danger">Danger</option>
		 		<option value="link">Link</option>
			</select>
	  </div>
{{end}}

{{define "formButtonIconProps"}}
	  <div class="form-group">
       	  <label for="adminButtonComponentIconSelection">Icon</label>
		  	<select class="form-control" id="adminButtonComponentIconSelection">
		  		<option disabled selected value="">Select an icon</option>
		  		<option value="none">None</option>
		 		<option value="check">Check</option>
		 		<option value="enter">Enter</option>
		 		<option value="exit">Exit</option>
		 		<option value="calculator">Calculator</option>
		 		<option value="zoom">Zoom in</option>
		 		<option value="time">Time</option>
		 		<option value="cog">Gear</option>
		 		<option value="comment">Comment</option>
		 		<option value="option">Options</option>
		 		<option value="rchevron">Right Chevron</option>
			</select>
	  </div>
{{end}}

{{define "formButtonSizeProps"}}
	  <div class="form-group">
       	  <label for="adminButtonComponentSizeSelection">Button size</label>
		  	<select class="form-control" id="adminButtonComponentSizeSelection">
		  		<option disabled selected value="">Select a size</option>
		 		<option value="large">Large</option>
		 		<option value="medium">Medium</option>
		 		<option value="small">Small</option>
		 		<option value="xsmall">Extra Small</option>
			</select>
	  </div>
{{end}}


{{define "formButtonFormatProps"}}
     <form id="adminButtonComponentFormatForm">
		 
	  
	  {{template "formButtonSizeProps"}}
	  {{template "formButtonColorSchemeProps"}}
	  {{template "formButtonIconProps"}}
	  
    </form>
{{end}}



{{define "formButtonPopupBehaviorProps"}}
	
		
	{{template "formButtonBehaviorProps"}}
		

	<hr>

      <label>Default values to set when opening form:</label>
		{{template "defaultValuesPropertyPanel" .DefaultValuePanelParams}}

	
{{end}}



{{define "formButtonProps"}}

	<div id="formButtonProps" class="propertyPanelToggleContainer">
				
		{{template "propertyPanelPrefix" .FormatPanelParams}}
			{{template "formButtonFormatProps"}}
		{{template "propertyPanelSuffix"}}
		
		{{template "propertyPanelPrefix" .PopupBehaviorPanelParams}}
			{{template "formButtonPopupBehaviorProps" .PopupBehaviorPropParams}}
		{{template "propertyPanelSuffix"}}

		{{template "componentVisibilityPropertyPanel" .VisibilityPanelParams}}
		
		{{template "componentDeletePropertyPanel" .DeletePanelParams}}
	</div>

{{end}}