{{define "formButtonFormatProps"}}
	Button formatting properties go here
{{end}}


{{define "formButtonLinkedFormProps"}}

	Properties for linking button to a form go here.
	
{{end}}

{{define "formButtonPopupBehaviorProps"}}
	
	<form class="form-inline" id="formButtonPopupBehaviorForm">
			
		<div class="form-group">
	
			<label for="formButtonPopupBehaviorSelection">When to save changes made in popup form:</label>

			<select class="form-control" id="formButtonPopupBehaviorSelection">
				<option disabled selected value="">Select a behavior</option>
				<option value="modeless">Save changes immediately</option>
				<option value="modal">Save changes when popup closes</option>
			</select>
		</div>
	
	    <div class="form-group marginTop5" id="formButtonCustomModalSaveLabelFormGroup">
	      <label for="">Custom button label to save changes and close popup (optional):</label>
	      <input type="text" class="form-control" id="formButtonCustomModalSaveLabelInput" name="formButtonCustomModalSaveLabelInput">
	    </div>
	
	</form>

	<hr>

      <label>Default values to set when opening popup form:</label>
		{{template "defaultValuesPropertyPanel" .DefaultValuePanelParams}}

	
{{end}}



{{define "formButtonProps"}}

	<div id="formButtonProps" class="propertyPanelToggleContainer">
		
		{{template "propertyPanelPrefix" .LinkedFormPanelParams}}
			{{template "formButtonLinkedFormProps"}}
		{{template "propertyPanelSuffix"}}
		
		{{template "propertyPanelPrefix" .FormatPanelParams}}
			{{template "formButtonFormatProps"}}
		{{template "propertyPanelSuffix"}}
		
		{{template "propertyPanelPrefix" .PopupBehaviorPanelParams}}
			{{template "formButtonPopupBehaviorProps" .PopupBehaviorPropParams}}
		{{template "propertyPanelSuffix"}}
	</div>

{{end}}