
.numberInputFormContainer 
{
	min-width:75px;
	width: 175px;
	height: auto;
}

.numberInputTableCellContainer
{
	min-width: 20px;
	width:100%;	
}

.numberInputComponent .form-group {
	margin-bottom:0px;
}

.numberInputComponent label {
	margin-bottom: 2px !important;
}

.numberInputComponent .input-group {
	width:100%;
}


.numberInputComponentInput {
	padding-left: 5px;
	padding-right: 5px;
}


.numberInputSpinnerControls {
  position: relative;
  white-space: nowrap;
  width: 2%;
  vertical-align: middle;
  display: table-cell;
}

.numberInputSpinnerControls > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}

.numberInputSpinnerControls > .btn:first-child {
  border-top-right-radius: 4px;
}

.numberInputSpinnerControls > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}

.numberInputSpinnerControls i {
  position: absolute;
  top: 0;
  left: 4px;
}