{{define "numberInputFormatProps"}}	
	{{template "formatNumberSelection" "numberInput_"}}
{{end}}



{{define "numberInputProps"}}

	<div id="numberInputProps" class="propertyPanelToggleContainer">

		{{template "componentLabelPropertyPanel" .LabelPanelParams}}

		{{template "propertyPanelPrefix" .FormatPanelParams}}
			{{template "numberInputFormatProps"}}
		{{template "propertyPanelSuffix"}}


		{{template "propertyPanelPrefix" .ValidationPanelParams}}
			{{template "numberInputValidationProps"}}
		{{template "propertyPanelSuffix"}}


		{{template "propertyPanelPrefix" .SpinnerPanelParams}}
			{{template "numberInputSpinnerProps"}}
		{{template "propertyPanelSuffix"}}


		{{template "componentVisibilityPropertyPanel" .VisibilityPanelParams}}

		{{template "componentPermissionProps" .PermissionPanelParams}}
		
		{{template "propertyPanelPrefix" .ClearValuePanelParams}}
			{{template "clearValueProps" .ElemPrefix}}
		{{template "propertyPanelSuffix"}}
		
		

		{{template "componentDeletePropertyPanel" .DeletePanelParams}}

	</div>

{{end}}