#itemListCenterContentHeaderCol {
	 text-align:center;
}

#itemListCenterContentHeader {
	margin-top:5px;
	margin-bottom:5px;
}

#itemListContentHeaderUILayout, #itemListContentFooterUILayout
{
	padding: 4px; /* override jQuery UI Layout padding */
	background-color: #EEEEEE;
}
