/* This file is part of the Resultra project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
 

#recordHeaderUILayout,#recordFooterUILayout
{
	padding: 4px; /* override jQuery UI Layout padding */
}

#filterPaneUILayout,#sortPaneUILayout
{
	padding: 0px; /* override jQuery UI Layout padding */
}

#recordsPane
{
	padding: 0px;
}

#sortHeader,#filterHeader
{
	padding: 8px;
	margin: 0px;
	background-color: lightGrey;
}

/* Configure the label in the footer to display the current record number */
#recordNumLabel
{
	width: 80px;
	height 20px;
	text-align: center;
	vertical-align: middle;
	line-height: 20px;
}


