{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 {{define "listViewMainProps"}}
	<div id="listViewProps" class="propertyPanelToggleContainer">
		
		{{template "propertyPanelPrefix" .DisplayPanelParams}}
			{{template "itemListViewSelection"}}
		{{template "propertyPanelSuffix"}}
		
		{{template "propertyPanelPrefix" .FilteringPanelParams}}
			{{template "recordFilterPane" .FilterConfigPanelParams}}
		{{template "propertyPanelSuffix"}}

		{{template "propertyPanelPrefix" .SortPanelParams}}
			{{template "recordSortPane"}}
		{{template "propertyPanelSuffix"}}
		
		
	</div>
{{end}}

{{define "listViewProps"}}

	<div id="listViewPropsSidebar">
		{{template "sidebarHeader" "List Options"}}
		
		<div class="ui-layout-content noPadding">
				{{template "propertyPanelGroupPrefix"}}
					{{template "listViewMainProps" .}}
					{{template "checkBoxViewProps" .ComponentParams.CheckBoxParams}}
					{{template "gaugeViewProps" .ComponentParams.GaugeParams}}
					{{template "ratingViewProps" .ComponentParams.RatingParams}}
					{{template "userSelectionViewProps" .ComponentParams.UserSelectionParams}}
					{{template "datePickerViewProps" .ComponentParams.DatePickerParams}}
					{{template "commentViewProps" .ComponentParams.CommentParams}}
					{{template "textBoxViewProps" .ComponentParams.TextBoxParams}}
					{{template "selectionViewProps" .ComponentParams.SelectionParams}}
					{{template "attachmentViewProps" .ComponentParams.AttachmentParams}}
					{{template "htmlEditorViewProps" .ComponentParams.HTMLEditorParams}}
				{{template "propertyPanelGroupSuffix"}}	
		</div>
	</div>


{{end}}