{{define "viewListBreadcrumbHeader"}}
	<div class="marginTop2">
	  {{template "homePageBreadcrumb"}}
	  {{template "breadCrumbSeparator"}}
	  {{template "trackerPageBreadcrumb" .}}
	  {{template "breadCrumbSeparator"}}
	  <span class="h4 breadCrumbText">{{.ListName}}</span>
	</div> <!-- breadcrumb header -->
{{end}}

{{define "viewListPageHeader"}}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8">
				{{template "viewListBreadcrumbHeader" .}}
			</div>
			<div class="col-sm-4">
				<div class="pull-right">
					{{template "userDropdownMenu"}}
				</div>
			</div>
		</div>
	</div>
{{end}}

{{define "viewListHeaderControls"}}
<div class="container-fluid" id="recordHeaderGrid">
	<div class="row">
		<div class= "col-sm-2">
			<button type="button" class="btn btn-default btn-sm" id="viewTableOfContentsMenuButton">
			  <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
			</button>
		</div> <!-- column -->
		<div class= "col-sm-8"  id="listNameHeaderCol">
			<h4 id="listNameHeader">{{.ListName}}</h4>
		</div> <!-- column -->
		<div class= "col-sm-2">
			<div class="pull-right">
				<button type="button" class="btn btn-default btn-sm" id="viewListOptionsButton">
				  <span class="fa fa-toggle-left fa-lg" aria-hidden="true"></span>
				</button>
			</div>
		</div> <!-- column -->
	</div> <!-- row -->
</div> <!-- #recordHeaderGrid  -->
{{end}}



{{define "viewListFooterControls"}}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			{{template "itemListPagingControls"}}
		</div>
	</div>
</div> <!-- record footer grid -->
{{end}}

{{define "listViewMainProps"}}
	<div id="listViewProps" class="propertyPanelToggleContainer">
		
		
		{{template "propertyPanelPrefix" .DisplayPanelParams}}
			{{template "itemListViewSelection"}}
		{{template "propertyPanelSuffix"}}
		
		{{template "propertyPanelPrefix" .FilteringPanelParams}}
			{{template "recordFilterPane" .FilterConfigPanelParams}}
		{{template "propertyPanelSuffix"}}

		{{template "propertyPanelPrefix" .SortPanelParams}}
			{{template "recordSortPane"}}
		{{template "propertyPanelSuffix"}}
		
		
	</div>
{{end}}

{{define "listViewProps"}}

	{{template "sidebarHeader" "List Options"}}
		
	<div class="ui-layout-content noPadding">
			{{template "propertyPanelGroupPrefix"}}
				{{template "listViewMainProps" .}}
				{{template "checkBoxViewProps" .ComponentParams.CheckBoxParams}}
				{{template "gaugeViewProps" .ComponentParams.GaugeParams}}
				{{template "ratingViewProps" .ComponentParams.RatingParams}}
				{{template "userSelectionViewProps" .ComponentParams.UserSelectionParams}}
				{{template "datePickerViewProps" .ComponentParams.DatePickerParams}}
				{{template "commentViewProps" .ComponentParams.CommentParams}}
				{{template "textBoxViewProps" .ComponentParams.TextBoxParams}}
				{{template "selectionViewProps" .ComponentParams.SelectionParams}}
				{{template "imageViewProps" .ComponentParams.ImageParams}}
				{{template "htmlEditorViewProps" .ComponentParams.HTMLEditorParams}}
			{{template "propertyPanelGroupSuffix"}}	
	</div>

{{end}}


{{define "viewList"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
	
	{{template "thirdPartyCSS"}}
	
	<!-- viewListAssets:css -->
	<!-- endinject -->
	
	<script>var viewListContext = {
		listID:"{{.ListID}}",
	 	databaseID: "{{.DatabaseID}}"} 
	</script>
	
	{{template "thirdPartyJS"}}
	
	<!-- viewListAssets:js -->
	<!-- endinject -->
				
  </head>
	
 	
	
  <body>

	<div id="layoutPage" class="layoutPageDiv">
		
		<div class="pane ui-layout-north">
			{{template "viewListPageHeader" .}}
		</div> <!-- ui layout north -->
		
		<div class="pane ui-layout-west" id="viewFormTocLayout">
			{{template "databaseTOC" .}}
		</div> <!-- ui layout north -->

		<div class="pane ui-layout-east noPadding">
			
			{{template "listViewProps" .}}
					
		</div> <!-- east filter & sort pane for entire page -->


		<div class="pane ui-layout-center" id="recordsPane">
			
			<div class="ui-layout-center" id="recordViewPane">
				
				<form class="ui form" id="editLayoutForm" name="editLayoutForm">
					<div class="layoutPageDiv" id="layoutPage">
						<div id="formViewContainer"></div>
						<div id="tableViewContainer"></div>
					</div>	
				</form>
				
			</div> <!-- ui-layout-center #recordHeader -->
	
			<div class=" ui-layout-south" id="recordFooterUILayout" >
				{{ template "viewListFooterControls"}}
			</div>  <!-- #recordFooterUILayout ui-layout-south -->
			
			<!-- The style is overridden on the #recordHeader and semantic UI
			     grid divs to minimize the padding, so the buttons and selection
				 will be relatively compact within the header.
				
				It's also important for the ui-layout-north pane to come *last*
				in the HTML. This ensures the Z-order is setup so the menues in 
				the header can overflow the panes below it. See the jQuery UI
				layout documentation for more discussion on this.
				
				http://layout.jquery-dev.com/documentation.cfm#Drop-Downs	
			-->
			<div class="ui-layout-north" id="recordHeaderUILayout">
				{{template "viewListHeaderControls" .}}
			</div> <!-- ui-layout-north #recordHeaderUILayout -->
				
		</div> <!-- center pane for entire page -->	
	</div> <!-- layout page -->
	
	{{template "submitFormDialog"}}
	{{template "attachmentTemplates"}}
	{{template "formButtonPopupFormDialog"}}

	
  </body>
  	
</html>

{{end}}