#recordFooterUILayout {
	overflow:hidden; /* disable scroll bars */
}

#listNameHeaderCol {
	 text-align:center;
}

#listNameHeader {
	margin-top:5px;
	margin-bottom:5px;
}

#recordViewPane {
	padding: 0px;
}


/* #layoutPage needs to fill the entire center div */  
#layoutPage {
	position: absolute;
	top: 0;
	bottom:0;
	left:0;
	right:0;
}