#viewListPageHeaderUILayout {
	padding-top:5px; /* override the default 10px padding */
}

#recordFooterUILayout {
	overflow:hidden; /* disable scroll bars */
}

#listNameHeaderCol {
	 text-align:center;
}

#listNameHeader {
	margin-top:5px;
	margin-bottom:5px;
}

#recordViewPane {
	padding: 0px;
}