{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 {{define "homePageBreadcrumb"}}
<a class="h4" id="HomeBreadcrumbLink"><i class="fa fa-home" aria-hidden="true">&nbsp;Trackers</i></a>
{{end}}

{{define "workspaceBreadcrumb"}}
<a class="h4" id="workspaceHomeBreadcrumbLink"><i class="fa fa-home" aria-hidden="true">&nbsp;{{.WorkspaceName}}</i></a>
{{end}}


{{define "trackerPageBreadcrumb"}}
<a class="h4" id="trackerBreadcrumbLink"><i class="fa fa-tasks"
		 aria-hidden="true">&nbsp;{{.DatabaseName}}</i></a>
{{end}}


{{define "breadCrumbSeparator"}}
	  <i class="fa fa-chevron-right" aria-hidden="true"></i>
{{end}}