{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 {{define "mainWindowBreadcrumbHeader"}}
	<div class="marginTop2" id="mainWindowBreadcrumbHeader">
	  {{template "workspaceBreadcrumb" .}}
	</div> <!-- breadcrumb header -->
{{end}}

{{define "mainWindowPageHeader"}}
	<div class="container-fluid paddingRight5 paddingLeft5">
		<div class="row">
			<div class="col-sm-6">
				{{template "mainWindowBreadcrumbHeader" .}}
			</div>
			<div class="col-sm-6 paddingRight5">
				<div class="pull-right" id="mainWindowHeaderButtons">
					<div id="mainWindowHeaderMenuButtons"></div>
					<div id="fixedHeaderMenuButtons">
						{{template "userDropdownMenu" .}}
						{{template "helpDropdownMenu"}}
					</div>
				</div>
			</div>
		</div>
	</div>
{{end}}