{{define "mainWindowBreadcrumbHeader"}}
	<div class="marginTop2">
	  {{template "workspaceBreadcrumb" .}}
	  <span id="trackerLocationBreadcrumb" class="h4 breadCrumbText"></span>
	</div> <!-- breadcrumb header -->
{{end}}

{{define "mainWindowPageHeader"}}
	<div class="container-fluid paddingRight5 paddingLeft5">
		<div class="row">
			<div class="col-sm-6">
				{{template "mainWindowBreadcrumbHeader" .}}
			</div>
			<div class="col-sm-6 paddingRight5">
				<div class="pull-right" id="mainWindowHeaderButtons">
					<div id="mainWindowHeaderMenuButtons"></div>
					<div id="fixedHeaderMenuButtons">
						{{template "userDropdownMenu" .}}
						{{template "helpDropdownMenu"}}
					</div>
				</div>
			</div>
		</div>
	</div>
{{end}}