


{{define "formProps"}}
	<div id="formProps" class="propertyPanelToggleContainer">
			  {{template "propertyPanelPrefix" .NamePanelParams}}
			  		{{template "formNamePropertyPanel"}}
			  {{template "propertyPanelSuffix"}}
  
			  {{template "propertyPanelPrefix" .RolesPanelParams}}
			  		{{template "formRolesPropertyPanel"}}
			  {{template "propertyPanelSuffix"}}
			  
			  {{template "propertyPanelPrefix" .NewItemPanelParams}}
			  		{{template "formNewItemPropertyPanel"}}
			  {{template "propertyPanelSuffix"}}
	</div>
{{end}}