{{define "calcFieldFuncDropdown"}}
	<div class="ui search selection dropdown" id="calcFieldFuncSelectionDropdown">
		<input type="hidden" name="caldFieldFuncSelection">
		<div class="default text">
			Insert a Function
		</div>
		<div class="menu" id="calcFieldFuncSelectionMenu">
			<div class="item" data-value="dummy1">
				<b>Dummy</b> - Dummy Item - populated using calcField.js
			</div>
		</div><!-- menu -->
	</div><!-- dropdown -->
{{end}}

{{define "calcFieldFuncSelectionButton"}}
	<button id="calcFieldInsertSelectedFuncButton">
			<i class="angle double down icon"></i>
	</button>
{{end}}

{{define "calcFieldFuncSelection"}}
		{{template "calcFieldFuncDropdown"}}
		{{template "calcFieldFuncSelectionButton"}}
{{end}}

{{define "calcFieldFieldRefDropdown"}}
	<div class="ui search selection dropdown" id="calcFieldFieldRefDropdown">
		<input type="hidden" name="calcFieldFieldRef">
		<div class="default text">
			Insert a Field Reference
		</div>
		<div class="menu" id="calcFieldFieldRefDropdownMenu">
			<div class="item" data-value="dummy1">
				<b>Dummy</b> - Dummy Item - populated using calcField.js
			</div>
		</div><!-- menu -->
	</div><!-- dropdown -->
{{end}}


{{define "calcFieldRefSelectionButton"}}
		<button id="calcFieldInsertSelectedFieldRefButton">
			<i class="angle double down icon"></i>
		</button>
{{end}}

{{define "calcFieldValidationMsgBoxes"}}
		<div class="ui error message" id="calcFieldErrorMsgBox">
			<p>
				Enter the information for the new field to store the values for this text box.
			</p>
		</div>
		<div class="ui success message" id="calcFieldSuccessMsgBox">
		</div>
{{end}}



{{define "calcFieldFieldRefSelection"}}
		{{template "calcFieldFieldRefDropdown"}}
		{{template "calcFieldRefSelectionButton"}}
{{end}}


{{define "calcFieldFormulaSelections"}}
		{{template "calcFieldFuncSelection"}}
		 &nbsp;&nbsp; &nbsp;&nbsp;
		{{template "calcFieldFieldRefSelection"}}
{{end}}


{{define "calcFieldFormulaTextArea"}}
		<div class="sixteen wide field">
			<label>Calculated Field Formula</label> 
			<textarea id="calcFieldFormulaTextArea" rows="2"></textarea>
		</div>
{{end}}
