{{define "designForm"}}

<html>
  <head>
    <title>{{.Title}}</title>
	
	{{template "commonCSS"}}
	<link rel="stylesheet" type="text/css" class="ui" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" class="ui" href="/css/designForm.css">

	{{template "commonJS"}}
	<script>var layoutID={{.LayoutID}};</script>
	<script src="/js/layoutCommon.js"></script>
	<script src="/js/designForm.js"></script>
	
  </head>
  <body>
	<form class="ui form" id="editLayoutForm" name="editLayoutForm">
		<div id="layoutPage" class="layoutPageDiv">
		
			<div class="pane ui-layout-north">
				<div class="ui large breadcrumb">
				  {{template "homePageBreadcrumb"}}
				  <i class="right chevron icon divider"></i>
				  <a class="section"><i class="database icon"></i>Database Name</a>
				  <i class="right chevron icon divider"></i>
				  <a class="section" href="/viewForm/{{.LayoutID}}">{{.LayoutName}}</a>
				  <i class="right chevron icon divider"></i>
				  <div class="active section">Design Form</div>
				</div> <!-- breadcrumb header -->
			</div> <!-- north ui layout -->
			
			<div id="gallerySidebar" class="pane ui-layout-west">
				
				
				<div class="ui small center aligned header" id="galleryHeader">
		  			<div class="content">
		    			Form Design Palette
		  		  	</div> 
		  		</div>   <!-- Header for Gallery Sidebar -->
				<div class="ui-layout-content">
					<div class="ui padded two column grid">
					
						<div class= "column">
							<div class="draggable noselect newField">
									<i class="large font icon"></i>
									<div class="galleryItemSpacer"></div>
									<div>Text Box</div>
							</div>			
						</div> <!-- column -->
						<div class= "column">
							<div class="draggable noselect newField">
									<i class="large checkmark icon"></i>
									<div class="galleryItemSpacer"></div>
									<div>Check Box</div>
							</div>			
						</div> <!-- column -->
						<div class= "column">
							<div class="draggable noselect newField ">
									<i class="large calendar icon"></i>
									<div class="galleryItemSpacer"></div>
									<div>Date Picker</div>
							</div>			
						</div> <!-- column -->
						<div class= "column">
							<div class="draggable noselect newField">
									<i class="large file image outline icon"></i>
									<div class="galleryItemSpacer"></div>
									<div class="shortGalleryItemLabel">Image</div>
							</div>			
						</div> <!-- column -->
						<div class= "column">
							<div class="draggable noselect newField">
									<i class="large align justify icon"></i>
									<div>Multi-line Text</div>
							</div>			
						</div> <!-- column -->
					
					</div> <!-- Grid -->
				</div> <!-- UI Layout Content for Gallery Sidebar -->
				
			</div>
		
			<div id="layoutCanvas" class="pane ui-layout-center droppable">
			</div> 
		
		
			<div class="pane ui-layout-east" id="propertiesPanelUILayout">
				<div class="ui small center aligned header" id="propertiesHeader">
		  			<div class="content">
		  				 <i class="options icon"></i>
		    			Properties
		  		  	</div>
		  		</div>
				<div class="ui-layout-content">
					<p>Properties options will go here - header shouldn't scroll'</p>
					<p>Properties options go here</p>
					<p>Properties options go here</p>
					<p>Properties options go here</p>
					<p>Properties options go here</p>
					<p>Properties options go here</p>
					<p>Properties options go here</p>
					<p>Properties options go here</p>
					<p>Properties options go here</p>
					<p>Properties options go here</p>
					<p>Properties options go here</p>
					<p>Properties options go here</p>
					<p>Properties options go here</p>
					<p>Properties options go here</p>
					<p>Properties options go here</p>
					<p>Properties options go here</p>
					<p>Properties options go here</p>
					<p>Properties options go here</p>
					<p>Properties options go here</p>
					<p>Properties options go here</p>
					<p>Properties options go here</p>
					<p>Properties options go here</p>
					<p>Properties options go here</p>
					<p>Properties options go here</p>
					<p>Properties options go here</p>
				</div>
			
			</div>
		</div>
	</form>
	  	  
	
		<div id="newTextBox" title="New Text Box">
			<div class="ui tiny progress" id="newTextBoxProgress">
			  <div class="bar"></div>
			</div>
			
				<div id="newTextBoxDlgSelectOrNewFieldPanel" class="wizardPanel">
					<form class="ui form">
						<div class="ui info message" >
							<p>
								Values from text boxes are stored in fields. Either a new field can be created for this
								text box, or an existing field can be used.
							</p>
						</div>
						<div class="grouped field">
							<label>Where should values from this text box be stored?</label>
							<div class="field">
								<div class="ui radio checkbox">
								  <input type="radio" id="createNewFieldRadio" name="newOrExistingRadio" checked="checked" value="new">
								  <label>Create a new field</label>
								</div>
							</div>
							<div class="field">
								<div class="ui radio checkbox">
							 	   <input type="radio" id="useExistingFieldRadio" name="newOrExistingRadio" value="existing">
							  	 <label>Use an existing field</label>
								</div>
							</div>
							
						</div>
						<div class="inline field" id="selectExistingFieldField">
							<label>Existing fields:</label> <select class="ui dropdown" id="textBoxFieldSelection" name="textBoxFieldSelection">
								<option value="">
									Select a field
								</option>
							</select>
						</div>
					</form> <!-- form for panel -->
				</div> <!-- panel for selecting new field or choosing to create a new one -->
				
				<div id="newTextBoxDlgNewFieldPanel" class="wizardPanel">
						
					<form class="ui form error">
						<div class="ui info message">
							<p>
								Enter the information for the new field to store the values for this text box.
							</p>
						</div>
						
						 <!-- important: for the messages to actually appear, 
							 the error class must also be referenced in the form tag above -->
						<div class="ui error message wizardErrorMsgBlock"></div>
						
						<h4 class="ui dividing header">Basic Field Information</h4>
						
						<div class="fields">
						    <div class="field">
							      <label>Field Name</label>
							      <input type="text" name="newFieldName" placeholder="Enter a Field Name">
						    </div> <!-- Field name field -->
						
							<div class="field">
								<label>Type of Value</label> 
								<select class="ui dropdown" id="newFieldValTypeSelection" name="newFieldValTypeSelection">
									<option value="">Select a Type</option>
									<option value="number">Number</option>
									<option value="text">Text</option>
								</select>
							</div> <!-- Value type field -->
						</div> <!-- fields -->
						
						<h4 class="ui dividing header">Calculated Field Settings</h4>
						
						<div class="field">
					      <div class="ui checkbox" id="isCalcFieldCheckbox">
					        <input type="checkbox" name="isCalcField" tabindex="0">
					        <label>Values for this field are calculated from other fields.</label>
					      </div>
					    </div> <!-- isCalcField checkbox field -->
						
						<!-- The use of "inline field" causes the field label to be displayed side-by-side 
							with the input box. It also allows the help button to align horizontally with the 
							input box, using semantic UI form layout. There might be some other way to do this,
							but this was found to be the most straightforward. -->
					    <div class="inline field" >
						      <label >Reference Name </label>
								  <input type="text" id="newFieldRefName" name="newFieldRefName" placeholder="Enter a Reference Name">
					  		<a id="newRefNameHelp"
					  		 data-content="A reference name is the short-hand name used to refer to this field from other calculated fields' formulas." 
					  		 class="ui small blue circular label">?</a>
						  		
								
						</div> <!-- reference name field -->
   						
						
					</form> <!-- form for panel -->
				</div> <!-- panel for giving the parameters for the new field -->
				
				<div id="newTextBoxDlgCalcFieldFormulaPanel" class="wizardPanel">
						
						<div class="ui info message" >
							<p>
								Enter a formula for the calculated field.
							</p>
						</div>
						
						<form class="ui form error">
						
						<div class="field">
							<label>Calculated Field Formula</label> 
							<textarea rows=3></textarea>
						</div>
					</form> <!-- form for panel -->
				</div> <!-- panel for editing the calculated field formula -->
	
				<div id="newTextBoxValidateFormatEntriesPanel" class="wizardPanel">
						
						<form class="ui form error">
			
						<div class="field">
							<label>Validation</label> 
								<select class="ui dropdown" id="newTextBoxValidationSelection" name="newTextBoxValidationSelection">
									<option value="">Select a Type</option>
									<option value="number">Not Zero</option>
									<option value="text">Positive Number</option>
								</select>
						</div>

						<div class="field">
							<label>Format Values</label> 
								<select class="ui dropdown" id="newTextBoxFormattingSelection" name="newTextBoxFormattingSelection">
									<option value="">Select Formatting</option>
									<option value="number">Currency</option>
									<option value="text">Percent</option>
								</select>
						</div>


					</form> <!-- form for panel -->
				</div> <!-- panel for editing the calculated field formula -->
	
				
		</div> // new text box

		</form>
		
	</div>
	  
  </form>
	
	   
  </body>
  
</html>

{{end}}