{{define "editRecord"}}

<html>
  <head>
    <title>{{.Title}}</title>
	
	{{template "commonCSS"}}
	<link rel="stylesheet" type="text/css" class="ui" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" class="ui" href="/css/editRecord.css">

	{{template "commonJS"}}
	<script>var layoutID={{.LayoutID}};</script>
	
	<script src="/js/layoutCommon.js"></script>
	<script src="/js/editRecord.js"></script>
			
  </head>
  <body>
	<div id="layoutPage" class="layoutPageDiv">
		<div class="pane ui-layout-north">
				<div class="ui large breadcrumb">
				  <a class="section"><i class="home icon"></i>Home</a>
				  <i class="right chevron icon divider"></i>
				  <a class="section"><i class="database icon"></i>Database Name</a>
				  <i class="right chevron icon divider"></i>
				  <div class="active section">Form Name</div>
				</div> <!-- breadcrumb header -->
		</div> <!-- ui layout north -->

		<div class="pane ui-layout-east" id="eastFilterSortPane">
			
			<div class="ui-layout-center" id="filterPaneUILayout">
				<div class="ui small center aligned header" id="filterHeader">
		  			<div class="content">
		  			 <i class="filter icon"></i>
		    			Filter
		  		  	</div>
				</div>
				<div class="ui-layout-content">
					<p>Filter options will go here - header shouldn't scroll'</p>
					<p>Filter options go here</p>
					<p>Filter options go here</p>
					<p>Filter options go here</p>
					<p>Filter options go here</p>
					<p>Filter options go here</p>
					<p>Filter options go here</p>
					<p>Filter options go here</p>
					<p>Filter options go here</p>
					<p>Filter options go here</p>
					<p>Filter options go here</p>
					<p>Filter options go here</p>
					<p>Filter options go here</p>
					<p>Filter options go here</p>
					<p>Filter options go here</p>
					<p>Filter options go here</p>
					<p>Filter options go here</p>
				</div>
			</div> <!-- ui-layout-center #filterPane -->
	
			<div class=" ui-layout-south" id="sortPaneUILayout">
				<div class="ui small center aligned header" id="sortHeader">
		  			<div class="content">
		  			 <i class="sort icon"></i>
		    			Sort
		  		  	</div>
		  		</div>
				<div class="ui-layout-content">
					<p>Sort options will go here - header shouldn't scroll'</p>
					<p>Sort options go here</p>
					<p>Sort options go here</p>
					<p>Sort options go here</p>
					<p>Sort options go here</p>
					<p>Sort options go here</p>
					<p>Sort options go here</p>
					<p>Sort options go here</p>
					<p>Sort options go here</p>
					<p>Sort options go here</p>
					<p>Sort options go here</p>
					<p>Sort options go here</p>
					<p>Sort options go here</p>
					<p>Sort options go here</p>
					<p>Sort options go here</p>
					<p>Sort options go here</p>
					<p>Sort options go here</p>
				</div>
			</div> <!-- ui-layout-south #sortPane -->
			
			
		
		</div> <!-- east filter & sort pane for entire page -->


		<div class="pane ui-layout-center" id="recordsPane">
			
			<div class="ui-layout-center" id="recordViewPane">
				<form class="ui form" id="editLayoutForm" name="editLayoutForm">
					<div class="layoutPageDiv" id="layoutPage">
						<div id="layoutCanvas"></div>
					</div>	
				</form>
			</div> <!-- ui-layout-center #recordHeader -->
	
			<div class=" ui-layout-south" id="recordFooterUILayout" >
				<div ui class="grey ui padded grid" id="recordFooterGrid">

					<div class="ui eight wide grey column" style="padding:3px">
						<button class="ui left labeled icon button" id="prevRecordButton">
						  <i class="left arrow icon"></i>
						  Previous
						</button>
						<div class="ui label" id="recordNumLabel">&nbsp;</div>
						<button class="ui right labeled icon button" id="nextRecordButton">
						  <i class="right arrow icon"></i>
						  Next
						</button>
					</div> <!-- column -->

					<div class="ui eight wide grey column" style="padding:3px">
						<button class="ui left labeled right floated icon button" id="newRecordButton">
						  <i class="add icon"></i>
						  New Record
						</button>
					</div> <!-- column -->

				</div> <!-- record footer grid -->
			</div>  <!-- #recordFooterUILayout ui-layout-south -->
			
			<!-- The style is overridden on the #recordHeader and semantic UI
			     grid divs to minimize the padding, so the buttons and selection
				 will be relatively compact within the header.
				
				It's also important for the ui-layout-north pane to come *last*
				in the HTML. This ensures the Z-order is setup so the menues in 
				the header can overflow the panes below it. See the jQuery UI
				layout documentation for more discussion on this.
				
				http://layout.jquery-dev.com/documentation.cfm#Drop-Downs	
			-->
			<div class="ui-layout-north" id="recordHeaderUILayout">
				
				<div ui class="ui padded grid" id="recordHeaderGrid">
					
					<div class="ui four wide grey column" style="padding:3px">
						<div class="compact ui buttons">
						    <button class="ui button">Single</button>
							<div class="or"></div>
						    <button class="ui button">List</button>
						</div>
					</div> <!-- column -->
					
					<div class="ui eight wide grey column" style="padding:3px">
						View with:
						<select class="ui selection dropdown">
						  	<option value="">Form</option>
						    <option value="form1">Entry</option>
						    <option value="form2">Exit</option>
						    <option value="form3">Post-mortem</option>
						</select>
					</div> <!-- column -->
					
					<div class="ui four wide grey column" style="padding:3px">
						<div class="ui icon right floated pointing dropdown button" id="moreDropdown">
							 <i class="dropdown icon"></i>
							<div class="left menu">
								<div class="item">Print</div>
								<div class="item">Export CSV</div>
							</div> <!-- menu -->
						</div> <!-- ui dropdown -->
					</div> <!-- column -->
					
				</div> <!-- #recordHeaderGrid  -->
			</div> <!-- ui-layout-north #recordHeaderUILayout -->
				
		</div> <!-- center pane for entire page -->
		
	</div> <!-- layout page -->
	  	
  </body>
  
</html>

{{end}}