{{define "editLayout"}}

<html>
  <head>
    <title>{{.Title}}</title>
	
	{{template "commonCSS"}}
	<link rel="stylesheet" type="text/css" class="ui" href="/css/layout.css">

	{{template "commonJS"}}
	<script>var layoutID={{.LayoutID}};</script>
	<script src="/js/layout.js"></script>
	
  </head>
  <body>
	  <h1>{{.Title}} ID={{.LayoutID}}</h1>
	  
	<form class="ui form" id="editLayoutForm" name="editLayoutForm">
		<div class="layoutPageDiv" id="layoutPage">
			<div id="gallerySidebar">
				Gallery
				<div class="draggable newField">
					<p class="noselect">New Field</p>
				</div>
			</div>
			<div id="layoutCanvas" class="droppable">
			</div>
			<div id="propertiesSidebar">
				Properties
			</div>
		</div>
		
	</form>
	
	<div id="newTextBox" title="New Text Box">
		<form class="ui form">
			
			<div class="ui  info message">
				<p>Select a field to edit using this text box.</p>
			</div>
			
			<div class="ui error message"></div>
			
		    <div class="field">
		      <label>Field</label>
				<select class="ui dropdown" name="textBoxFieldSelection" id="textBoxFieldSelection", name="textBoxFieldSelection">
				  <option value="">Field to edit</option>
				</select> 
		    </div>

		</form>
		
	</div>
	  
  </form>
	
	   
  </body>
  
</html>

{{end}}