{{define "editRecord"}}

<html>
  <head>
    <title>{{.Title}}</title>
	
	{{template "commonCSS"}}
	<link rel="stylesheet" type="text/css" class="ui" href="/css/layout.css">

	{{template "commonJS"}}
	<script>var layoutID={{.LayoutID}};</script>
	<script>var recordID={{.RecordID}};</script>
	
	<script src="/js/layoutCommon.js"></script>
	<script src="/js/editRecord.js"></script>
			
  </head>
  <body>
	<div id="layoutPage" class="layoutPageDiv">
		<div class="pane ui-layout-north">
	 	   Header {{.Title}} -- Layout ID={{.LayoutID}}  Record ID={{.RecordID}}
		</div>
		<div class="pane ui-layout-center">
			<form class="ui form" id="editLayoutForm" name="editLayoutForm">
				<div class="layoutPageDiv" id="layoutPage">
					<div id="layoutCanvas"></div>
				</div>	
			</form>
		</div>
		<div class="pane ui-layout-east">Filter</div>
		<div class="pane ui-layout-south">Footer</div>
	</div>
	  	
  </body>
  
</html>

{{end}}