{{define "editLayout"}}

<html>
  <head>
    <title>{{.Title}}</title>
	
	{{template "commonCSS"}}
	<link rel="stylesheet" type="text/css" class="ui" href="/css/layout.css">

	{{template "commonJS"}}
	<script>var layoutID={{.LayoutID}};</script>
	<script src="/js/layoutCommon.js"></script>
	<script src="/js/editLayout.js"></script>
	
  </head>
  <body>
	<form class="ui form" id="editLayoutForm" name="editLayoutForm">
		<div id="layoutPage" class="layoutPageDiv">
		
			<div class="pane ui-layout-north">
		 	   Header {{.Title}} -- Layout ID={{.LayoutID}}
			</div>
			
			<div id="gallerySidebar" class="pane ui-layout-west">
				
				
				<div class="ui small center aligned header" id="galleryHeader">
		  			<div class="center content">
		    			Form Design Palette
		  		  	</div> 
		  		</div>   <!-- Header for Gallery Sidebar -->
				<div class="ui-layout-content">
					<div class="ui padded two column grid">
					
						<div class= "column">
							<div class="draggable noselect newField">
									<i class="large font icon"></i>
									<div class="galleryItemSpacer"></div>
									<div>Text Box</div>
							</div>			
						</div> <!-- column -->
						<div class= "column">
							<div class="draggable noselect newField">
									<i class="large checkmark icon"></i>
									<div class="galleryItemSpacer"></div>
									<div>Check Box</div>
							</div>			
						</div> <!-- column -->
						<div class= "column">
							<div class="draggable noselect newField ">
									<i class="large calendar icon"></i>
									<div class="galleryItemSpacer"></div>
									<div>Date Picker</div>
							</div>			
						</div> <!-- column -->
						<div class= "column">
							<div class="draggable noselect newField">
									<i class="large file image outline icon"></i>
									<div class="galleryItemSpacer"></div>
									<div class="shortGalleryItemLabel">Image</div>
							</div>			
						</div> <!-- column -->
						<div class= "column">
							<div class="draggable noselect newField">
									<i class="large align justify icon"></i>
									<div>Multi-line Text</div>
							</div>			
						</div> <!-- column -->
					
					</div> <!-- Grid -->
				</div> <!-- UI Layout Content for Gallery Sidebar -->
				
			</div>
		
			<div id="layoutCanvas" class="pane ui-layout-center droppable">
			</div> 
		
		
			<div class="pane ui-layout-east">Properties</div>
			<div class="pane ui-layout-south">Footer</div>
		</div>
	</form>
	  	  
	
	<div id="newTextBox" title="New Text Box">
		<form class="ui form">
			
			<div class="ui  info message">
				<p>Select a field to edit using this text box.</p>
			</div>
			
			<div class="ui error message"></div>
			
		    <div class="field">
		      <label>Field</label>
				<select class="ui dropdown" name="textBoxFieldSelection" id="textBoxFieldSelection", name="textBoxFieldSelection">
				  <option value="">Field to edit</option>
				</select> 
		    </div>

		</form>
		
	</div>
	  
  </form>
	
	   
  </body>
  
</html>

{{end}}