


{{define "filterRecordsSelectFilterRuleDropdown"}}
<div class="field">
	<label>Filtering rule</label>
	<div class="ui search selection dropdown" id="filterRecordsSelectFilterRuleDropdown">
		<input type="hidden" name="calcFieldID">
		<div class="default text">
			Select a rule
		</div>
		<div class="menu" id="filterRecordsSelectFilterRuleDropdownMenu">
			<div class="item" data-value="dummy1">
				<b>Dummy</b> - Dummy Item - populated using filterRecords.js
			</div>
		</div><!-- menu -->
	</div><!-- dropdown -->
</div>
{{end}}

{{define "filterRecordsSelectFieldDropdown"}}
<div class="field">
	<label>Field</label>
	<div class="ui search selection dropdown" id="filterRecordsSelectFieldDropdown">
		<input type="hidden" name="calcFieldID">
		<div class="default text">
			Select a field
		</div>
		<div class="menu" id="filterRecordsSelectFieldDropdownMenu">
			<div class="item" data-value="dummy1">
				<b>Dummy</b> - Dummy Item - populated using filterRecords.js
			</div>
		</div><!-- menu -->
	</div><!-- dropdown -->
</div>
{{end}}

{{define "filterRecordsFilterRuleParamInput"}}

<div class="field" id="filterRecordsFilterRuleParamInputField">
      <label id="filterRecordsFilterRuleParamLabel">Filtering parameter</label>
      <input type="text" name="filterRecordsFilterRuleParamInput" placeholder="">
</div> <!-- Field name field -->

{{end}}


{{define "filterRecordsAddFilterDialog"}}

<div id="filterRecordsAddFilterDialog" title="Add Filtering Rule" class="initiallyHiddenDialog">
  <form class="ui form error">
	<div class="ui info message">
		<p>
			Filter records using the selected field and values matching the filtering rule.
		</p>
	</div>
  	 {{ template "filterRecordsSelectFieldDropdown" }}
  	 {{ template "filterRecordsSelectFilterRuleDropdown" }}
	 {{ template "filterRecordsFilterRuleParamInput" }}
	 
  </form>
</div>

{{end}}

{{define "filterRecordsAddFilterButton"}}

<button class="ui tiny icon button" id="filterRecordsAddFilterButton" style="vertical-align:middle">
	<i class="plus icon" style="margin-right:0px"></i>
</button>

<!-- The dialog is initially hidden, but is referenced when opened by filterRecords.js.
     Note the recommendation for jQuery UI dialogs is to put this kind of placeholder
	HTML at the end of the page before the closing <body> tag. However, this was found
    to cause an unwanted space to the side of the UI layout panel. -->
{{ template "filterRecordsAddFilterDialog" }}

{{end}}