<html>
  <head>
    <title>{{.Title}}</title>
	
	<link rel="stylesheet" type="text/css" class="ui" 		href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
	
	<link rel="stylesheet" type="text/css" class="ui" 		
	href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">

	<!-- TBD - the following are 3 common include files needed throughout the project
		It is clumsy to include them in every single HTML file and manage the 
		dependencies for local js files this way. Can this be handled better
		through golang's template system? -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
	<script src="js/root.js"></script>
	
	
  </head>
  <body>
	  <h1>{{.Title}}</h1>
	  
	  <button class="ui primary button" id="action-button">Click to load page info!</button>
	  
	  <div id="info"></div>
	  <table id="datatable" class="display" cellspacing="0" width="80%"></table>
	  
  </body>
  
</html>