{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 {{define "gaugeFormatProps"}}
	{{template "formatNumberSelection" "gauge_"}}
{{end}}


{{define "gaugeThresholdProps"}}
	{{template "valueThresholdPropertyPanel" .ThresholdValueParams}}
{{end}}


{{define "gaugeProps"}}

	<div id="gaugeProps" class="propertyPanelToggleContainer">
		
		{{template "componentLabelPropertyPanel" .LabelPanelParams}}

		{{template "propertyPanelPrefix" .FormatPanelParams}}
			{{template "gaugeFormatProps"}}
		{{template "propertyPanelSuffix"}}
		
		{{template "propertyPanelPrefix" .RangePanelParams}}
			{{template "gaugeRangeProps"}}
		{{template "propertyPanelSuffix"}}

		{{template "propertyPanelPrefix" .ThresholdPanelParams}}
			{{template "valueThresholdPropertyPanel" .ThresholdValueParams}}
		{{template "propertyPanelSuffix"}}

		{{template "componentVisibilityPropertyPanel" .VisibilityPanelParams}}

		{{template "componentHelpPopupPropertyPanel" .HelpPopupParams}}
		
		{{template "componentDeletePropertyPanel" .DeletePanelParams}}		
	</div>

{{end}}