{{define "gaugeFormatProps"}}
	{{template "formatNumberSelection" "gauge_"}}
{{end}}

{{define "gaugeRangeProps"}}
	<form class="form" id="gaugeRangePropForm">
		<div class="form-group">
	    	<label for="gaugeRangeMinVal">Minimum value:</label>
	    	<input type="text" class="form-control" id="gaugeRangeMinVal" name="gaugeRangeMinVal" placeholder="Minimum value">
	  	</div>
	  	<div class="form-group">
	   	 	<label for="gaugeRangeMaxVal">Maximum value:</label>
	    	<input type="text" class="form-control" id="gaugeRangeMaxVal" name="gaugeRangeMaxVal" placeholder="Maximum value">
	  	</div>
  </form>
{{end}}

{{define "gaugeThresholdProps"}}
	{{template "valueThresholdPropertyPanel" .ThresholdValueParams}}
{{end}}


{{define "gaugeProps"}}

	<div id="gaugeProps" class="propertyPanelToggleContainer">
		
		{{template "componentLabelPropertyPanel" .LabelPanelParams}}

		{{template "propertyPanelPrefix" .FormatPanelParams}}
			{{template "gaugeFormatProps"}}
		{{template "propertyPanelSuffix"}}
		
		{{template "propertyPanelPrefix" .RangePanelParams}}
			{{template "gaugeRangeProps"}}
		{{template "propertyPanelSuffix"}}

		{{template "propertyPanelPrefix" .ThresholdPanelParams}}
			{{template "gaugeThresholdProps" .}}
		{{template "propertyPanelSuffix"}}

		{{template "componentVisibilityPropertyPanel" .VisibilityPanelParams}}
		
		{{template "componentDeletePropertyPanel" .DeletePanelParams}}		
	</div>

{{end}}