{{define "gaugeFormatProps"}}
	{{template "formatNumberSelection" "gauge_"}}
{{end}}


{{define "gaugeThresholdProps"}}
	{{template "valueThresholdPropertyPanel" .ThresholdValueParams}}
{{end}}


{{define "gaugeProps"}}

	<div id="gaugeProps" class="propertyPanelToggleContainer">
		
		{{template "componentLabelPropertyPanel" .LabelPanelParams}}

		{{template "propertyPanelPrefix" .FormatPanelParams}}
			{{template "gaugeFormatProps"}}
		{{template "propertyPanelSuffix"}}
		
		{{template "propertyPanelPrefix" .RangePanelParams}}
			{{template "gaugeRangeProps"}}
		{{template "propertyPanelSuffix"}}

		{{template "propertyPanelPrefix" .ThresholdPanelParams}}
			{{template "gaugeThresholdProps" .}}
		{{template "propertyPanelSuffix"}}

		{{template "componentVisibilityPropertyPanel" .VisibilityPanelParams}}
		
		{{template "componentDeletePropertyPanel" .DeletePanelParams}}		
	</div>

{{end}}