{{define "adminDatabaseNameProperty"}}


	<tr>
		<td class="width200"><label for="databasePropsNameInput">Tracker name</label>
			<div><small></small></div>
		</td>

		<td>
			<form id="databaseNamePropertyForm">
					<div class="form-group maxWidth400">
						<input type="text" id="databasePropsNameInput" name="databasePropsNameInput" class="form-control" placeholder="Database Name" required="" autofocus="">
					</div>
			</form>
		</td>
	</tr>



{{end}}




{{define "adminGeneralProperties"}}


<table class="table">

	{{template "adminDatabaseNameProperty"}}
	{{template "adminGeneralTrackerDescriptionProps"}}
	{{template "adminSaveTemplateProperties"}}
	{{template "adminGeneralActiveTrackerProps"}}
	
</table>



{{end}}
