{{define "recordSortPaneHeader"}}
	<div class="container-fluid">
		<div class="row recordSortPaneHeader">
			<div class= "col-md-12 text-center h5"><span>Sort</span></div>
		</div>
	</div>
{{end}}

{{define "sortPaneFooterButtons"}}
	<button type="button" class="btn btn-primary btn-sm" id="sortPanelResortButton">
	  <span class="glyphicon glyphicon-sort" aria-hidden="true"></span> Resort
	</button>
{{end}}


{{define "recordSortPaneFooter"}}
	<div id="sortPaneFooter">
		<div class="container">
			<div class="row">
				{{template "sortPaneFooterButtons"}}
			</div>
		</div>
	</div>
{{end}}


{{define "recordSortPaneSortSettings"}}
	<div class="list-group" id="sortPaneSortRuleList">
	</div>	
{{end}}


{{define "recordSortPane"}}

	{{template "recordSortPaneHeader"}}

	<div class="ui-layout-content" id="recordSortUILayout">
		{{template "recordSortPaneSortSettings"}}
	</div>

	<div class="ui-layout-footer">
		{{template "recordSortPaneFooter"}}
	</div>

{{end}}