
{{define "attachmentValidationProps"}}
     <form id="adminAttachmentComponentValidationForm">	  
	  <div class="form-group">
 	      <div class="checkbox">
	        <input type="checkbox" id="adminAttachmentComponentValidationRequired">
	        <label for="adminAttachmentComponentValidationRequired">At least 1 attachment is required</label>
	      </div>
	   </div>
    </form>	
{{end}}

{{define "attachmentProps"}}

	<div id="attachmentProps" class="propertyPanelToggleContainer">

		{{template "componentLabelPropertyPanel" .LabelPanelParams}}
		
		{{template "propertyPanelPrefix" .ValidationPanelParams}}
			{{template "attachmentValidationProps"}}
		{{template "propertyPanelSuffix"}}
	
		{{template "componentPermissionsPropertyPanel" .PermissionPanelParams}}

		{{template "componentHelpPopupPropertyPanel" .HelpPopupParams}}
		
		{{template "componentDeletePropertyPanel" .DeletePanelParams}}		
		
	</div>

{{end}}