{{define "dashboardGaugeFormatProps"}}
	{{template "formatNumberSelection" "summaryVal_"}}	
{{end}}

{{define "dashboardSummaryValProps"}}

	<div id="dashboardSummaryValProps" class="propertyPanelToggleContainer">
		
		{{template "propertyPanelPrefix" .TitlePanelParams}}
			{{template "dashboardComponentTitlePropertyPanel" "summaryVal_"}}
		{{template "propertyPanelSuffix"}}
				
		{{template "propertyPanelPrefix" .ThresholdPanelParams}}
			{{template "gaugeThresholdProps" .}}
		{{template "propertyPanelSuffix"}}
		
		{{template "propertyPanelPrefix" .ValueSummaryPanelParams}}
			{{template "dashboardComponentValueSummaryPropertyPanel" .ValueSummaryParams}}
		{{template "propertyPanelSuffix"}}
		
		{{template "propertyPanelPrefix" .PreFilteringPanelParams}}
			{{template "recordFilterPropertyPanel" .PreFilterPropPanelParams}}
		{{template "propertyPanelSuffix"}}

		{{template "propertyPanelPrefix" .FilteringPanelParams}}
			{{template "recordFilterPropertyPanel" .FilterPropPanelParams}}
		{{template "propertyPanelSuffix"}}


	</div>

{{end}}