{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 {{define "dashboardGaugeFormatProps"}}
	{{template "formatNumberSelection" "summaryVal_"}}	
{{end}}

{{define "dashboardSummaryValProps"}}

	<div id="dashboardSummaryValProps" class="propertyPanelToggleContainer">
		
		{{template "propertyPanelPrefix" .TitlePanelParams}}
			{{template "dashboardComponentTitlePropertyPanel" "summaryVal_"}}
		{{template "propertyPanelSuffix"}}
				
		{{template "propertyPanelPrefix" .ThresholdPanelParams}}
			{{template "gaugeThresholdProps" .}}
		{{template "propertyPanelSuffix"}}
		
		{{template "propertyPanelPrefix" .ValueSummaryPanelParams}}
			{{template "dashboardComponentValueSummaryPropertyPanel" .ValueSummaryParams}}
		{{template "propertyPanelSuffix"}}
		
		{{template "propertyPanelPrefix" .PreFilteringPanelParams}}
			{{template "recordFilterPropertyPanel" .PreFilterPropPanelParams}}
		{{template "propertyPanelSuffix"}}

		{{template "propertyPanelPrefix" .FilteringPanelParams}}
			{{template "recordFilterPropertyPanel" .FilterPropPanelParams}}
		{{template "propertyPanelSuffix"}}

		{{template "componentHelpPopupPropertyPanel" .HelpPopupParams}}
		
		{{template "dashboardComponentDeletePropertyPanel" .DeletePanelParams}}
		

	</div>

{{end}}