
{{define "itemListViewFormPageSizeOptions"}}
	   		<option value="1">1</option>
	 		<option value="5">5</option>
	 		<option value="10">10</option>
	 		<option value="25">25</option>
	 		<option value="50">50</option>
{{end}}

{{define "itemListViewSelectionInput"}}

	<div class="form-group">
	  	<label for="itemListViewSelection">How to view list: </label>
		<select class="form-control maxWidth300" id="itemListViewSelection" name="itemListViewSelection">
			<option disabled selected value="">Select a form or table</option>
			<optgroup id="itemListFormSelectionOptGroup" label="Forms"></optgroup>
			<optgroup id="itemListTableSelectionOptGroup" label="Tables"></optgroup>
		</select>
	</div>

	<div class="form-group initiallyHidden" id="formPageSizeSelectionFormGroup">
	  	<label for="itemListPageSizeSelection">Items per page: </label>
	  	<select class="form-control maxWidth50" id="itemListPageSizeSelection" name="itemListPageSizeSelection">
			{{template "itemListViewFormPageSizeOptions"}}
		</select>
	</div>
	
{{end}}


{{define "itemListViewSelection"}}

<form id="itemListViewSelectionForm">
	{{template "itemListViewSelectionInput"}}
</form>

{{end}}