{{define "submitFormDialogButtons"}}

	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	<button type="button" class="btn btn-primary" id="submitFormSaveButton">Save</button>
{{end}}


{{define "submitFormDialog"}}

<div class="modal fade submitFormDialog" id="submitFormDialog" tabindex="-1" role="document"
						aria-labelledby="submitFormDialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="submitFormDialogLabel">New Item</h4>
      </div>
      <div class="modal-body submitFormDialogBody">
		  <div id="submitFormDialogLayoutCanvas"></div>
      </div>
      <div class="modal-footer">
		  {{template "submitFormDialogButtons" .}}
      </div>
    </div>
  </div>
</div>

{{end}}