        	
{{define "dashboardAdminPage"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>

	{{template "electronImportPrefix"}}

	
	{{template "thirdPartyCSS"}}
	
	<!-- dashboardAssets:css -->
	<!-- endinject -->
	
	<script>var dashboardAdminPageContext = { databaseID:"{{.DatabaseID}}" } </script>
	
	{{template "thirdPartyJS"}}
	
	<!-- dashboardAssets:js -->
	<!-- endinject -->
				
  </head>
	
 	
  <body>

	<div id="dashboardAdminPage" class="layoutPageDiv">
		
		<div class="pane ui-layout-north adminPageHeader">
			{{template "adminPageHeader" .}}
		</div> <!-- ui layout north -->
		
		<div class="pane ui-layout-west">
			{{template "adminSettingsTOC"}}
		</div> <!-- ui layout north -->

		<div class="pane ui-layout-center">
			<h4>Dashboards</h4>
        	{{template "adminDashboardList"}}
		</div> <!-- center pane for entire page -->	
	</div> <!-- layout page -->	
	
	{{template "newDashboardDialog"}}
		
	
  </body>
  	
</html>

{{end}}