/* Set the default and minimum width for fields added
   to the layout. This is important for when the field
   is initially dragged onto the canvas. Otherwise it
   can shrink as the field is dragged. */
.commentContainer
{
	min-width:200px;
	/* The min-height for the comment container is less than the "resizable height"
	   configured in designFormConfig.js. In view mode, this allows the height to be less than the
	   height set in the form designer. However, the maximum height before comments will start 
	   scrolling is still determinined by the minimum resizable height set in designFormConfig.js */
	min-height:75px;
	width: 200px;
	height: 200px;
	
	overflow-y: hidden;
	overflow-x: hidden;
}


.commentCommentEntryBox {
	resize:vertical;
	margin-bottom: 5px;
}

.commentEntryContainer {
	margin-bottom:5px;
}

.commentComponentCommentList {
	overflow-x:hidden;
	overflow-y:auto;	
	margin-bottom:0px;
}