/* Set the default and minimum width for fields added
   to the layout. This is important for when the field
   is initially dragged onto the canvas. Otherwise it
   can shrink as the field is dragged. */
.commentContainer
{
	min-width:200px;
	min-height:200px;
	width: 200px;
	height: 200px;
	
	overflow-y: hidden;
	overflow-x: hidden;
}


.commentCommentEntryBox {
	resize:vertical;
	margin-bottom: 5px;
}

.commentEntryContainer {
	margin-bottom:5px;
}

.commentComponentCommentList {
	overflow-x:hidden;
	overflow-y:auto;
	
    position: absolute;
    left: 5px;
	 
	 /* Start the variable height section for the image itself with after the imageContainerHeder. Keep this
	    value the same as the height of imageContainerHeader */
     top: 70px; 
	 
     bottom: 5px; /* For some reason, the image overflows the bottom of the container without making this adjustement */
     right: 5px;
	 margin-bottom:0px;
}