/* Set the default and minimum width for fields added
   to the layout. This is important for when the field
   is initially dragged onto the canvas. Otherwise it
   can shrink as the field is dragged. */
.commentContainer
{
	min-width:200px;
	/* The min-height for the comment container is less than the "resizable height"
	   configured in designFormConfig.js. In view mode, this allows the height to be less than the
	   height set in the form designer. However, the maximum height before comments will start 
	   scrolling is still determinined by the minimum resizable height set in designFormConfig.js */
	min-height:75px;
	width: 200px;
	height: 200px;
	
	overflow-y: hidden;
	overflow-x: hidden;
}

/* A minimum height on the header ensures the close button is on it's own
   at the top of a popover used to display the comment(s) */
.commentEditorHeader {
	min-height: 25px;
}

.commentCommentEntryBox {
	resize:vertical;
	margin-bottom: 5px;
	min-height: 40px;
	background-color:white;
}

/* When editing in the popup window for the table view, there
  needs to be a maximum height on the comment entry box so 
  the popup container can also be constrained to a reasonable height. */
.commentEditorPopupContainer .commentCommentEntryBox {
	max-height: 150px;
}

.commentPlaceholder {
	color: lightGrey;
}

.commentEntryContainer {
	margin-bottom:5px;
}

.commentComponentCommentList {
	overflow-x:hidden;
	overflow-y:auto;	
	margin-bottom:0px;
}

.commentComponentCommentList .list-group-item {
	padding-left: 7px;
	padding-right:7px;
	padding-bottom:5px;
	padding-top:5px;
}

.commentEditorPopupContainer {
	min-width:250px;
	min-height: 250px;
}