        
{{define "itemListAdminPage"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
	
	{{template "electronImportPrefix"}}
	
	
	{{template "thirdPartyCSS"}}
	
	<!-- itemListAssets:css -->
	<!-- endinject -->
	
	<script>var itemListAdminContext = { databaseID:"{{.DatabaseID}}" } </script>
	
	{{template "thirdPartyJS"}}
	
	<!-- itemListAssets:js -->
	<!-- endinject -->
				
  </head>
	
 	
  <body>

	<div id="itemListAdminPage" class="layoutPageDiv">
		
		<div class="pane ui-layout-north adminPageHeader">
			{{template "adminPageHeader" .}}
		</div> <!-- ui layout north -->
		
		<div class="pane ui-layout-west">
			{{template "adminSettingsTOC"}}
		</div> <!-- ui layout north -->

		<div class="pane ui-layout-center">
			<h4>List Settings</h4>
        	{{template "adminListList"}}
		</div> <!-- center pane for entire page -->	
	</div> <!-- layout page -->	
	
	{{template "newListDialog"}}
		
	
  </body>
  	
</html>

{{end}}