{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
         
{{define "itemListAdminPage"}}
			<h4>Item Lists Settings</h4>
			<div class="alert alert-info maxWidth400">Item lists display items using either forms or table views. Drag lists up or down to change their order in the sidebar.</div>
			
        	{{template "adminListList"}}
{{end}}