
{{define "adminListTemplates"}}

<div style="display:none;">
	
	<div id="adminListListItemTemplate" class="list-group-item adminListListItem">
			<label class="listNameLabel">List Name Goes Here</label>
			
			<div class="pull-right adminListListButtons">
	
				<a class="btn btn-xs btn-default editListPropsButton" role="button">
					<span class="glyphicon glyphicon-pencil" style="padding-bottom:2px;"></span>
				</a> 
  				<button class="btn btn-xs btn-danger deleteListButton">
					<span class="glyphicon glyphicon-remove" style="padding-bottom:2px;"></span>
				</button>
			</div>
			
			
	</div>
	
</div>

{{end}}

{{define "adminListList"}}

	{{template "adminListTemplates"}}

	<div class="marginTop20">
		<ul id="adminListList" class="list-group">
		</ul>

		<button type="button" class="btn btn-default btn-sm" id="adminNewListButton">
		  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New List
		</button>
	</div>

{{end}}