{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 
{{define "adminListTemplates"}}

<div style="display:none;">
	
	<div id="adminListListItemTemplate" class="list-group-item adminListListItem">
		
			<span class="fa fa-navicon listOrderDrag" style="padding-bottom:2px;">&nbsp;&nbsp;</span>
			<label class="listNameLabel">List Name Goes Here</label>
			
			<div class="pull-right adminListListButtons">
	
				<a class="btn btn-xs btn-default editListPropsButton" role="button">
					<span class="glyphicon glyphicon-pencil" style="padding-bottom:2px;"></span>
				</a> 
			</div>
			
			
	</div>
	
</div>

{{end}}

{{define "adminListList"}}

	{{template "adminListTemplates"}}

	<div class="marginTop20">
		
		<ul id="adminListList" class="list-group maxWidth400">
		</ul>

		<button type="button" class="btn btn-default btn-sm" id="adminNewListButton">
		  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New Item List
		</button>
	</div>

{{end}}