

/* Resize the glyphicon used for the star rating. 
   rating-symbol is the class used internally by the Bootstrap rating
   plugin.
*/
.layoutContainer .rating-symbol {
    font-size: 2.0em;
	height: 30px;
}

.ratingFormContainer {
	min-width:160px;
	min-height:60px;
	width: 160px;
	height: 60px;
}