


{{define "fieldAdminPage"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>

	{{template "electronImportPrefix"}}

	
	{{template "thirdPartyCSS"}}
	
	<!-- fieldAssets:css -->
	<!-- endinject -->
	
	<script>var fieldListAdminContext = { databaseID:"{{.DatabaseID}}" } </script>
	
	{{template "thirdPartyJS"}}
	
	<!-- fieldAssets:js -->
	<!-- endinject -->
				
  </head>
	
 	
  <body>

	<div id="fieldAdminPage" class="layoutPageDiv">
		
		<div class="pane ui-layout-north adminPageHeader">
			{{template "adminPageHeader" .}}
		</div> <!-- ui layout north -->
		
		<div class="pane ui-layout-west" id="adminPageTocLayout">
			{{template "adminSettingsTOC"}}
		</div> <!-- ui layout north -->

		<div class="pane ui-layout-center" id="adminPageLayout">
			<h4>Fields</h4>
        	{{template "adminFieldList"}}
		</div> <!-- center pane for entire page -->	
	</div> <!-- layout page -->	
	
	{{template "adminNewFieldDialog"}}	
	
  </body>
  	
</html>

{{end}}