{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 {{define "adminFieldTemplates"}}

<div style="display:none;">

	<table>
		<tr id="adminFieldItemRowTemplate">
				<td class="fieldNameCol"></td>
				<td class="fieldRefNameCol"></td>
				<td class="fieldTypeCol"></td>
				<td class="fieldCalcCol"></td>
				<td class="editCol">
					<a class="btn btn-xs btn-default editFieldPropsButton" role="button">
						<span class="glyphicon glyphicon-pencil" style="padding-bottom:2px;"></span>
					</a> 
				</td>
		</tr>
	</table>

	
</div>

{{end}}



{{define "adminFieldList"}}

	{{template "adminFieldTemplates"}}

	<div class="adminFieldListWrapper marginTop20 marginBottom5">
		<table id="adminFieldList" class="stripe cell-border">
			<thead>
				<tr>
					<th>Field name</th>
					<th>Formula reference name (calculated fields)</th>
					<th>Value type</th>
					<th>Calculated field?</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="adminFieldListBody">
			</tbody>
		</table>
	</div>
		<button type="button" class="btn btn-default btn-sm" id="adminNewFieldButton">
		  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Field
		</button>

{{end}}