{{define "newFieldDialogBody"}}

	{{template "newFieldPanel"}}
		
{{end}}

{{define "newFieldDialogButtons"}}
	<button type="button" class="btn btn-default" id="newFieldCancelButton" data-dismiss="modal">Cancel</button>
	<button type="button" class="btn btn-primary" id="newFieldSaveButton" type="submit">Save</button>
{{end}}


{{define "adminNewFieldDialog"}}

    <form id="newFieldDialogForm">
		
		<div class="modal fade" id="newFieldDialog" tabindex="-1" role="dialog" aria-labelledby="newFieldLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="newFieldLabel">New Field</h4>
		      </div>
		      <div class="modal-body">
				  {{template "newFieldDialogBody"}}
		      </div>
		      <div class="modal-footer">
				  {{template "newFieldDialogButtons"}}
		      </div>
		    </div>
		  </div>
		</div>

	</form>

{{end}}