
{{define "homePageSigninPanel"}}

	  <div>
		  <h2 class="text-center">Sign in to Resultra</h2>
	  </div>
	  
	  <div class="alert alert-info" role="alert">
		  Enter your email address and password.
	  </div>
  
	  <div class="container-fluid">

		<div class="row">
	 	   {{template "userSignInDialogBodyLarge"}}
	 	</div>
	
		<div class="row marginTop20">
			{{template "userSignInButtonLarge"}}
	 	</div>
	
		<div class="row">
		  	<button type="button" id="homePageRegisterButton" 
					class="btn btn-link">Register a new account</button>
			<span>&nbsp;&nbsp;</span>
		  	<button type="button" id="homePageForgotPasswordButton" 
					class="btn btn-link">Forgot password?</button>
		</div>

  	</div>
	
{{end}}




{{define "homePagePublic"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
	
	{{template "electronImportPrefix"}}
	
	{{template "thirdPartyCSS"}}
		
	<!-- homePagePublicAssets:css -->
	<!-- endinject -->
	
	{{template "thirdPartyJS"}}
	
	<!-- homePagePublicAssets:js -->
	<!-- endinject -->
			
  </head>
  <body>
	  
	  {{template "publicPageHeader"}}
	  	   
	  <div class="container-fluid marginTop20">
		  		  
		  <div class="col-md-4"></div>
		  
		  <div class="col-md-4">
			  
			  <div class="well">
				  {{template "homePageSigninPanel"}}
			 </div>
				 
		 </div>
			
		 <div class="col-md-4"></div>

	  </div>
	  
	  
	  
 </body>
  
  {{template "userRegisterDialog"}}
  {{template "resetPasswordDialog"}}
  
</html>
{{end}}