
{{define "homePagePublic"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
	
	{{template "electronImportPrefix"}}

	{{template "electronImportPrefix"}}

	
	{{template "thirdPartyCSS"}}
		
	<!-- homePagePublicAssets:css -->
	<!-- endinject -->
	
	{{template "thirdPartyJS"}}
	
	<!-- homePagePublicAssets:js -->
	<!-- endinject -->
			
  </head>
  <body>
	  <h1>{{.Title}}</h1>
	  <p>Under construction</p>
	  <button type="button" id="signInButton" class="btn btn-primary">Sign In</button>
	  <button type="button" id="homePageRegisterButton" class="btn btn-primary">Register</button>
  </body>
  
  {{template "UserSignInDialog"}}
  {{template "userRegisterDialog"}}
  
</html>
{{end}}