{{define "homePageBreadcrumbHeader"}}
	<div class="marginTop2">
	  {{template "workspaceBreadcrumb" .}}
	</div> <!-- breadcrumb header -->
{{end}}

{{define "homePageHeader"}}
	<div class="container-fluid" id="homePageHeader">
		<div class="row">
			<div class="col-sm-8">
				{{template "homePageBreadcrumbHeader" .}}
			</div>
			<div class="col-sm-4">
				<div class="pull-right">
					{{template "userDropdownMenu"}}
					{{template "helpDropdownMenu"}}
				</div>
			</div>
		</div>
	</div>
{{end}}


{{define "homePageSignedIn"}}
<!DOCTYPE html>
<html>
  <head>
    <title>Resultra - {{.WorkspaceName}}</title>

	{{template "electronImportPrefix"}}

	
	{{template "thirdPartyCSS"}}
	
	<!-- homePageSignedInAssets:css -->
	<!-- endinject -->
	
	{{template "thirdPartyJS"}}
	
	<!-- homePageSignedInAssets:js -->
	<!-- endinject -->
			
  </head>
  <body>
	  
	  {{template "homePageHeader" .}}
	  
	  <hr id="homePageHeaderBodySep">
	  
	  <div id="homePageContent">
		  {{template "trackerList" .}}
	  </div>
	  
  </body>
</html>
{{end}}