a.disabledTrackerLink {
  /* Make the disabled links grayish*/
  color: gray;
  /* And disable the pointer events */
  pointer-events: none;
}

#workspaceHomePageMainWindowContent {
	padding-left:30px;
}

#workspaceHomePageMainWindowContent .trackerLinkNameLabel {
	padding:0px;
}