{{define "mainWindow"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
	
	{{template "electronImportPrefix"}}
	{{template "thirdPartyCSS"}}
	{{template "dashboardCommonIncludeCSS"}}
	
	<!-- mainWindowAssets:css -->
	<!-- endinject -->
	
	<script>var mainWindowContext = {
		isSingleUserWorkspace: {{.IsSingleUserWorkspace}} } 
	</script>
	
	{{template "thirdPartyJS"}}
	{{template "aceThirdPartyJS"}}
	{{template "dashboardCommonIncludeJS"}}
	
	
	<!-- mainWindowAssets:js -->
	<!-- endinject -->
				
  </head>
	
  <body>

	<div id="layoutPage" class="layoutPageDiv">
		
		<div class="pane ui-layout-north" id="mainWindowPageHeader">
			{{template "mainWindowPageHeader" .}}
		</div> <!-- ui layout north -->
		
		<div class="pane ui-layout-west" id="mainWindowLHSSidebar">
		</div>

		<div class="pane ui-layout-east noPadding" id="mainWindowRHSSidebar">
		</div> 

		<div class="pane ui-layout-center" id="mainWindowContent">
		</div> <!-- center pane for entire page -->	
	</div> <!-- layout page -->
	
	
	<div id="mainWindowOffPageContent"></div>

	
  </body>
  	
</html>

{{end}}