{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 


{{define "homePageSigninPanel"}}

	  <div>
		  <h2 class="text-center">Sign in to Resultra</h2>
	  </div>
	  
	  <div class="alert alert-info" role="alert">
		  Enter your email address and password.
	  </div>
  
	  <div class="container-fluid">

		<div class="row">
	 	   {{template "userSignInDialogBodyLarge"}}
	 	</div>
	
		<div class="row marginTop20">
			{{template "userSignInButtonLarge"}}
	 	</div>
	
		<div class="row">
		  	<button type="button" id="homePageRegisterButton" 
					class="btn btn-link">Register a new account</button>
			<span>&nbsp;&nbsp;</span>
		  	<button type="button" id="homePageForgotPasswordButton" 
					class="btn btn-link">Forgot password?</button>
		</div>

  	</div>
	
{{end}}


{{define "mainWindowSingleUserSignedOut"}}
	  <div class="col-md-2"></div>
	  
	  <div class="col-md-8">
		  
		  <div class="well">
		    {{template "singleUserLocalWorkspaceHomePageRegistrationPanel"}}			
		 </div>
			 
	 </div>
		
	 <div class="col-md-2"></div>
{{end}}

{{define "mainWindowMultiUserSignedOut"}}
	  <div class="col-md-4"></div>
	  
	  <div class="col-md-4">
		  
		  <div class="well">
		    {{template "homePageSigninPanel"}}			
		 </div>
			 
	 </div>
		
	 <div class="col-md-4"></div>
{{end}}

{{define "mainWindowSignedOut"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
	
	{{template "electronImportPrefix"}}
	
	{{template "thirdPartyCSS"}}
		
	<!-- mainWindowSignedOutAssets:css -->
	<!-- endinject -->
	
	<script>var homePageContext = {
	 	isSingleUserWorkspace: {{.IsSingleUserWorkspace}} } 
	</script>
	
	
	{{template "thirdPartyJS"}}
	
	<!-- mainWindowSignedOutAssets:js -->
	<!-- endinject -->
			
  </head>
  <body>
	  
	  {{template "publicPageHeader"}}
	  	   
	  <div class="container-fluid marginTop20">
		  		  
		  {{if .IsSingleUserWorkspace}}
	    	{{template "mainWindowSingleUserSignedOut"}}	  
		  {{else}}
		    {{template "mainWindowMultiUserSignedOut"}}
		  {{end}}
	
	  </div>
	  
	  
	  
 </body>
  
  {{template "userRegisterDialog"}}
  {{template "resetPasswordDialog"}}
  
</html>
{{end}}
