{{define "userRegisterDialogBody"}}

   <div id="userRegisterDialogBody">

	   <div class="alert alert-danger" id="registerDialogAlert">
	     <span id="registerDialogErrorMsg">Error message</span>
	   </div>
      <form>
		  <div class="form-group">
        	  <label for="registerDialogFirstNameInput">Your Name</label>
        	  <input type="text" id="registerDialogFirstNameInput" class="form-control" placeholder="First Name" required autofocus>
        	  <input type="text" id="registerDialogLastNameInput" class="form-control marginTop5" placeholder="Last Name" required autofocus>
		  </div>
		  <div class="form-group">
        	  <label for="registerDialogUserNameInput">User Name</label>
        	  <input type="text" id="registerDialogUserNameInput" class="form-control" placeholder="Username" required autofocus>
		  </div>
		  
		  <div class="form-group">
        	  <label for="registerDialogEmailInput">Email address</label>
        	  <input type="email" id="registerDialogEmailInput" class="form-control" placeholder="Email address" required autofocus>
		  </div>
		  <div class="form-group">
			  <label for="registerDialogPasswordInput">Password</label>
        	  <input type="password" id="registerDialogPasswordInput" class="form-control" placeholder="Password" required>
        	  <input type="password" id="registerDialogRepeatPasswordInput" class="form-control marginTop5" placeholder="Repeat Password" required>
		  </div>
      </form>

    </div> <!-- dialog body -->
{{end}}

{{define "userRegisterRegisterButton"}}
  	   	<button type="button" class="btn btn-primary" id="registerDialogRegisterButton" type="submit">Register</button>
{{end}}

{{define "userRegisterDialog"}}

<div class="modal fade" id="registerModalDialog" tabindex="-1" role="dialog" aria-labelledby="signInLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="registerLabel">Register</h4>
      </div>
      <div class="modal-body">
        	{{template "userRegisterDialogBody"}}
      </div>
      <div class="modal-footer">
		  {{template "userRegisterRegisterButton"}}
      </div>
    </div>
  </div>
</div>

{{end}}