{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 {{define "componentPermissionProps"}}
	<div class="alert alert-info" role="alert">
		Set whether values can be modified in this form.
	</div>
	
	<form id="{{.ElemPrefix}}FormComponentPermissionsPropertyPanelForm">
		<div class="form-group marginBottom0">
			<div class="checkbox">
			     <input type="checkbox" id="{{.ElemPrefix}}FormComponentReadOnlyProperty">
			    <label for="{{.ElemPrefix}}FormComponentReadOnlyProperty"> Values in this form are read-only</label>
			  </div>
		</div>
	</form>
	

{{end}}

{{define "tableViewColPermissionProps"}}
	<form id="{{.ElemPrefix}}FormComponentPermissionsPropertyPanelForm">
		<div class="form-group marginBottom0">
			<div class="checkbox">
			     <input type="checkbox" id="{{.ElemPrefix}}FormComponentReadOnlyProperty">
			    <label for="{{.ElemPrefix}}FormComponentReadOnlyProperty"> Values in this column are read-only</label>
			  </div>
		</div>
	</form>
{{end}}

{{define "componentPermissionsPropertyPanel"}}

	{{template "propertyPanelPrefix" .PanelParams}}
		{{template "componentPermissionProps" .}}
	{{template "propertyPanelSuffix"}}

{{end}}