/* Set the default and minimum width for fields added
   to the layout. This is important for when the field
   is initially dragged onto the canvas. Otherwise it
   can shrink as the field is dragged. */
.imageContainer
{
	min-width:150px;
	min-height:125px;
	width: 200px;
	height: 200px;
}

.imageContainerHeader {
    width: 100%;
    height: 30px; /* Fixed height header - keep the same as .imageInnerContainer top */
	padding-left:5px;
	padding-top:5px;
}

.imageInnerContainer
{
	overflow-x:hidden;
	overflow-y:auto;	
	margin-bottom:0px;
	padding:5px;
}

/* Scale the image for constant width, but preserve the aspect ratio by letting the height scale
   automatically. TODO - Support more options for scaling images */
.imageContainerImage {
	max-width:128px;
}

.galleryThumbnailHoverButtons {
	position: absolute;
	right: 0px;
	top:0px;
	display: none;
	background-color: white;
	padding: 2px;
}

.attachGalleryThumbnailContainer {
	position:relative; /* relative position is needed so the inner hover-buttons will float to their absolute position */
	float: left; /* floating left prevents the div from tiling the containers vertically, but instead have a responsive */
	max-width: 128px;
	min-width: 96px; /* Needed for file attachments, which don't have a thumbnail image */
	margin: 2px;
}

.attachmentEditorPopupContainer {
	min-width:250px;
	min-height: 120px;
}

.attachmentEditorHeader {
	min-height: 25px;
}

/*attachGalleryThumbnailContainer:hover .galleryThumbnailHoverButton {
	display: block;
}*/