/* Set the default and minimum width for fields added
   to the layout. This is important for when the field
   is initially dragged onto the canvas. Otherwise it
   can shrink as the field is dragged. */
.imageContainer
{
	min-width:200px;
	min-height:200px;
	width: 200px;
	height: 200px;
}

.imageContainerHeader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px; /* Fixed height header - keep the same as .imageInnerContainer top */
	padding-left:5px;
	padding-top:5px;
}

.imageInnerContainer
{
    position: absolute;
     left: 0;
	 
	 /* Start the variable height section for the image itself with after the imageContainerHeder. Keep this
	    value the same as the height of imageContainerHeader */
     top: 30px; 
	 
     bottom: 5px; /* For some reason, the image overflows the bottom of the container without making this adjustement */
     width: 100%;
	overflow:auto;
}

/* Scale the image for constant width, but preserve the aspect ratio by letting the height scale
   automatically. TODO - Support more options for scaling images */
.imageContainerImage {
	max-width:128px;
}

.galleryThumbnailHoverButtons {
	position: absolute;
	right: 0px;
	top:0px;
	display: none;
	background-color: white;
	padding: 2px;
}

.attachGalleryThumbnailContainer {
	position:relative; /* relative position is needed so the inner hover-buttons will float to their absolute position */
	float: left; /* floating left prevents the div from tiling the containers vertically, but instead have a responsive */
	max-width: 128px;
}

/*attachGalleryThumbnailContainer:hover .galleryThumbnailHoverButton {
	display: block;
}*/