.componentRow {
	margin-top: 5px;
	margin-bottom:5px;
	width:100%;
	min-height: 30px;
}

.componentCol {
	margin-left: 5px;
	min-height: 100px;
	min-width: 100px;
	height:100%;

	vertical-align:top;
	display: inline-block;

}


.componentCol .ui-sortable-placeholder {
	background-color:HoneyDew;
}


.component-placeholder {
    border: 1px dotted black;
    margin-left:10px;
	margin-right:10px;
    height: 30px;
	background-color:HoneyDew;
  }