.componentRow {
	margin-top: 5px;
	margin-bottom:5px;
	width:100%;
	min-height: 25px;
}

.componentCol {
	margin-left: 5px;
	min-height: 25px;
	min-width: 100px;
	height:100%;

	vertical-align:top;
	display: inline-block;

}

/* When component layouts (for forms & dashboards) are shown in dialogs, for example, 
   Bootstrap popovers will sometimes be cut off when displayed next to the edge
   of the layout. The solution/workaround below ensures the popovers are not hidden.
   Another solution is to set the container property to 'body' on the popover itself.
   See http://stackoverflow.com/questions/14025438/bootstrap-popover-not-showing-on-top-of-all-elements
   for more background on this */
.componentCol .popover {
	z-index:9999999;
	position:fixed;
}


/* The header for different components is layed out using Bootstraps grid system.
   To keep the layout tight, minimize the padding of the label and button columns. */

.componentHeaderLabelCol {
	padding-right:0px;
	padding-left:0px;
}

.componentHeaderButtonCol {
	display:inline-flex;
	justify-content:flex-end;
	padding-left:0px;
	padding-right:0px;
}