
/* Top-level div for a design palette on a page */
.paletteSidebar
{
	min-height: 100px;
	padding: 0px;
	overflow: visible; /* don't overflow the content */
}

/* paletteItems is a container for all the palette items. It is setup to
   size with the overall palette, but be pinned to the bottom of the header
   and bottom of the overall palette. */
.paletteItems {
	position:absolute;
	overflow-y: auto !important;
	top:35px; /* start at the bottom of the paletteHeader */
	bottom:0px;
}

.paletteSidebar > .ui-layout-content {
	/* Remove UI Layout padding  from the ui-layout-content. This is necessary to 
	  align the palette header with the top of the palette sidebar */
	padding:0;
}

.paletteItems > .row {
	padding-top:5px; /* Space between palette item rows (and the header) */
	margin-left:0px; /* eliminate negative margins */
	margin-right:0px;
}

/* TODO - Get override of padding for palette items working with something like
   the following (which didn't actually work). As a work-around, resorted to using 
	style inlined in the markup, but
   there are other possible solutions 
.paletteItems > col-md-6 {
	padding-left: 5px !important;
	padding-right: 5px !important;
	padding:0 !important;
}
*/


.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


/* The .paletteItem is specific within the div element to ensure it is more "specific"
   than the noselect style which is also applied to many of these elements. This is
   needed so the cursor and other properties will take precedence */
 div .paletteItem {
	height: 90px;
    position: relative; 
	padding: 6px;
	border: 1px dashed gray;
	text-align:center;
	margin:2px; /* margin gives some space within the Semantic UI column */
	background-color: lightGrey;
	cursor:move; /* match the default cursor used by the jQuery UI for drag and drop */
}

.paletteHeader {
	height: 35px;
	background-color:lightGrey;
	vertical-align:middle;
	margin-left: 0px; /* eliminate negative margins */
	margin-right:0px;
	margin-top: 0px;
}

/* Palette items with short labels - vertically align the text below the icon */
.shortPaletteItemLabel
{
	vertical-align:middle;
	line-height:25px;
	padding:4px
}

/* Space between the icon and text description.
   Arguably should have used margins around the icon and text */
.paletteItemSpacer
{
	min-height:8px;
	height:8px;
}

.paletteItem > .glyphicon {
	font-size: 25px;
	margin-bottom:10px;
}

.paletteItem > .fa {
	font-size: 25px;
	margin-bottom:10px;
}

.paletteItemControl {
	max-width: 75px;
	pointer-events:none;
}