.layoutContainer
{
    position: relative; 
	padding: 5px;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:5px;
	margin-right:5px;
		
	/* By default all layoutContainer's are aligned to the top
	  of the row they are contained within */
	vertical-align:top;
}


.layoutDesignContainer {
	border: 1px dashed gray; 
}


#layoutCanvas
{
	min-height: 400px;
	padding: 0px;
	overflow: auto; // if the content overflows, show a scrollbar
}


.componentHeaderButtons
{
	display:inline-flex;
	justify-content:flex-end;
	
}