/* This file is part of the Resultra project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
 .newComponentRowPlaceholder {
      border: 1px dotted black;
      min-height:25px;
	  min-width:200px;
	  width:100%;
	  background-color:HoneyDew;	
   }
  
.newComponentColumnPlaceholder {
	border: 1px dotted black;
	min-height:50px;
	min-width:25px;
	background-color:HoneyDew;
	vertical-align:top;
	display: inline-block;
}


.componentColumnPlacementPlaceholder {
      border: 1px dotted black;
      min-height:20px;
	  min-width:200px;
	  width:100%;
	  background-color:HoneyDew;	
   }
