/* This file is part of the Resultra project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
 
.labelFormContainer {
	min-width:200px;
	min-height:10px;
	width: 200px;
	height: 75px;
}

.labelTableCellContainer {
	min-width:220px;
	min-height:10px;
	width: 200px;
	height: auto;
}


.labelFormContainer .select2-selection--multiple {
	overflow-y: auto;
	min-height: 34px;
	height:auto;
}


/* Adjust the sizing of the selection control to closely match Bootstrap */
.labelTableCellContainer .select2-selection,
.labelFormContainer .select2-selection
{
	display: block!important;
	white-space: nowrap!important;
  	overflow-y: auto;
	font-size:12px;
}

.labelTableCellContainer .select2-selection__choice, 
.labelTableCellContainer .select2-search,
.labelFormContainer .select2-selection__choice,
.labelFormContainer .select2-search {
	display: flex !important;
	height: 24px!important;
	white-space: nowrap!important;
	align-items:center;
	justify-content:center;
	font-size:14px;
	margin-top:5px !important;
}

.labelTableCellContainer .select2-search__field {
	margin-top:2px !important;
}



.labelFormContainer .select2-selection {
	display: block!important;
	white-space: nowrap!important;
	line-height: 26px!important;
    overflow: auto;
}

.labelFormContainer label {
	margin-bottom: 2px !important;
}


.tagPopupContainer {
	width:100%;
	/* A minimum width & height constrains the overall popup to be at least this size */
	min-width: 250px;
	min-height: 150px;
}

.tagEditorHeader {
	min-height:25px;
}