
{{define "barChartTitleProps"}}
	{{template "dashboardComponentTitlePropertyPanel" "barChart_"}}
{{end}}

{{define "barChartXAxisProps"}}
	{{template "dashboardComponentValueGroupingPropertyPanel" .}}
{{end}}

{{define "barChartProps"}}

	<div id="barChartProps" class="propertyPanelToggleContainer">
		{{template "propertyPanelPrefix" .TitlePanelParams}}
			{{template "barChartTitleProps"}}	
		{{template "propertyPanelSuffix"}}

		{{template "propertyPanelPrefix" .PreFilteringPanelParams}}
			{{template "recordFilterPropertyPanel" .PreFilterPropPanelParams}}
		{{template "propertyPanelSuffix"}}
		
		{{template "propertyPanelPrefix" .FilteringPanelParams}}
			{{template "recordFilterPropertyPanel" .FilterPropPanelParams}}
		{{template "propertyPanelSuffix"}}

		{{template "propertyPanelPrefix" .XAxisPanelParams}}
			{{template "barChartXAxisProps" .ValueGroupingParams}}
		{{template "propertyPanelSuffix"}}
		
		{{template "propertyPanelPrefix" .YAxisPanelParams}}
			{{template "dashboardComponentValueSummaryPropertyPanel" .ValueSummaryParams}}
		{{template "propertyPanelSuffix"}}
	</div>

{{end}}