{{define "barChartFilterProps"}}
	{{template "recordFilterPropertyPanel" "barChart_"}}
{{end}}

{{define "barChartTitleProps"}}
	{{template "dashboardComponentTitlePropertyPanel" "barChart_"}}
{{end}}

{{define "barChartXAxisProps"}}
	X Axis properties go here
{{end}}

{{define "barChartProps"}}

	<div id="barChartProps" class="propertyPanelToggleContainer">
		{{template "propertyPanelPrefix" .TitlePanelParams}}
			{{template "barChartTitleProps"}}	
		{{template "propertyPanelSuffix"}}

		{{template "propertyPanelPrefix" .FilteringPanelParams}}
			{{template "barChartFilterProps"}}
		{{template "propertyPanelSuffix"}}

		{{template "propertyPanelPrefix" .XAxisPanelParams}}
			{{template "barChartXAxisProps"}}
		{{template "propertyPanelSuffix"}}
	</div>

{{end}}


{{define "checkBoxProps"}}

	<div id="checkBoxProps" class="propertyPanelToggleContainer">
		{{template "propertyPanelPrefix" .FormatPanelParams}}
			{{template "checkBoxFormatProps"}}
		{{template "propertyPanelSuffix"}}
	</div>

{{end}}