
{{define "newBarChartYAxisPanel"}}
	<div id="newBarChartDlgYAxisPanel" class="wizardPanel">
		<form class="ui form">
			<div class="ui info message" >
				<p>
					Choose which field's values will be summarized along the Y axis.
				</p>
			</div>
			<div class="field" id="selectYAxisField">
				<label>Y Axis Field</label> 
				<select class="ui dropdown" id="yAxisFieldSelection" name="yAxisFieldSelection">
					<option value="">
						Y Axis Field
					</option>
				</select>
			</div>
			<div class="field" id="selectYAxisSummary">
				<label>Summarize Values By</label>
				<select class="ui dropdown" id="yAxisSummarySelection" name="yAxisSummarySelection">
					<option value="">
						Summarize Values By
					</option>
				</select>
			</div>
		</form> <!-- form for panel -->
	</div> <!-- panel for selecting new field or choosing to create a new one -->
{{end}}


{{define "newBarChartDialog"}}

<div id="newBarchartDialog" title="New Bar Chart" class="initiallyHiddenDialog">
	
	{{template "wizardDialogProgress" . }}
	
	{{template "newDashboardComponentSelectTablePanel" .SelectTableParams}}
	{{template "dashboardComponentValueGroupingPanel" .ValueGroupingParams}}
	{{template "newBarChartYAxisPanel"}}
	
</div> <!-- new bar chart dialog -->

{{end}}