#dashboardCenterContentHeaderCol {
	 text-align:center;
}

#dashboardCenterContentHeader {
	margin-top:5px;
	margin-bottom:5px;
}


#dashboardContentHeaderUILayout {
	padding: 4px; /* override jQuery UI Layout padding */
	background-color: #EEEEEE;
}