/* This file is part of the Resultra project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
 #recordFooterUILayout {
	overflow:hidden; /* disable scroll bars */
}

#dashboardNameHeaderCol {
	 text-align:center;
}

#dashboardNameHeader {
	margin-top:5px;
	margin-bottom:5px;
}


#dashboardPane
{
	padding: 0px;
}

#dashboardHeaderUILayout
{
	padding: 4px; /* override jQuery UI Layout padding */
}

/* Override jQuery UI Layout's default padding */
#viewDashboardSidebarContent {
	padding:0;
}