{{define "viewDashboardBreadcrumbHeader"}}
	<div class="marginTop2">
	  {{template "homePageBreadcrumb"}}
	  {{template "breadCrumbSeparator"}}
	  <a href="/" class="h4 breadCrumbText"><i class="fa fa-tasks" aria-hidden="true">&nbsp;{{.DatabaseName}}</i></a>
	  {{template "breadCrumbSeparator"}}
	  <span class="h4 breadCrumbText">{{.DashboardName}}</span>
	</div> <!-- breadcrumb header -->
{{end}}

{{define "viewDashboardPageHeader"}}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8">
				{{template "viewDashboardBreadcrumbHeader" .}}
			</div>
			<div class="col-sm-4">
				<div class="pull-right">
					{{template "userDropdownMenu"}}
				</div>
			</div>
		</div>
	</div>
{{end}}

{{define "viewDashboardMoreMenuListItems"}}
  <li><a href="/designDashboard/{{.DashboardID}}" class="item">Edit Dashboard Design</a></li>
  <li role="separator" class="divider"></li>
{{end}}

{{define "viewDashboardMoreMenu"}}
<div class="btn-group" role="group">
	<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  <span class="glyphicon glyphicon-option-horizontal"> </span>
	</button>
	<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu4">
		{{template "viewDashboardMoreMenuListItems" .}}
	</ul>
</div>
{{end}}

{{define "viewDashboardHeaderControls"}}
<div class="container-fluid" id="recordHeaderGrid">
	<div class="row">
		<div class= "col-sm-4">
			<button type="button" class="btn btn-default btn-sm" id="viewTableOfContentsMenuButton">
			  <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
			</button>
		</div> <!-- column -->
		<div class= "col-sm-4"  id="dashboardNameHeaderCol">
			<h4 id="dashboardNameHeader">{{.DashboardName}}</h4>
		</div> <!-- column -->
		<div class= "col-sm-4">
			<div class="pull-right">
				{{template "viewDashboardMoreMenu" .}}
			</div>
		</div> <!-- column -->
	</div> <!-- row -->
</div> <!-- #recordHeaderGrid  -->
{{end}}

{{define "dashboardViewProps"}}

	<div id="dashboardViewProps" class="propertyPanelToggleContainer">
		Dashboard view properties - TBD
	</div>

{{end}}


{{define "dashboardViewSidebar"}}

	{{template "propertiesSidebarHeader"}}
	
	<div class="ui-layout-content" id="viewDashboardSidebarContent">
		
		{{template "propertyPanelGroupPrefix"}}
			{{template "summaryTableViewProps" .ComponentParams.SummaryTableParams}}
			{{template "barChartViewProps" .ComponentParams.BarChartParams}}	
			{{template "dashboardViewProps" .}}
		
		{{template "propertyPanelGroupSuffix"}}
		
	</div>
{{end}}

{{define "viewDashboardFooterControls"}}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6">
			TBD
		</div>
		<div class="col-sm-6">
			<div class="pull-right">
				TBD
			</div>
		</div>
	</div>
</div> <!-- record footer grid -->
{{end}}

{{define "viewDashboard"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
	
	{{template "thirdPartyCSS"}}
	
	<!-- viewDashboardAssets:css -->
	<!-- endinject -->
	
	<script>
		var viewDashboardContext = { 
			dashboardID:"{{.DashboardID}}",
	 		databaseID: "{{.DatabaseID}}"} 
	</script>
	
	{{template "thirdPartyJS"}}
	{{template "googleChartsJavascript"}}
	
	<!-- viewDashboardAssets:js -->
	<!-- endinject -->
				
  </head>
	
 	
	
  <body>

	<div id="layoutPage" class="layoutPageDiv">
		
		<div class="pane ui-layout-north" id="viewDashboardPageHeaderUILayout">
			{{template "viewDashboardPageHeader" .}}
		</div> <!-- ui layout north -->
		
		<div class="pane ui-layout-west" id="viewDashboardTocLayout">
			{{template "databaseTOC" .}}
		</div> <!-- ui layout north -->

		<div class="pane ui-layout-east noPadding" id="eastDashboardDetailPane">
			{{template "dashboardViewSidebar" .}}
			
		</div> <!-- east filter & sort pane for entire page -->


		<div class="pane ui-layout-center" id="dashboardPane">
			
			<div class="ui-layout-center" id="dashboardViewPane">
				
				<div class="layoutPageDiv" id="layoutPage">
					<div id="dashboardCanvas"></div>
				</div>	
				
			</div> <!-- ui-layout-center #recordHeader -->
	
			<div class=" ui-layout-south" id="dashboardFooterUILayout" >
				{{ template "viewDashboardFooterControls"}}
			</div>  <!-- #recordFooterUILayout ui-layout-south -->
			
			<!-- The style is overridden on the #recordHeader and semantic UI
			     grid divs to minimize the padding, so the buttons and selection
				 will be relatively compact within the header.
				
				It's also important for the ui-layout-north pane to come *last*
				in the HTML. This ensures the Z-order is setup so the menues in 
				the header can overflow the panes below it. See the jQuery UI
				layout documentation for more discussion on this.
				
				http://layout.jquery-dev.com/documentation.cfm#Drop-Downs	
			-->
			<div class="ui-layout-north" id="dashboardHeaderUILayout">
				{{template "viewDashboardHeaderControls" .}}
			</div> <!-- ui-layout-north #recordHeaderUILayout -->
				
		</div> <!-- center pane for entire page -->	
	</div> <!-- layout page -->
	
  </body>
  	
</html>

{{end}}