#recordFooterUILayout {
	overflow:hidden; /* disable scroll bars */
}

#dashboardNameHeaderCol {
	 text-align:center;
}

#dashboardNameHeader {
	margin-top:5px;
	margin-bottom:5px;
}


#dashboardPane
{
	padding: 0px;
}

#dashboardHeaderUILayout
{
	padding: 4px; /* override jQuery UI Layout padding */
}

/* Override jQuery UI Layout's default padding */
#viewDashboardSidebarContent {
	padding:0;
}