
{{define "dashboardViewProps"}}

	<div id="dashboardViewProps" class="propertyPanelToggleContainer">
		Dashboard view properties - TBD
	</div>

{{end}}


{{define "dashboardViewSidebar"}}

	{{template "propertiesSidebarHeader"}}
	
	<div class="ui-layout-content" id="viewDashboardSidebarContent">
		
		{{template "propertyPanelGroupPrefix"}}
			{{template "summaryTableViewProps" .ComponentParams.SummaryTableParams}}
			{{template "barChartViewProps" .ComponentParams.BarChartParams}}	
			{{template "dashboardViewProps" .}}
		
		{{template "propertyPanelGroupSuffix"}}
		
	</div>
{{end}}