

/* Tighten up the padding and margins for table cells and layoutContainer's displayed
   in the table view */
#tableViewContainer td {
	padding: 2px;
}

#tableViewContainer .layoutContainer {
	padding: 0px;
	margin: 0px;
}

/* Hide the length control - Since the resizePlugin is being used,
   the page length is automatically reconfigured */
#tableViewContainer .dataTables_length {
	display:none;
}

/* #tableViewContainer needs to fill the entire center div. This has to do with the DataTables resize plugin
   which in-turn resizes the table fit it's entire prent div.  */  
#tableViewContainer {
	position: absolute;
	top: 0;
	bottom:0;
	left:0;
	right:0;
}