/* This file is part of the Resultra project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
 
.userTagFormContainer {
	min-width:200px;
	min-height:75px;
	width: 250px;
	height: 75px;
}

.userTagTableCellContainer {
	min-width:220px;
	min-height:10px;
	width: 200px;
	height: auto;
}


/* Adjust the sizing of the selection control to closely match Bootstrap */
.userTagTableCellContainer .select2-selection,
.userTagFormContainer .select2-selection
{
	display: block!important;
	white-space: nowrap!important;
  	overflow-y: auto;
	font-size:12px;
}

.userTagTableCellContainer .select2-selection__choice, 
.userTagTableCellContainer .select2-search,
.userTagFormContainer .select2-selection__choice,
.userTagFormContainer .select2-search {
	display: flex !important;
	height: 24px!important;
	white-space: nowrap!important;
	align-items:center;
	justify-content:center;
	font-size:14px;
	margin-top:5px !important;
}

.userTagTableCellContainer .select2-search__field {
	margin-top:2px !important;
}

.userTagFormContainer .select2-selection {
	display: block!important;
	white-space: nowrap!important;
	line-height: 26px!important;
    overflow: auto;
}

.userTagFormContainer .select2-selection--multiple {
	min-height: 30px;
	height: auto;
}

.userTagFormContainer label {
	margin-bottom: 2px !important;
}

.userTagClearValueWrapper {
	position:relative;
	min-height:34px;
}


.userTagDropdown .dropdown-toggle {
	padding-left: 5px;
	padding-right:5px;
	padding-bottom:2px;
	padding-top:2px;
}

.userTagButtons {
	display:inline-flex;
	 justify-content:flex-end;
}


.userTagPopupEditorContainer {
	width:100%;
	/* A minimum width & height constrains the overall popup to be at least this size */
	min-width: 250px;
	min-height: 150px;
}

.userTagPopupEditorContainer .select2-selection--multiple {
	min-height: 120px;
}

.userEditorHeader {
	min-height:25px;
}
