{{define "formComponentDatePickerJS"}}
	<script src="/static/form/components/datePicker/containerHTML.js"></script>
	<script src="/static/form/components/datePicker/newDatePickerDialog.js"></script>
	<script src="/static/form/components/datePicker/designFormConfig.js"></script>
	<script src="/static/form/components/datePicker/viewFormConfig.js"></script>
	<script src="/static/form/components/datePicker/properties.js"></script>
{{end}}

{{define "formComponentDatePickerCSS"}}
<link rel="stylesheet" type="text/css" class="ui" href="/static/form/components/datePicker/datePicker.css">
{{end}}