


{{define "datePickerProps"}}

	<div id="datePickerProps" class="propertyPanelToggleContainer">
		
		{{template "componentLabelPropertyPanel" .LabelPanelParams}}
		
		{{template "propertyPanelPrefix" .FormatPanelParams}}
			{{template "datePickerFormatProps"}}
		{{template "propertyPanelSuffix"}}

		{{template "propertyPanelPrefix" .ValidationPanelParams}}
			{{template "datePickerValidationProps"}}
		{{template "propertyPanelSuffix"}}

		
		{{template "componentVisibilityPropertyPanel" .VisibilityPanelParams}}

		{{template "componentPermissionsPropertyPanel" .PermissionPanelParams}}
		
		{{template "propertyPanelPrefix" .ClearValuePanelParams}}
			{{template "clearValueProps" .ElemPrefix}}
		{{template "propertyPanelSuffix"}}
		
		{{template "componentHelpPopupPropertyPanel" .HelpPopupParams}}
		
		{{template "componentDeletePropertyPanel" .DeletePanelParams}}
	</div>

{{end}}