
{{define "datePickerFormatProps"}}
    <form id="adminDateComponentFormatForm">
	  <div class="form-group">
	      	  <label for="adminDateComponentFormatSelection">Date and time format</label>
		  	<select class="form-control" id="adminDateComponentFormatSelection">
		  		<option disabled selected value="">Select a date format</option>
		 		<option value="date">Date</option>
		 		<option value="dateTime">Date and time</option>
		 		<option value="longDate">Long date</option>
			</select>
	  </div>
	</form>
{{end}}

{{define "datePickerProps"}}

	<div id="datePickerProps" class="propertyPanelToggleContainer">
		
		{{template "componentLabelPropertyPanel" .LabelPanelParams}}
		
		{{template "propertyPanelPrefix" .FormatPanelParams}}
			{{template "datePickerFormatProps"}}
		{{template "propertyPanelSuffix"}}
	</div>

{{end}}