{{define "panel1Content"}}
	Panel 1 contents
{{end}}

{{define "panel2Content"}}
	Panel 2 contents
{{end}}


{{define "propertiesSidebarHeader"}}
	<div class="container-fluid">
		<div class="row propertiesSidebarHeader">
			<div class= "col-md-12 text-center h5"><span>Properties</span></div>
		</div>
	</div>

{{end}}

<!-- #propertyPanelAccordion is a unique ID, so there can (currently) only be one property panel per page. -->
{{define "propertiesSidebarAccordionHeader"}}
 <div class="panel-heading" role="tab" id="{{.PanelID}}_heading">
	<button class="btn btn-default btn-sm propertiesSidebarAccordionToggle" type="button" data-parent="#propertyPanelAccordion" data-toggle="collapse" data-target="#{{.PanelID}}" aria-expanded="false" aria-controls="{{.PanelID}}">
	  {{.PanelHeaderLabel}}
	</button>
 </div>
	
{{end}}





{{define "propertiesSidebarAccordionBodyPrefix"}}

    <div id="{{.PanelID}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="{{.PanelID}}_heading">
		<div class="propertySidebarPanelContent">
{{end}}

{{define "propertiesSidebarAccordionBodySuffix"}}
		</div>
    </div>	
{{end}}

{{define "propertyPanelPrefix"}}
	  <div class="panel panel-default">
		  {{template "propertiesSidebarAccordionHeader" .}}
		  {{template "propertiesSidebarAccordionBodyPrefix" .}}
{{end}}

<!-- When using the templates, the content of the panel goes between propertyPanelPrefix and propertyPanelSuffix -->

{{define "propertyPanelSuffix"}}
			{{template "propertiesSidebarAccordionBodySuffix"}}
	  </div>
{{end}}

<!-- propertyPanelGroupPrefix should be referenced once from the main page. Each selectable component which has a dynamically shown/hidden
     list of panels can enclose the list of panels in a single div immediately below this prefix. -->
{{define "propertyPanelGroupPrefix"}}
	<div class="panel-group propertySidebarPanelGroup" id="propertyPanelAccordion" role="tablist" aria-multiselectable="true">
{{end}}

{{define "propertyPanelGroupSuffix"}}
	</div>
{{end}}