{{define "panel1Content"}}
	Panel 1 contents
{{end}}

{{define "panel2Content"}}
	Panel 2 contents
{{end}}


{{define "propertiesSidebarHeader"}}
	<div class="container-fluid">
		<div class="row propertiesSidebarHeader">
			<div class= "col-md-12 text-center h5"><span>Properties</span></div>
		</div>
	</div>

{{end}}

{{define "propertiesSidebarAccordionHeader"}}
 <div class="panel-heading" role="tab" id="headingOne">
	<button class="btn btn-default btn-sm propertiesSidebarAccordionToggle" type="button" data-parent="#accordion" data-toggle="collapse" data-target="#{{.}}" aria-expanded="false" aria-controls="{{.}}" style="width:100%;border-radius:0px">
	  Panel Header (Button) {{.}}
	</button>
 </div>
	
{{end}}

{{define "propertiesSidebarAccordionBodyPrefix"}}

    <div id="{{.}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		<div class="propertySidebarPanelContent">
{{end}}

{{define "propertiesSidebarAccordionBodySuffix"}}
		</div>
    </div>	
{{end}}

{{define "propertyPanelPrefix"}}
	  <div class="panel panel-default">
		  {{template "propertiesSidebarAccordionHeader" .}}
		  {{template "propertiesSidebarAccordionBodyPrefix" .}}
{{end}}

<!-- When using the templates, the content of the panel goes between propertyPanelPrefix and propertyPanelSuffix -->

{{define "propertyPanelSuffix"}}
			{{template "propertiesSidebarAccordionBodySuffix"}}
	  </div>
{{end}}

{{define "propertyPanelGroupPrefix"}}
	<div class="panel-group propertySidebarPanelGroup" id="accordion" role="tablist" aria-multiselectable="true">
{{end}}

{{define "propertyPanelGroupSuffix"}}
	</div>
{{end}}


{{define "propertiesSidebarAccordion"}}

	{{template "propertyPanelGroupPrefix"}}
		
		  {{template "propertyPanelPrefix" "panel1"}}
		  		{{template "panel1Content"}}
		  {{template "propertyPanelSuffix"}}
		  
		  {{template "propertyPanelPrefix" "panel2"}}
		  		{{template "panel2Content"}}
		  {{template "propertyPanelSuffix"}}
		  
	{{template "propertyPanelGroupSuffix"}}
	
{{end}}