{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 {{define "componentLabelProps"}}

     <form id="{{.ElemPrefix}}ComponentLabelPropsForm">
	  
		<div class="form-group">
		  <label for="{{.ElemPrefix}}ComponentLabelPropsLabelType">Label type</label>
		  	<select class="form-control" id="{{.ElemPrefix}}ComponentLabelPropsLabelType">
		  		<option disabled selected value="">Label type</option>
				{{if .HideNoLabelOption}}
				{{else}}
		  			<option value="none">No label</option>
				{{end}}
		 		<option value="field">Field's name</option>
		 		<option value="custom">Custom label</option>
			</select>
		</div>

		<div class="form-group initiallyHidden" id="{{.ElemPrefix}}ComponentLabelCustomLabelFormGroup">
		  <label for="{{.ElemPrefix}}ComponentLabelPropsCustomLabel">Custom Label</label>
		  <input type="text" id="{{.ElemPrefix}}ComponentLabelPropsCustomLabelInput" 
		  		name="{{.ElemPrefix}}ComponentLabelPropsCustomLabelInput" 				
				class="form-control" placeholder="Enter a label">
		</div>
	  
	 </form>

{{end}}

{{define "componentLabelPropertyPanel"}}

	{{template "propertyPanelPrefix" .PanelParams}}
		{{template "componentLabelProps" .}}
	{{template "propertyPanelSuffix"}}

{{end}}