.dashboardHeaderFormContainer {
	min-width:50px;
	width: 180px;
	height: auto;
}

.dashboardHeaderFormContainer .dashboardHeader {
	margin-top: 2px;
	margin-bottom:2px;
}

.underlinedDashboardHeader {
	text-decoration: underline;
}
