{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 {{define "dashboardHeaderFormatProps"}}

     <form id="adminDashboardHeaderFormatForm">
	  <div class="form-group">
       	  <label for="adminDashboardHeaderSizeSelection">Header size</label>
		  	<select class="form-control" id="adminDashboardHeaderSizeSelection">
		  		<option disabled selected value="" placeholder="Select a size"></option>
		  		<option value="xlarge">Extra Large</option>
		 		<option value="large">Large</option>
		 		<option value="medium">Medium</option>
		 		<option value="small">Small</option>
		 		<option value="xsmall">Extra Small</option>
			</select>
	  </div>
	  
	  <div class="form-group">
 	      <div class="checkbox">
	        <input type="checkbox" id="adminDashboardHeaderUnderline">
	        <label for="adminDashboardHeaderUnderline">Underline header</label>
	      </div>
	   </div>
	  
	  
    </form>
	
{{end}}

{{define "dashboardHeaderTitleProps"}}
	{{template "dashboardComponentTitlePropertyPanel" "header_"}}
{{end}}

{{define "dashboardHeaderProps"}}

	<div id="dashboardHeaderProps" class="propertyPanelToggleContainer">
		
		{{template "propertyPanelPrefix" .TitlePanelParams}}
			{{template "dashboardHeaderTitleProps"}}	
		{{template "propertyPanelSuffix"}}
		
		{{template "propertyPanelPrefix" .FormatPanelParams}}
			{{template "dashboardHeaderFormatProps"}}	
		{{template "propertyPanelSuffix"}}
		
		{{template "dashboardComponentDeletePropertyPanel" .DeletePanelParams}}
		

	</div>

{{end}}