{{define "resetPasswordPanel"}}

	  <div>
		  <h2 class="text-center">Reset Resultra Password</h2>
	  </div>
	  
	  <div class="alert alert-info" role="alert">
		  Enter a new password.
	  </div>
  
	  <div class="container-fluid">

		<div class="row">
			
		 	   <div class="alert alert-danger" id="resetPasswordAlert"></div>
		 	   <div class="alert alert-success" id="resetPasswordConfirm">
		 	   		Password successfully changed ... <a href="/">Go to main page</a>
		 	   </div>
			   
			   
			<form id="passwordResetForm">
			   <div class="form-group">
		         <label for="resetPasswordInput" class="sr-only">Password</label>
		         <input type="password" id="resetPasswordInput" name="resetPasswordInput"
				 	class="form-control marginTop7 input-lg" placeholder="Password" required>
			   </div>
			   <div class="form-group">
		         <label for="resetPasswordInputRepeat" class="sr-only">Repeat Password</label>
		         <input type="password" id="resetPasswordInputRepeat" name="resetPasswordInputRepeat"
				 		class="form-control marginTop7 input-lg" placeholder="Repeat Password" required>
			   </div>
			</form>
				 	   
	 	</div>
	
		<div class="row marginTop20">
  	   		<button type="button" class="btn btn-primary btn-lg fullWidth" id="passwordResetButton" type="submit">Reset Password</button>
	 	</div>
	
  	</div>
	
{{end}}




{{define "resetPasswordPage"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
	
	{{template "electronImportPrefix"}}
	
	{{template "thirdPartyCSS"}}
		
	<!-- passwordResetPageAssets:css -->
	<!-- endinject -->
	
	<script>var resetContext = {
	 	resetID: "{{.ResetID}}"} 
	</script>
	
	
	{{template "thirdPartyJS"}}
	
	<!-- passwordResetPageAssets:js -->
	<!-- endinject -->
			
  </head>
  <body>
	  
	  {{template "publicPageHeader"}}
	  	   
	  <div class="container-fluid marginTop20">
		  		  
		  <div class="col-md-3"></div>
		  
		  <div class="col-md-6">
			  
			  <div class="well">
				  {{template "resetPasswordPanel"}}
			 </div>
				 
		 </div>
			
		 <div class="col-md-3"></div>

	  </div>
	  
 </body>
    
</html>
{{end}}