{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 {{define "userRegistrationPanel"}}

	  <div>
		  <h2 class="text-center">Register for Resultra Account</h2>
	  </div>
	  
	  <div class="alert alert-info registerControls" role="alert">
		  Please enter your registration information. Your account will be registered to 
		  <strong>{{.InviteeEmailAddr}}</strong>.
	  </div>
  
  
  	  <form id="registerNewUserForm">
		  <div class="container-fluid">

			<div class="row">
			
			 	   <div class="alert alert-danger initiallyHidden" id="registrationErrorAlert"></div>
			   
			 	   <div class="alert alert-success initiallyHidden" id="resetPasswordConfirm">
			 	   		Registration complete ... <a href="/">Go to worspace home page</a>
			 	   </div>
			   	   
				<form id="passwordResetForm">
				  <div class="form-group registerControls">
		        	  <label for="registerDialogFirstNameInput">Your Name</label>
		        	  <input type="text" id="registerFirstNameInput" name="registerFirstNameInput"
					  		class="form-control" placeholder="First Name" required autofocus>
		 		   </div>
		 		   <div class="form-group registerControls">
		        	  <input type="text" id="registerLastNameInput" name="registerLastNameInput"
					  	class="form-control marginTop5" placeholder="Last Name" required autofocus>
				  </div>
				  <div class="form-group registerControls">
		        	  <label for="registerUserNameInput">User Name</label>
		        	  <input type="text" id="registerUserNameInput" name="registerUserNameInput"
					  		class="form-control" placeholder="Username" required autofocus>
				  </div>
				   <div class="form-group registerControls">
			         <label for="registerPasswordInput">Password</label>
			         <input type="password" id="registerPasswordInput" name="registerPasswordInput"
					 	class="form-control marginTop" placeholder="Password" required>
				   </div>
				   <div class="form-group registerControls">
			         <label for="registerPasswordInputRepeat" class="sr-only">Repeat Password</label>
			         <input type="password" id="registerPasswordInputRepeat" name="registerPasswordInputRepeat"
					 		class="form-control marginTop7" placeholder="Repeat Password" required>
				   </div>
				</form>
				 	   
		 	</div>
  		</form>
	
		<div class="row marginTop10 registerControls">
  	   		<button type="button" class="btn btn-primary fullWidth " id="userRegisterButton" type="submit">Register</button>
	 	</div>
	
  	</div>
	
{{end}}


{{define "userRegistrationPage"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
	
	{{template "electronImportPrefix"}}
	
	{{template "thirdPartyCSS"}}
		
	<!-- registrationPageAssets:css -->
	<!-- endinject -->
	
	<script>var registrationContext = {
	 	inviteID: "{{.InviteID}}",
		inviteeEmailAddr: "{{.InviteeEmailAddr}}" }
	</script>
	
	
	{{template "thirdPartyJS"}}
	
	<!-- registrationPageAssets:js -->
	<!-- endinject -->
			
  </head>
  <body>
	  
	  {{template "publicPageHeader"}}
	  	   
	  <div class="container-fluid marginTop20">
		  		  
		  <div class="col-md-4"></div>
		  
		  <div class="col-md-4">
			  
			  <div class="well">
				  {{template "userRegistrationPanel" .}}
			 </div>
				 
		 </div>
			
		 <div class="col-md-4"></div>

	  </div>
	  
 </body>
    
</html>
{{end}}