
{{define "designFormBreadCrumbHeader"}}
	<div class="marginTop2">

	  {{template "homePageBreadcrumb"}}
	  {{template "breadCrumbSeparator"}}
	  <a href="/" class="h4"><i class="fa fa-tasks" aria-hidden="true">&nbsp;<span class="h4">{{.DatabaseName}}</span></i></a>
	  {{template "breadCrumbSeparator"}}
	  <a class="h4 breadCrumbText" href="/admin/{{.DatabaseID}}">Settings</a>
	  {{template "breadCrumbSeparator"}}
	  <span class="h4 breadCrumbText">Form Settings</span>
	  {{template "breadCrumbSeparator"}}
	  <span class="h4 breadCrumbText">{{.FormName}}</span>
	</div>
{{end}}

{{define "designFormHeader"}}
	<div class="container-fluid" id="designFormHeader">
		<div class="row">
			<div class="col-sm-8">
				{{template "designFormBreadCrumbHeader" .}}
			</div>
			<div class="col-sm-4">
				<div class="pull-right">
					{{template "userDropdownMenu"}}
				</div>
			</div>
		</div>
	</div>
{{end}}


{{define "designFormPaletteItems" }}
	<div class="row">
		<div class= "col-md-6"  style="padding:5px">
			<div class="draggable noselect paletteItem" id="paletteItemTextBox">
					<i class="glyphicon glyphicon-search"></i>
					<div>Text Box</div>
			</div>			
		</div> <!-- column -->
		<div class= "col-md-6" style="padding:5px">
			<div class="draggable noselect paletteItem" id="paletteItemCheckBox">
					<i class="glyphicon glyphicon-check"></i>
					<div>Check Box</div>
			</div>			
		</div> <!-- column -->
	</div> <!-- row -->

	<div class="row">
		<div class= "col-md-6" style="padding:5px">
			<div class="draggable noselect paletteItem " id="paletteItemDatePicker">
					<i class="glyphicon glyphicon-calendar"></i>
					<div>Date Picker</div>
			</div>			
		</div> <!-- column -->
		<div class= "col-md-6" style="padding:5px">
			<div class="draggable noselect paletteItem"  id="paletteItemImage">
					<i class="glyphicon glyphicon-picture"></i>
					<div>Image</div>
			</div>			
		</div> <!-- column -->
	</div> <!-- row -->

	<div class="row">
		<div class= "col-md-6" style="padding:5px">
			<div class="draggable noselect paletteItem" id="paletteItemHtmlEditor">
					<i class="glyphicon glyphicon-align-justify"></i>
					<div>HTML Editor</div>
			</div>			
		</div> <!-- column -->
		<div class= "col-md-6" style="padding:5px">
			<div class="draggable noselect paletteItem"  id="paletteItemHeader">
					<i class="glyphicon glyphicon-header"></i>
					<div>Header</div>
			</div>			
		</div> <!-- column -->
	</div> <!-- row -->

	<div class="row">
		<div class= "col-md-6" style="padding:5px">
			<div class="draggable noselect paletteItem" id="paletteItemRating">
					<i class="glyphicon glyphicon-star"></i>
					<div>Rating</div>
			</div>			
		</div> <!-- column -->
		<div class= "col-md-6" style="padding:5px">
			<div class="draggable noselect paletteItem" id="paletteItemSelection">
					<select class="form-control" disabled></select>
					<div>Selection</div>
			</div>			
		</div> <!-- column -->
	</div> <!-- row -->


	<div class="row">
		<div class= "col-md-6" style="padding:5px">
			<div class="draggable noselect paletteItem" id="paletteItemUserSelection">
					<i class="glyphicon glyphicon-user"></i>
					<div>Select User</div>
			</div>			
		</div> <!-- column -->
	</div> <!-- row -->



{{end}}

{{define "formDesignPalette"}}

	<div class="ui-layout-content">
		
		<div class="row paletteHeader">
			<div class= "col-md-12 text-center h5">
				Design Palette
			</div>
		</div>
		<div class="paletteItems">
			{{template "designFormPaletteItems"}}
		</div>
				
	</div> <!-- ui-layout-content -->

{{end}}

{{define "formDesignPropertiesSidebar"}}

	{{template "propertiesSidebarHeader"}}
		
	<div class="ui-layout-content" id="designFormPropertiesSidebarContent">
		{{template "propertyPanelGroupPrefix"}}
			{{template "formComponentProps" .}}
			{{template "formProps" .FormPropertyParams}}
		{{template "propertyPanelGroupSuffix"}}
				
	</div>
{{end}}

{{define "designForm"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
	
	{{template "thirdPartyCSS"}}
	
	<!-- designFormAssets:css -->
	<!-- endinject -->
	

	<script>var formID={{.FormID}};</script>
	<script>var designFormContext = { databaseID:"{{.DatabaseID}}",
			formID:"{{.FormID}}" } </script>
	
	{{template "thirdPartyJS"}}
	
	<!-- designFormAssets:js -->
	<!-- endinject -->
	
  </head>
  
  <body>
		<div id="layoutPage" class="layoutPageDiv">
			
			<div class="pane ui-layout-north" id="designFormPageHeaderUILayout">
				{{template "designFormHeader" .}}
			</div> <!-- north ui layout -->
			
			<div id="paletteSidebar" class="pane ui-layout-west paletteSidebar">
				{{template "formDesignPalette"}}
			</div>
		
			<div class="pane ui-layout-center">
				<div id="layoutCanvas"></div>
			</div> 

			<div class="pane ui-layout-east" id="propertiesPanelUILayout">
				{{template "formDesignPropertiesSidebar" .}}
			</div>
			
			<!-- The formula editor pane must come after the other panes to give it a higher z index -->
			<div id="formulaEditorPane" class="pane ui-layout-south" style="z-index:99 !important;">
				{{template "formulaEditor"}}
			</div>
			
		</div>
	
	{{template "newComponentDialogs" .}}
	   	   
  </body>
  
</html>

{{end}}