
{{define "formNamePropertyPanel"}}
	Form Name Properties Panel
{{end}}

{{define "formFilterPropertyPanel"}}
	Form Filter Properties Panel
{{end}}

{{define "formRolesPropertyPanel"}}
	<div class="list-group" id="formRolesPrivilegesList">
	</div>		
{{end}}


{{define "formProps"}}
	<div id="formProps" class="propertyPanelToggleContainer">
			  {{template "propertyPanelPrefix" .NamePanelParams}}
			  		{{template "formNamePropertyPanel"}}
			  {{template "propertyPanelSuffix"}}

			  {{template "propertyPanelPrefix" .FilterPanelParams}}
			  		{{template "formFilterPropertyPanel"}}
			  {{template "propertyPanelSuffix"}}
			  
			  {{template "propertyPanelPrefix" .RolesPanelParams}}
			  		{{template "formRolesPropertyPanel"}}
			  {{template "propertyPanelSuffix"}}
	</div>
{{end}}