{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 {{define "newFormComponentDialogButtons"}}

	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	{{template "newFormElemDialogSelectFieldPanelButtons" .}}
	{{template "newFormElemDialogNewFieldPanelButtons" .}}
{{end}}


{{define "newFormComponentDialog"}}

<div class="modal fade newFormComponentDialog" id="{{.ElemPrefix}}NewFormComponentDialog" tabindex="-1" role="document"
						aria-labelledby="{{.ElemPrefix}}NewFormComponentLabel" style="z-index:100000">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="{{.ElemPrefix}}NewFormComponentLabel">{{.DialogTitle}}</h4>
      </div>
      <div class="modal-body newFormComponentDialogBody">
		  <div>
			  {{template "wizardDialogProgress" . }}

        		{{template "newFormElemDialogSelectFieldPanel" .}}
        		{{template "newFormElemDialogNewFieldPanel" .}}
		</div>
      </div>
      <div class="modal-footer">
		  {{template "newFormComponentDialogButtons" .}}
      </div>
    </div>
  </div>
</div>

{{end}}