{{define "newFormElemDialogNewFieldPanelButtons"}}
	<button type="button" class="btn btn-default wizardPanelButton newFormComponentNewFieldButtons"
		 id="{{.ElemPrefix}}NewFormComponentSelectFieldPrevButton" type="submit">Previous</button>
	<button type="button" class="btn btn-primary wizardPanelButton newFormComponentNewFieldButtons"
		 id="{{.ElemPrefix}}NewFormComponentCreateNewFieldDoneButton" type="submit">Done</button>
{{end}}

{{define "newFormElemDialogNewFieldPanel"}}

	<div id="{{.ElemPrefix}}NewFieldPanel" class="wizardPanel newFormComponentNewFieldPanel">
			
		<form class="form" id="{{.ElemPrefix}}NewFieldForm">
			
			<div class="alert alert-info">
				{{.NewFieldInfoPrompt}}
			</div>
						
			<h4>Basic Field Information</h4>
			
			    <div class="form-group">
				      <label>Field Name</label>
				      <input type="text" class="form-control" id="{{.ElemPrefix}}NewFieldName"
					  	 	name="{{.ElemPrefix}}NewFieldName" placeholder="Enter a Field Name">
			    </div> <!-- Field name field -->
			
				<div class="form-group" id="{{.ElemPrefix}}NewFieldValTypeSelectionFormGroup">
					<label>Type of Value</label>
						<select class="form-control maxWidth300" 
									id="{{.ElemPrefix}}NewFieldValTypeSelection" name="{{.ElemPrefix}}NewFieldValTypeSelection">
							<option value="">Select a Field Type</option>
							<option value="number">Number</option>
							<option value="text">Text</option>
							<option value="user">User</option>
					</select>
					 
				</div> <!-- Value type field -->
			
			<h4>Calculated Field Settings</h4>
			
			<div class="form-group">
				  <div class="checkbox" id="{{.ElemPrefix}}NewFieldCalcFieldCheckbox">
					  <input type="checkbox" id="{{.ElemPrefix}}NewFieldIsCalcFieldInput"
						name="{{.ElemPrefix}}NewFieldIsCalcFieldInput">
						<label for="{{.ElemPrefix}}NewFieldIsCalcFieldInput">Values for this field are calculated from other fields.</label>
		    		</div>
			</div> <!-- Field name field -->
			
			<!-- The use of "inline field" causes the field label to be displayed side-by-side 
				with the input box. It also allows the help button to align horizontally with the 
				input box, using semantic UI form layout. There might be some other way to do this,
				but this was found to be the most straightforward. -->
		    <div class="form-group" >
			      <label id="{{.ElemPrefix}}RefNameLabel" data-toggle="tooltip" title="A reference name is the short-hand name used to refer to this field from other calculated fields' formulas.">Reference Name</label>
				  <input type="text" class="form-control" id="{{.ElemPrefix}}NewFieldRefName"
				  	 name="{{.ElemPrefix}}NewFieldRefName" placeholder="Enter a Reference Name">		
			</div> <!-- reference name field -->
			
			
		</form> <!-- form for panel -->
	</div> <!-- panel for giving the parameters for the new field -->

{{end}}