{{define "newFormElemDialogSelectFieldPanelButtons"}}
	<button type="button" class="btn btn-primary wizardPanelButton newFormComponentDlgNewFieldButtons" id="{{.ElemPrefix}}NewFormComponentNewFieldNextButton" type="submit">Next</button>
	<button type="button" class="btn btn-primary wizardPanelButton newFormComponentDlgExistingFieldButtons" id="{{.ElemPrefix}}NewFormComponentNewFieldDoneButton" type="submit">Done</button>
{{end}}

{{define "newFormElemDialogSelectFieldPanel"}}

	<div id="{{.ElemPrefix}}SelectExistingOrNewFieldPanel" class="wizardPanel">
		<form id="{{.ElemPrefix}}SelectExistingOrNewFieldForm">
			
			<div class="alert alert-info">
					{{.FieldInfoPrompt}}
			</div>
			<div class="form-group">
				<label>In which field should values be stored?</label>
			</div>
	
			<div class="form-group">
				<div class="radio">			
					<input type="radio" id="{{.ElemPrefix}}CreateNewFieldRadio" 
								name="{{.ElemPrefix}}NewOrExistingRadio" value="newField" checked>
					<label for="{{.ElemPrefix}}CreateNewFieldRadio">Create a new field </label>
				</div>
			</div>
				
			<div class="form-group">
				<div class="radio">				
					<input type="radio" id="{{.ElemPrefix}}UseExistingFieldRadio" 
								name="{{.ElemPrefix}}NewOrExistingRadio" value="existingField">
					<label for="{{.ElemPrefix}}UseExistingFieldRadio">Use an existing field </label>
				</div>			
			</div>
			
			<div class="form-group">
				<label class="marginLeft30">Existing fields:</label> 
				<select class="form-control marginLeft30" 
					id="{{.ElemPrefix}}FieldSelection" name="{{.ElemPrefix}}FieldSelection" style="width:80%" disabled>
					<option value="">
						Select a field
					</option>
				</select>
			</div>

			
		</form> <!-- form for panel -->
	</div> <!-- panel for selecting new field or choosing to create a new one -->
{{end}}
