#existingItemCenterContentHeaderCol {
	 text-align:center;
}

#existingItemCenterContentHeader {
	margin-top:5px;
	margin-bottom:5px;
}


#existingItemContentFooterUILayout, #existingItemContentHeaderUILayout {
	padding: 4px; /* override jQuery UI Layout padding */
	background-color: #EEEEEE;
}