{{define "newItemHeaderControls"}}
<div class="container-fluid" id="recordHeaderGrid">
	<div class="row">
		<div class= "col-sm-2 paddingLeft5">
			<button type="button" class="btn btn-default btn-sm" id="viewTableOfContentsMenuButton">
			  <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
			</button>
		</div> <!-- column -->
		<div class= "col-sm-8"  id="newItemCenterContentHeaderCol">
			<h4 id="newItemCenterContentHeader"></h4>
		</div> <!-- column -->
		<div class= "col-sm-2 paddingRight5">
			<div class="pull-right">
			</div>
		</div> <!-- column -->
	</div> <!-- row -->
</div> <!-- #recordHeaderGrid  -->
{{end}}

{{define "newItemPageFooterControls"}}
<div class="container-fluid" id="newItemViewFooterControls">
	<div class="row">
		<div class= "col-sm-6">
			<div>
				<button type="button" class="btn btn-default btn-sm marginRight10" 
						id="submitFormPageBackButton">Cancel</button>
				<button type="button" class="btn btn-primary btn-sm" 
						id="submitFormPageSubmitButton">Save</button>
			</div>
		</div> <!-- column -->
		<div class= "col-sm-6">
		</div> <!-- column -->
	</div> <!-- row -->
</div> <!-- #recordHeaderGrid  -->
{{end}}


{{define "newItemContentLayout"}}

	<div id="newItemContentLayout" style="height:100%;">
			<div class="ui-layout-center" id="recordViewPane">
								
				<form class="ui form" id="editLayoutForm" name="editLayoutForm">
					<div class="layoutPageDiv" id="contentLayoutContainer">
						<div id="newItemFormPageLayoutCanvas"></div>	
						{{template "submitFormSaveConfirmation"}}
					</div>	
				</form>
		
			</div> <!-- ui-layout-center #recordHeader -->
	
			<div class=" ui-layout-south" id="newItemContentFooterUILayout" >
				{{ template "newItemPageFooterControls"}}
			</div>  <!-- #recordFooterUILayout ui-layout-south -->
			
			<!-- The style is overridden on the #recordHeader and semantic UI
			     grid divs to minimize the padding, so the buttons and selection
				 will be relatively compact within the header.
				
				It's also important for the ui-layout-north pane to come *last*
				in the HTML. This ensures the Z-order is setup so the menues in 
				the header can overflow the panes below it. See the jQuery UI
				layout documentation for more discussion on this.
				
				http://layout.jquery-dev.com/documentation.cfm#Drop-Downs	
			-->
			<div class="ui-layout-north" id="newItemContentHeaderUILayout">
				{{template "newItemHeaderControls"}}
			</div> <!-- ui-layout-north #recordHeaderUILayout -->
	</div>


{{end}}

{{define "newItemOffPageContent"}}
	{{template "submitFormDialog"}}
	{{template "attachmentTemplates"}}
	{{template "formButtonPopupFormDialog"}}
{{end}}