#newItemCenterContentHeaderCol {
	 text-align:center;
}

#newItemCenterContentHeader {
	margin-top:5px;
	margin-bottom:5px;
}


#newItemContentFooterUILayout, #newItemContentHeaderUILayout {
	padding: 4px; /* override jQuery UI Layout padding */
	background-color: #EEEEEE;
}