{{define "itemListBreadcrumbHeader"}}
	<div class="marginTop2">
	  {{template "homePageBreadcrumb"}}
	  {{template "breadCrumbSeparator"}}
	  {{template "trackerPageBreadcrumb" .}}
	  {{template "breadCrumbSeparator"}}
	  <a class="h4 breadCrumbText" href="/admin/{{.DatabaseID}}">Settings</a>
	  {{template "breadCrumbSeparator"}}
	  <span class="h4 breadCrumbText">Role Settings</span>
	  {{template "breadCrumbSeparator"}}
	  <span class="h4 breadCrumbText">{{.RoleName}}</span>
	</div> <!-- breadcrumb header -->
{{end}}

{{define "rolePropsHeader"}}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8">
				{{template "itemListBreadcrumbHeader" .}}
			</div>
			<div class="col-sm-4">
				<div class="pull-right">
					{{template "userDropdownMenu"}}
					{{template "adminSettingsButton" .}}
				</div>
			</div>
		</div>
	</div>
{{end}}


{{define "adminRoleNameProperty"}}


	<tr>
		<td class="width200"><label>Role name:</label>
		</td>

		<td>
			<form class="form-inline" id="roleNamePropertyForm">
				<div class="form-group">
					<input type="text" id="rolePropsNameInput" name="rolePropsNameInput" 
							class="form-control" placeholder="Role Name" required="" autofocus="">
				</div>
			</form>
		</td>
	</tr>

{{end}}

{{define "adminRoleListPrivsProperty"}}


	<tr>
		<td class="width200"><label>List privileges:</label>
			<div><small>For users belonging to this role, configure which lists these users have read or write access to.</small></div>
		</td>

		<td>
			<div class="list-group" id="adminRoleListPrivilegesList">
			</div>		
		</td>
	</tr>

{{end}}

{{define "adminRoleDashboardPrivsProperty"}}


	<tr>
		<td class="width200"><label>Dashboard privileges:</label>
			<div><small>For users belonging to this role, configure which dashboard these users have read access to.</small></div>
		</td>

		<td>
			<div class="list-group" id="adminDashboardRolesPrivilegesList">
			</div>		
		</td>
	</tr>

{{end}}


{{define "adminRoleNewItemLinkPrivsProperty"}}
	<tr>
		<td class="width200"><label>New item link privileges</label>
			<div><small>For users belonging to this role, configure which links can be used to create new items.</small></div>
		</td>

		<td>
			<div class="list-group" id="adminNewItemLinkRolesPrivilegesList">
			</div>		
		</td>
	</tr>
{{end}}

{{define "adminRoleAlertPrivsProperty"}}
	<tr>
		<td class="width200"><label>Alert notifications</label>
			<div><small>For users belonging to this role, configure the alert notifications which will be received.</small></div>
		</td>

		<td>
			<div class="list-group" id="adminAlertRolesPrivilegesList">
			</div>		
		</td>
	</tr>
{{end}}

{{define "adminRoleCollaboratorsProperty"}}
	<tr>
		<td class="width200"><label>Collaborators</label>
			<div><small>Select users to belong to this role and have the associated privileges.</small></div>
		</td>

		<td>
			<div class="list-group" id="adminRoleCollaboratorList">
			</div>		
		</td>
	</tr>
{{end}}



{{define "rolePropsBody"}}

<table class="table">
	{{template "adminRoleNameProperty"}}
	{{template "adminRoleNewItemLinkPrivsProperty"}}	
	{{template "adminRoleListPrivsProperty"}}	
	{{template "adminRoleDashboardPrivsProperty"}}
	{{template "adminRoleAlertPrivsProperty"}}
	{{template "adminRoleCollaboratorsProperty"}}

</table>


{{end}}

{{define "editUserRolePropsPage"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>

	{{template "electronImportPrefix"}}

	
	{{template "thirdPartyCSS"}}
	
	<!-- rolePropsAssets:css -->
	<!-- endinject -->
	
	<script>var rolePropsContext = { 
		roleID:"{{.RoleID}}",
		 databaseID:"{{.DatabaseID}}"} 
	</script>
	
	{{template "thirdPartyJS"}}
	
	<!-- rolePropsAssets:js -->
	<!-- endinject -->
				
  </head>
	
 	
  <body>

	<div id="editRolePropsPage" class="layoutPageDiv">
		
		<div class="pane ui-layout-north">
			{{template "rolePropsHeader" .}}
		</div> <!-- ui layout north -->
		
		<div class="pane ui-layout-west" id="rolePageTocLayout">
			{{template "adminSettingsTOC"}}
		</div> <!-- ui layout north -->

		<div class="pane ui-layout-center" id="rolePageLayout">
			{{template "rolePropsBody" .}}
		</div> <!-- center pane for entire page -->	
		
	</div> <!-- layout page -->	
		
		
	{{template "submitFormDialog"}}
		
  </body>
  	
</html>

{{end}}