

{{define "adminRoleNameProperty"}}


	<tr>
		<td class="width200"><label>Role name:</label>
		</td>

		<td>
			<form class="form-inline" id="roleNamePropertyForm">
				<div class="form-group">
					<input type="text" id="rolePropsNameInput" name="rolePropsNameInput" 
							class="form-control" placeholder="Role Name" required="" autofocus="">
				</div>
			</form>
		</td>
	</tr>

{{end}}

{{define "adminRoleListPrivsProperty"}}


	<tr>
		<td class="width200"><label>List privileges:</label>
			<div><small>For users belonging to this role, configure which lists these users have read or write access to.</small></div>
		</td>

		<td>
			<div class="list-group" id="adminRoleListPrivilegesList">
			</div>		
		</td>
	</tr>

{{end}}

{{define "adminRoleDashboardPrivsProperty"}}


	<tr>
		<td class="width200"><label>Dashboard privileges:</label>
			<div><small>For users belonging to this role, configure which dashboard these users have read access to.</small></div>
		</td>

		<td>
			<div class="list-group" id="adminDashboardRolesPrivilegesList">
			</div>		
		</td>
	</tr>

{{end}}


{{define "adminRoleNewItemLinkPrivsProperty"}}
	<tr>
		<td class="width200"><label>New item link privileges</label>
			<div><small>For users belonging to this role, configure which links can be used to create new items.</small></div>
		</td>

		<td>
			<div class="list-group" id="adminNewItemLinkRolesPrivilegesList">
			</div>		
		</td>
	</tr>
{{end}}

{{define "adminRoleAlertPrivsProperty"}}
	<tr>
		<td class="width200"><label>Alert notifications</label>
			<div><small>For users belonging to this role, configure the alert notifications which will be received.</small></div>
		</td>

		<td>
			<div class="list-group" id="adminAlertRolesPrivilegesList">
			</div>		
		</td>
	</tr>
{{end}}

{{define "adminRoleCollaboratorsProperty"}}
	<tr>
		<td class="width200"><label>Collaborators</label>
			<div><small>Select users to belong to this role and have the associated privileges.</small></div>
		</td>

		<td>
			<div class="list-group" id="adminRoleCollaboratorList">
			</div>		
		</td>
	</tr>
{{end}}



{{define "rolePropsBody"}}

<h4>Role</h4>
<table class="table">
	{{template "adminRoleNameProperty"}}
	{{template "adminRoleNewItemLinkPrivsProperty"}}	
	{{template "adminRoleListPrivsProperty"}}	
	{{template "adminRoleDashboardPrivsProperty"}}
	{{template "adminRoleAlertPrivsProperty"}}
	{{template "adminRoleCollaboratorsProperty"}}

</table>


{{end}}

{{define "editUserRolePropsPage"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>

	{{template "electronImportPrefix"}}

	
	{{template "thirdPartyCSS"}}
	
	<!-- rolePropsAssets:css -->
	<!-- endinject -->
	
	<script>var rolePropsContext = { 
		roleID:"{{.RoleID}}",
		roleName:"{{.RoleName}}",
		 databaseID:"{{.DatabaseID}}",
		isSingleUserWorkspace: {{.IsSingleUserWorkspace}} } 
	</script>
	
	{{template "thirdPartyJS"}}
	
	<!-- rolePropsAssets:js -->
	<!-- endinject -->
				
  </head>
	
 	
  <body>

	<div id="editRolePropsPage" class="layoutPageDiv">
		
		<div class="pane ui-layout-north adminPageHeader">
			{{template "adminPageHeader" .}}
		</div> <!-- ui layout north -->
		
		<div class="pane ui-layout-west" id="rolePageTocLayout">
			{{template "adminSettingsTOC" .}}
		</div> <!-- ui layout north -->

		<div class="pane ui-layout-center" id="rolePageLayout">
			{{template "rolePropsBody" .}}
		</div> <!-- center pane for entire page -->	
		
	</div> <!-- layout page -->	
		
		
	{{template "submitFormDialog"}}
		
  </body>
  	
</html>

{{end}}