{{define "adminSettingsButton"}}
		{{if .CurrUserIsAdmin}}
			<a href="/admin/{{.DatabaseID}}" type="button" class="btn btn-sm btn-default" 
				data-toggle="tooltip" data-placement="left" title="Edit tracker settings">
			  <span class="glyphicon glyphicon-cog"> </span>
			</a>
		{{ end}}
{{end}}

{{define "adminSettingsSPAButton"}}
		{{if .CurrUserIsAdmin}}
			<a id="adminSettingsHeaderButton" type="button" class="btn btn-sm btn-default" 
				data-toggle="tooltip" data-placement="left" title="Edit tracker settings">
			  <span class="glyphicon glyphicon-cog"> </span>
			</a>
		{{ end}}
{{end}}


{{define "trackerHeaderButtons"}}
    {{template "alertHeader"}}
	{{template "adminSettingsSPAButton" .}}
{{end}}