{{define "viewFormBreadcrumbHeader"}}
	<div class="marginTop2">
	  {{template "homePageBreadcrumb"}}
	  {{template "breadCrumbSeparator"}}
	  <a href="/" class="h4 breadCrumbText"><i class="fa fa-database" aria-hidden="true">&nbsp;{{.DatabaseName}}</i></a>
	  {{template "breadCrumbSeparator"}}
	  <span class="h4 breadCrumbText">{{.ListName}}</span>
	</div> <!-- breadcrumb header -->
{{end}}

{{define "viewFormPageHeader"}}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8">
				{{template "viewFormBreadcrumbHeader" .}}
			</div>
			<div class="col-sm-4">
				<div class="pull-right">
					{{template "userDropdownMenu"}}
				</div>
			</div>
		</div>
	</div>
{{end}}

{{define "viewFormMoreMenuListItems"}}
  <li><a href="/designForm/{{.FormID}}" class="item">Edit Form Design</a></li>
  <li role="separator" class="divider"></li>
  <li><a href="#" id="viewFormMoreMenuDeleteRecord">Delete Record</a></li>
{{end}}

{{define "viewFormMoreMenu"}}
<div class="btn-group" role="group">
	<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  <span class="glyphicon glyphicon-option-horizontal"> </span>
	</button>
	<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu4">
		{{template "viewFormMoreMenuListItems" .}}
	</ul>
</div>
{{end}}

{{define "viewFormHeaderControls"}}
<div class="container-fluid" id="recordHeaderGrid">
	<div class="row">
		<div class= "col-sm-4">
			<button type="button" class="btn btn-default btn-sm" id="viewTableOfContentsMenuButton">
			  <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
			</button>
		</div> <!-- column -->
		<div class= "col-sm-4"  id="formNameHeaderCol">
			<h4 id="formNameHeader">{{.ListName}}</h4>
		</div> <!-- column -->
		<div class= "col-sm-4">
			<div class="pull-right">
				{{template "viewFormMoreMenu" .}}
			</div>
		</div> <!-- column -->
	</div> <!-- row -->
</div> <!-- #recordHeaderGrid  -->
{{end}}


{{define "viewFormFooterLeftButtons"}}
	<button class="btn-primary btn-sm" id="prevRecordButton">Previous</button>
	<span id="recordNumLabel">&nbsp;</span>
	<button class="btn-primary btn-sm" id="nextRecordButton">Next </button>
{{end}}

{{define "viewFormFooterControls"}}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6">
			{{template "viewFormFooterLeftButtons"}}
		</div>
		<div class="col-sm-6">
			<div class="pull-right">
				<button class="btn-primary btn-sm" id="newRecordButton">New Record</button>
			</div>
		</div>
	</div>
</div> <!-- record footer grid -->
{{end}}

{{define "formViewMainProps"}}
	<div id="formViewProps" class="propertyPanelToggleContainer">
		
		{{template "propertyPanelPrefix" .FilteringPanelParams}}
			{{template "recordFilterPane" "form_"}}
		{{template "propertyPanelSuffix"}}

		{{template "propertyPanelPrefix" .SortPanelParams}}
			{{template "recordSortPane"}}
		{{template "propertyPanelSuffix"}}
		
		
	</div>
{{end}}

{{define "formViewProps"}}

	{{template "propertiesSidebarHeader"}}
		
	<div class="ui-layout-content noPadding">
			{{template "propertyPanelGroupPrefix"}}
				{{template "formViewMainProps" .}}
				{{template "checkBoxViewProps" .ComponentParams.CheckBoxParams}}
				{{template "ratingViewProps" .ComponentParams.RatingParams}}
				{{template "userSelectionViewProps" .ComponentParams.UserSelectionParams}}
				{{template "datePickerViewProps" .ComponentParams.DatePickerParams}}
				{{template "textBoxViewProps" .ComponentParams.TextBoxParams}}
				{{template "selectionViewProps" .ComponentParams.SelectionParams}}
				{{template "imageViewProps" .ComponentParams.ImageParams}}
				{{template "htmlEditorViewProps" .ComponentParams.HTMLEditorParams}}
			{{template "propertyPanelGroupSuffix"}}	
	</div>

{{end}}


{{define "viewForm"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
	
	{{template "thirdPartyCSS"}}
	
	<!-- viewFormAssets:css -->
	<!-- endinject -->
	
	<script>var formID={{.FormID}};</script>
	<script>var tableID={{.TableID}};</script>
	<script>var viewFormContext = { formID:"{{.FormID}}",
		listID:"{{.ListID}}",
		tableID:"{{.TableID}}",
	 	databaseID: "{{.DatabaseID}}"} 
	</script>
	
	{{template "thirdPartyJS"}}
	
	<!-- viewFormAssets:js -->
	<!-- endinject -->
				
  </head>
	
 	
	
  <body>

	<div id="layoutPage" class="layoutPageDiv">
		
		<div class="pane ui-layout-north" id="viewFormPageHeaderUILayout">
			{{template "viewFormPageHeader" .}}
		</div> <!-- ui layout north -->
		
		<div class="pane ui-layout-west" id="viewFormTocLayout">
			{{template "databaseTOC" .}}
		</div> <!-- ui layout north -->

		<div class="pane ui-layout-east noPadding">
			
			{{template "formViewProps" .}}
					
		</div> <!-- east filter & sort pane for entire page -->


		<div class="pane ui-layout-center" id="recordsPane">
			
			<div class="ui-layout-center" id="recordViewPane">
				
				<form class="ui form" id="editLayoutForm" name="editLayoutForm">
					<div class="layoutPageDiv" id="layoutPage">
						<div id="layoutCanvas"></div>
					</div>	
				</form>
				
			</div> <!-- ui-layout-center #recordHeader -->
	
			<div class=" ui-layout-south" id="recordFooterUILayout" >
				{{ template "viewFormFooterControls"}}
			</div>  <!-- #recordFooterUILayout ui-layout-south -->
			
			<!-- The style is overridden on the #recordHeader and semantic UI
			     grid divs to minimize the padding, so the buttons and selection
				 will be relatively compact within the header.
				
				It's also important for the ui-layout-north pane to come *last*
				in the HTML. This ensures the Z-order is setup so the menues in 
				the header can overflow the panes below it. See the jQuery UI
				layout documentation for more discussion on this.
				
				http://layout.jquery-dev.com/documentation.cfm#Drop-Downs	
			-->
			<div class="ui-layout-north" id="recordHeaderUILayout">
				{{template "viewFormHeaderControls" .}}
			</div> <!-- ui-layout-north #recordHeaderUILayout -->
				
		</div> <!-- center pane for entire page -->	
	</div> <!-- layout page -->

	
  </body>
  	
</html>

{{end}}