

{{define "colPropsBody"}}

<h4 id="colPropsColHeader"></h4>
<div id="colPropPanels">
	{{template "numberInputColProperties" .NumberInputParams}}
	{{template "textInputColProperties" .TextInputParams}}
	{{template "datePickerColProperties" .DatePickerParams}}
	{{template "checkBoxColProperties" .CheckBoxParams}}
	{{template "ratingColProperties" .RatingParams}}
	{{template "toggleColProperties" .ToggleParams}}
	{{template "userSelectionColProperties" .UserSelectionParams}}
	{{template "userTagColProperties" .UserTagParams}}
	{{template "formButtonColProperties" .FormButtonParams}}
	{{template "attachmentColProps" .AttachmentParams}}
	{{template "noteColProps" .NoteParams}}
	{{template "commentColProps" .CommentParams}}
	{{template "progressColProperties" .ProgressParams}}
	{{template "socialButtonColProperties" .SocialButtonParams}}
	{{template "tagColProps" .TagParams}}
	{{template "emailAddrColProps" .EmailAddrParams}}
	{{template "urlLinkColProps" .UrlLinkParams}}
	{{template "fileColProps" .FileParams}}
	{{template "imageColProps" .ImageParams}}
</div>

{{end}}


{{define "colPropsAdminPage"}}
	{{template "colPropsBody" .}}
{{end}}