{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 

{{define "colPropsBody"}}

<h4 id="colPropsColHeader"></h4>
<div id="colPropPanels">
	{{template "numberInputColProperties" .NumberInputParams}}
	{{template "textInputColProperties" .TextInputParams}}
	{{template "textSelectionColProperties" .TextSelectionParams}}
	{{template "datePickerColProperties" .DatePickerParams}}
	{{template "checkBoxColProperties" .CheckBoxParams}}
	{{template "ratingColProperties" .RatingParams}}
	{{template "toggleColProperties" .ToggleParams}}
	{{template "userSelectionColProperties" .UserSelectionParams}}
	{{template "userTagColProperties" .UserTagParams}}
	{{template "formButtonColProperties" .FormButtonParams}}
	{{template "attachmentColProps" .AttachmentParams}}
	{{template "noteColProps" .NoteParams}}
	{{template "commentColProps" .CommentParams}}
	{{template "progressColProperties" .ProgressParams}}
	{{template "socialButtonColProperties" .SocialButtonParams}}
	{{template "tagColProps" .TagParams}}
	{{template "emailAddrColProps" .EmailAddrParams}}
	{{template "urlLinkColProps" .UrlLinkParams}}
	{{template "fileColProps" .FileParams}}
	{{template "imageColProps" .ImageParams}}
</div>

{{end}}


{{define "colPropsAdminPage"}}
<button type="button" class="btn btn-default btn-sm" id="colPropsBackToTableSettingsLink">
  <span class="fa fa-arrow-left" aria-hidden="true"></span> Back to table settings
</button>


	{{template "colPropsBody" .}}
{{end}}