{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 {{define "fileColProps"}}

<table id="fileColProps" class="table initiallyHidden" style="width:500px">
	
	<tr>
		<td class="width200"><label>Column header</label><BR>
			<small>Configure the label used for the column's header.</small>
		</td>

		<td class="maxWidth300">
			{{template "componentLabelProps" .LabelPanelParams}}
		</td>
	</tr>
		
	<tr>
		<td class="width200"><label>Permissions</label><BR>
			<small>Set whether values can be modified in this column.</small>
		</td>

		<td class="maxWidth300">
			{{template "tableViewColPermissionProps" .PermissionPanelParams}}
		</td>
	</tr>
	
	<tr>
		<td class="width200"><label>Clearing values</label><BR>
			<small>Set whether values can be cleared in this column.</small>
		</td>

		<td class="maxWidth300">
			{{template "clearValueProps" .ElemPrefix}}
		</td>
	</tr>
	
	<tr>
		<td class="width200"><label>Validation</label><BR>
			<small>Validation of input values.</small>
		</td>

		<td class="maxWidth300">
			{{template "textInputValidationProps"}}
		</td>
	</tr>
	
	{{template "componentHelpPopupColumnProps" .ElemPrefix}}
	
	
	
</table>


{{end}}