

{{define "adminCollaboratorNameProperty"}}


	<tr>
		<td class="width200"><label>Collaborator:</label>
		</td>

		<td id="collabNameTableCell">TBD
		</td>
	</tr>

{{end}}

{{define "adminCollaboratorRolesProperty"}}


	<tr>
		<td class="width200"><label>Roles:</label>
			<div><small>Configure which roles this collaborator belongs to.</small></div>
		</td>

		<td>
			
		  	<div class="form-group">
		  		<label>Select roles:</label>
		  		<div class="list-group maxWidth300" id="adminCollabRolesList"></div>
		  	</div>
			
		</td>
	</tr>

{{end}}


{{define "collabPropsBody"}}

<table class="table">
	{{template "adminCollaboratorNameProperty"}}
	{{template "adminCollaboratorRolesProperty"}}	
</table>


{{end}}

{{define "collabPropsPage"}}

	<button type="button" class="btn btn-default btn-sm" id="collaboratorPropsBackToCollaboratorListLink">
	  <span class="fa fa-arrow-left" aria-hidden="true"></span> Back to collaborator list
	</button>
	
	<h4>Collaborator</h4>

	{{template "collabPropsBody" .}}

{{end}}