{{define "alertEventTemplates"}}

<div style="display:none;">
	
	<div id="alertConditionListItem" class="list-group-item alertConditionListItem">
			<label class="alertConditionItemLabel"></label>
			<button type="button" class="close alertConditionDeleteButton">
				<span aria-hidden="true">&times;</span>
			</button>
	</div>
	
	
	<div id="alertDateFieldConditionProps">
		
		<div class="form-group">
			<select class="form-control input-sm alertConditionDateModeSelection"></select>
		</div> <!-- Field name field -->
		
		<div class="form-group dateParamFormGroup">
	        <div class='input-group date condDateParamInput'>
	            <input type='text' class="form-control input-sm" placeholder="Enter a date"/>
	            <span class="input-group-addon ">
	                <span class="glyphicon glyphicon-calendar"></span>
	            </span>
	        </div>		
		</div> <!-- Field name field -->
			
		<div class="form-group">
     	   <input class="form-control input-sm condNumParamInput" type="text" placeholder="Enter a value">
		</div> <!-- Field name field -->
			
	</div>

	<div id="alertBoolFieldConditionProps">
		
		<div class="form-group">
			<select class="form-control input-sm alertConditionBoolModeSelection"></select>
		</div> <!-- Field name field -->
					
	</div>

	<div id="alertNumberFieldConditionProps">
		
		<div class="form-group">
			<select class="form-control input-sm alertConditionModeSelection"></select>
		</div> <!-- Field name field -->
					
		<div class="form-group">
     	   <input class="form-control input-sm condNumParamInput" type="text" placeholder="Enter a value">
		</div> <!-- Field name field -->
			
	</div>

	<div id="alertCommentFieldConditionProps">
		
		<div class="form-group">
			<select class="form-control input-sm alertConditionModeSelection"></select>
		</div> <!-- Field name field -->
								
	</div>
	
	<div id="alertUserFieldConditionProps">
		
		<div class="form-group">
			<select class="form-control input-sm alertConditionModeSelection"></select>
		</div> <!-- Field name field -->
								
	</div>


</div>

{{end}}

{{define "adminAlertNameProperty"}}

{{end}}


{{define "alertEventProps"}}

	{{template "alertEventTemplates"}}
	
	<tr>
		<td class="width200"><label>Event(s) which trigger the alert</label>
			<div>
				<small>Add one or more events which will trigger the alert. If any one of the events occurs, the alert will be triggered.</small>
			</div>
		</td>

		<td id="alertConditionTableCell">
			<div class="maxWidth300">

				<div class="list-group alertConditionList" id="alertConditionList">
				</div>	
	
				<hr class="conditionPanelSeparator">

				{{template "fieldSelectionDropdown" .FieldSelectionParams}}
	
			</div>
		</td>
	</tr>
	


{{end}}
