{{define "alertEventTemplates"}}

<div style="display:none;">
	
	<div id="alertConditionListItem" class="list-group-item alertConditionListItem">
	</div>
	
	
	<div id="alertDateFieldConditionProps">
		
		<div class="form-group">
			<select class="form-control input-sm alertConditionDateModeSelection"></select>
		</div> <!-- Field name field -->
		
		<div class="form-group dateParamFormGroup">
	        <div class='input-group date condDateParamInput'>
	            <input type='text' class="form-control input-sm" placeholder="Enter a date"/>
	            <span class="input-group-addon ">
	                <span class="glyphicon glyphicon-calendar"></span>
	            </span>
	        </div>		
		</div> <!-- Field name field -->
			
		<div class="form-group">
     	   <input class="form-control input-sm condNumParamInput" type="text" placeholder="Enter a value">
		</div> <!-- Field name field -->
			
	</div>

	<div id="alertBoolFieldConditionProps">
		
		<div class="form-group">
			<select class="form-control input-sm alertConditionBoolModeSelection"></select>
		</div> <!-- Field name field -->
					
	</div>

	<div id="alertNumberFieldConditionProps">
		
		<div class="form-group">
			<select class="form-control input-sm alertConditionModeSelection"></select>
		</div> <!-- Field name field -->
					
		<div class="form-group">
     	   <input class="form-control input-sm condNumParamInput" type="text" placeholder="Enter a value">
		</div> <!-- Field name field -->
			
	</div>

	<div id="alertCommentFieldConditionProps">
		
		<div class="form-group">
			<select class="form-control input-sm alertConditionModeSelection"></select>
		</div> <!-- Field name field -->
								
	</div>
	
	<div id="alertUserFieldConditionProps">
		
		<div class="form-group">
			<select class="form-control input-sm alertConditionModeSelection"></select>
		</div> <!-- Field name field -->
								
	</div>


</div>

{{end}}

{{define "adminAlertNameProperty"}}

{{end}}


{{define "alertEventProps"}}

	{{template "alertEventTemplates"}}
	
	<tr>
		<td class="width200"><label>Triggering the alert</label>
			<div>
				<small>Configure which field and event triggers the alert.</small>
			</div>
		</td>

		<td id="alertConditionTableCell">
			<div class="maxWidth300">
				
				<div class="form-group">
					<label>Field which triggers the alert</label> 
					<select class="form-control " id="adminAlertTriggerFieldSelection"
						 name="adminAlertTriggerFieldSelection">
					</select>
				</div>
				
				<div class="form-group">
					<label>Event which triggers the alert</label> 
					<div class="list-group alertConditionList" id="alertConditionList">
					</div>	
				</div>
	
			</div>
		</td>
	</tr>
	


{{end}}
