{{define "alertRecipientTemplates"}}
{{end}}


{{define "alertRecipientProps"}}

	{{template "alertRecipientTemplates"}}
	
	<tr>
		<td class="width200"><label>Recipients of alert notifications</label>
			<div>
				<small>Configure which roles will receive alert notifications. Users belonging to the selected roles will receive notifications.</small>
			</div>
		</td>

		<td id="alertRecipientTableCell">
			<div class="maxWidth300">

				<div class="list-group adminAlertRecipientList" id="adminAlertRecipientList">
				</div>	
	
			</div>
		</td>
	</tr>
	


{{end}}