{{define "addAttachmentsDialogButtons"}}
	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	<button type="button" class="btn btn-primary" id="addAttachmentsDoneButton">Done</button>
{{end}}

{{define "addAttachmentsDialogBody"}}

<div id="addAttachmentsAttachmentList" class="list-group">
</div>

<label class="btn btn-default btn-file fileinput-button marginTop5">
    Add Files... <input type="file" id="addAttachmentsAddFilesButton" multiple style="display:none">
</label>

{{end}}

{{define "addAttachmentDialogTemplates"}}
<div style="display:none">
	
	<div class="list-group-item" id="addAttachmentsAttachmentListItemTemplate">
		<div class="media" >
			<div class="media-left">
				{{template "attachmentThumbnailContainer"}}
			</div>
			<div class="media-body form-horizontal">
				{{template "attachmentTitleInput"}}
				{{template "attachmentCaptionInput"}}
			</div>
			<div class="media-right">
				<button type="button" class="btn btn-xs btn-danger deleteAttachmentButton" aria-label="Close">
				  <span class="glyphicon glyphicon-remove" style="padding-bottom:2px"></span>
				</button>
			</div>
		</div>
	</div>
</div>
{{end}}


{{define "addAttachmentsDialog"}}

{{template "addAttachmentDialogTemplates"}}


<div class="modal fade addAttachmentsDialog" id="addAttachmentsDialog" tabindex="-1" role="document"
						aria-labelledby="addAttachmentsDialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addAttachmentsDialogLabel">Add Attachments</h4>
      </div>
      <div class="modal-body addAttachmentsDialogBody">
		  {{template "addAttachmentsDialogBody"}}
      </div>
      <div class="modal-footer">
		  {{template "addAttachmentsDialogButtons"}}
      </div>
    </div>
  </div>
</div>

{{end}}