/* This file is part of the Resultra project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
 

.attachmentThumbnailContainer {
	width: 128px;
	text-decoration: none !important;
}

.attachmentThumbnailImage {
	/* Allow the thumbnail to resize to the given proportions, but keep the aspect ratio, per the following
	 https://stackoverflow.com/questions/12991351/css-force-image-resize-and-keep-aspect-ratio
	
	Also center based upon the following: https://stackoverflow.com/questions/7055393/center-image-using-text-align-center
	
	max-width and max-height can be overridden
	
	 */
	display:block;
	max-width: 125px;
	max-height:125px;
	width:auto;
	height:auto;
	margin:0 auto;
}

.attachmentThumbnailIcon {
	display: block;
	text-align: center;
	font-size: 40px;
	line-height: 64px;
}

.smallAttachmentThumbnailIcon {
	display: block;
	text-align: center;
	font-size: 20px;
	line-height: 32px;
}

.attachmentThumbnailText {
	display: block;
	text-align:center;
	font-size:18px;
	line-height: 36px;
	 text-transform: uppercase;
}

.smallAttachmentThumbnailText {
	display: block;
	text-align:center;
	font-size:14px;
	line-height: 18px;
	 text-transform: uppercase;
}


.attachmentCaptionTextArea {
	resize:vertical;
	margin-bottom: 5px;
}

.attachmentThumbnailTitle {
	width:100%;
}

.attachment



