/* This file is part of the Resultra project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
 #attachLinkDialog {
	/* The attachment dialog needs a higher z-index than normal Bootstrap dialogs (1050). This
	   is the case because attachment dialogs may be shown on top of Bootstrap dialogs used
	   to show popup forms. This is not recommended by the Bootstrap documentation, but 
	   is acceptable as a workaround.
	 */
	z-index:1060 !important;
}