/* This file is part of the Resultra project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
 .attachmentListItem {
	padding-top:2px;
	padding-bottom:2px;
}

.attachmentListInlineItem {
  position: relative;
  background: white;
  padding: 10px;
  width: auto;
  max-width: 400px;
  min-height: 150px;
  margin: 20px auto; 
  text-align: center;
}

.attachmentListInlineItem .mfp-counter {
	position: relative;
	color: black;
}

.attachmentListLinkText {
	display: block;
	text-align:center;
	font-size:18px;
	line-height: 24px;
}

.attachDownloadLink {
	text-decoration: none !important;
}
