

{{define "attachmentThumbnailContainer"}}
	<a href="#" target="new" class="attachmentThumbnailContainer thumbnail center-block">
		<img class="media-object attachmentThumbnailImage">
		<i class="attachmentThumbnailIcon glyphicon glyphicon-file"></i>
		<span class="attachmentThumbnailText"></span>
	</a>
{{end}}


{{define "attachmentTitleInput"}}
	<div class="form-group">
		<label class="col-sm-2 control-label">Title</label>
		<div class="col-sm-10">
			<input type="text" class="attachmentThumbnailTitle form-control" name="attachmentThumbnailTitle"
				 placeholder="Enter a title (optional)">
		</div>
	</div>
{{end}}


{{define "attachmentCaptionInput"}}
	<div class="form-group">
		<label class="col-sm-2 control-label">Caption</label>
		<div class="col-sm-10">
			<textarea class="form-control attachmentCaptionTextArea" name="attachmentCaptionTextArea"
				placeholder="Enter a caption (optional)" rows="3" maxlength="256"></textarea>
		</div>
	</div>	
{{end}}

{{define "attachmentURLInput"}}
	<div class="form-group">
		<label class="col-sm-2 control-label">URL</label>
		<div class="col-sm-10">
			<input type="text" class="attachmentURLLink form-control" name="attachmentURLLink"
				 placeholder="Paste an URL link">
		</div>
	</div>	
{{end}}