{{define "manageAttachmentsDialogButtons"}}
	<button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
{{end}}

{{define "manageAttachmentsDialogBody"}}

<div id="manageAttachmentsAttachmentList" class="list-group">
</div>

<label class="btn btn-default btn-file fileinput-button marginTop5">
    Add Files... <input type="file" id="manageAttachmentsAddFilesButton" multiple style="display:none">
</label>

{{end}}

{{define "manageAttachmentDialogTemplates"}}
<div style="display:none">
	
	<div class="list-group-item" id="manageAttachmentsAttachmentListItemTemplate">
		<div class="media" >
			<div class="media-left">
				<a href="#" target="new" class="attachmentThumbnailContainer thumbnail">
					<img class="media-object attachmentThumbnailImage">
					<i class="attachmentThumbnailIcon glyphicon glyphicon-file"></i>
					<span class="attachmentThumbnailText">TBD</span>
				</a>
			</div>
			<div class="media-body">
				<div class="form-group">
					<label>Title</label>
					<input type="text" class="attachmentThumbnailTitle"
							class="form-control" placeholder="Title" required="" autofocus="">
				</div>
				<div class="form-group">
					<label>Caption</label>
					<textarea class="form-control attachmentCaptionTextArea" placeholder="Enter a caption" rows="2"></textarea>
				</div>	
			</div>
			<div class="media-right">
				<button type="button" class="btn btn-xs btn-danger deleteAttachmentButton" aria-label="Close">
				  <span class="glyphicon glyphicon-remove" style="padding-bottom:2px"></span>
				</button>
			</div>
		</div>
	</div>
</div>
{{end}}


{{define "manageAttachmentsDialog"}}

{{template "manageAttachmentDialogTemplates"}}


<div class="modal fade manageAttachmentsDialog" id="manageAttachmentsDialog" tabindex="-1" role="document"
						aria-labelledby="manageAttachmentsDialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="manageAttachmentsDialogLabel">Manage Attachments</h4>
      </div>
      <div class="modal-body manageAttachmentsDialogBody">
		  {{template "manageAttachmentsDialogBody"}}
      </div>
      <div class="modal-footer">
		  {{template "manageAttachmentsDialogButtons"}}
      </div>
    </div>
  </div>
</div>

{{end}}