{{define "manageAttachmentsDialogButtons"}}
	<button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
{{end}}

{{define "manageAttachmentsDialogBody"}}

<label class="btn btn-default btn-file fileinput-button">
    Add Files... <input type="file" id="manageAttachmentsAddFilesButton" multiple style="display:none">
</label>

{{end}}


{{define "manageAttachmentsDialog"}}

<div class="modal fade manageAttachmentsDialog" id="manageAttachmentsDialog" tabindex="-1" role="document"
						aria-labelledby="manageAttachmentsDialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="manageAttachmentsDialogLabel">Manage Attachments</h4>
      </div>
      <div class="modal-body manageAttachmentsDialogBody">
		  {{template "manageAttachmentsDialogBody"}}
      </div>
      <div class="modal-footer">
		  {{template "manageAttachmentsDialogButtons"}}
      </div>
    </div>
  </div>
</div>

{{end}}