#singleAttachmentDialog {
	/* The attachment dialog needs a higher z-index than normal Bootstrap dialogs (1050). This
	   is the case because attachment dialogs may be shown on top of Bootstrap dialogs used
	   to show popup forms. This is not recommended by the Bootstrap documentation, but 
	   is acceptable as a workaround.
	 */
	z-index:1060 !important;
}