{{define "textBoxProps"}}

	<div id="textBoxProps" class="propertyPanelToggleContainer">

		{{template "componentLabelPropertyPanel" .LabelPanelParams}}
		
		{{template "propertyPanelPrefix" .ValueListPanelParams}}
			{{template "valueListSelectionPropertyPanel"}}
		{{template "propertyPanelSuffix"}}
		

		{{template "componentVisibilityPropertyPanel" .VisibilityPanelParams}}

		{{template "componentPermissionsPropertyPanel" .PermissionPanelParams}}

		{{template "componentDeletePropertyPanel" .DeletePanelParams}}

	</div>

{{end}}