

{{define "textBoxProps"}}

	<div id="textBoxProps" class="propertyPanelToggleContainer">

		{{template "componentLabelPropertyPanel" .LabelPanelParams}}
	
		{{template "propertyPanelPrefix" .ValidationPanelParams}}
			{{template "textInputValidationProps"}}
		{{template "propertyPanelSuffix"}}
	
		
		{{template "propertyPanelPrefix" .ValueListPanelParams}}
			{{template "valueListSelectionPropertyPanel" .ElemPrefix}}
		{{template "propertyPanelSuffix"}}
		

		{{template "componentVisibilityPropertyPanel" .VisibilityPanelParams}}

		{{template "componentPermissionsPropertyPanel" .PermissionPanelParams}}
		
		{{template "propertyPanelPrefix" .ClearValuePanelParams}}
			{{template "clearValueProps" .ElemPrefix}}
		{{template "propertyPanelSuffix"}}

		{{template "componentHelpPopupPropertyPanel" .HelpPopupParams}}

		{{template "componentDeletePropertyPanel" .DeletePanelParams}}

	</div>

{{end}}