/* Set the default and minimum width for fields added
   to the layout. This is important for when the field
   is initially dragged onto the canvas. Otherwise it
   can shrink as the field is dragged. */
.textBoxComponent
{
	min-width:75px;
	width: 150px;
	height: auto;
}

.textBoxComponent .form-group {
	margin-bottom:0px;
}

.textBoxComponent label {
	margin-bottom: 2px !important;
}