
.textBoxFormComponent 
{
	min-width:75px;
	width: 150px;
	height: auto;
}

.textBoxTableCellComponent
{
	min-width: 150px;
	width:100%;
}

.textBoxComponent .form-group {
	margin-bottom:0px;
}

.textBoxComponent .input-group {
	width:100%;
}

.textBoxComponent label {
	margin-bottom: 2px !important;
}

.textBoxComponentInput {
	padding-left: 5px;
	padding-right: 5px;
}

.textBoxComponent .dropdown-toggle {
	padding-left: 5px;
	padding-right:5px;
}