/* Set the default and minimum width for progress components added
   to the layout. This is important for when the component
   is initially dragged onto the canvas. Otherwise it
   can shrink as the field is dragged. */
.progressComponent
{
	min-width:75px;
	width: 120px;
	height: auto;
}

.progressComponent .progress {
	margin-bottom:0px;
}

.progressComponent label {
	margin-bottom:2px;
}

.progressTableCell .progress {
	margin-bottom:0px;
	margin-top:0px;
}

.progressTableCell
{
	min-width:100px;
	width:100%;
	height: 34px;
    vertical-align: middle;
    display: table-cell;
	
}