{{define "progressFormatProps"}}
	Progress indicator formatting properties go here
{{end}}

{{define "progressRangeProps"}}
	<form class="form" id="progressRangePropForm">
		<div class="form-group">
	    	<label for="progressRangeMinVal">Minimum value:</label>
	    	<input type="text" class="form-control" id="progressRangeMinVal" name="progressRangeMinVal" placeholder="Minimum value">
	  	</div>
	  	<div class="form-group">
	   	 	<label for="progressRangeMaxVal">Maximum value:</label>
	    	<input type="text" class="form-control" id="progressRangeMaxVal" name="progressRangeMaxVal" placeholder="Maximum value">
	  	</div>
  </form>
{{end}}


{{define "progressProps"}}

	<div id="progressProps" class="propertyPanelToggleContainer">
		
		{{template "propertyPanelPrefix" .FormatPanelParams}}
			{{template "progressFormatProps"}}
		{{template "propertyPanelSuffix"}}
		
		{{template "propertyPanelPrefix" .RangePanelParams}}
			{{template "progressRangeProps"}}
		{{template "propertyPanelSuffix"}}
		
	</div>

{{end}}