{{define "progressFormatProps"}}
	{{template "formatNumberSelection" "progress_"}}
{{end}}


{{define "progressThresholdProps"}}
	{{template "valueThresholdPropertyPanel" .ThresholdValueParams}}
{{end}}


{{define "progressProps"}}

	<div id="progressProps" class="propertyPanelToggleContainer">
		
		{{template "componentLabelPropertyPanel" .LabelPanelParams}}

		{{template "propertyPanelPrefix" .FormatPanelParams}}
			{{template "progressFormatProps"}}
		{{template "propertyPanelSuffix"}}
		
		{{template "propertyPanelPrefix" .RangePanelParams}}
			{{template "progressRangeProps"}}
		{{template "propertyPanelSuffix"}}

		{{template "propertyPanelPrefix" .ThresholdPanelParams}}
			{{template "progressThresholdProps" .}}
		{{template "propertyPanelSuffix"}}

		{{template "componentVisibilityPropertyPanel" .VisibilityPanelParams}}

		{{template "componentHelpPopupPropertyPanel" .HelpPopupParams}}
		
		{{template "componentDeletePropertyPanel" .DeletePanelParams}}		
	</div>

{{end}}