/* This file is part of the Resultra project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
 .captionFormContainer {
	min-width:125px;
	min-height:50px;
	width: 200px;
	height: 200px;
}

.formCaptionContent {
	margin: 0px;
	height:100%;
	
	/* The padding of the content needs to be 0. Otherwize, the scroll bar
	   will look awkward and start below the top of the caption frame. This is compensated for
	   by setting the padding for individual textual elements */
	padding-top:0px;
	padding-right:0px;	
	padding-left:0px;
	padding-bottom:0px;
}

