{{define "formCaptionFormatProps"}}
     <form id="adminCaptionComponentFormatForm">
	  
	  <div class="form-group">
       	  <label for="adminCaptionComponentColorSchemeSelection">Background color scheme</label>
		  	<select class="form-control" id="adminCaptionComponentColorSchemeSelection">
		  		<option disabled selected value="">Select a color scheme</option>
		  		<option value="default">Default</option>
		 		<option value="primary">Primary</option>
		 		<option value="success">Success</option>
		 		<option value="info">Info</option>
		 		<option value="warning">Warning</option>
		 		<option value="danger">Danger</option>
			</select>
	  </div>
	 </form>
{{end}}


{{define "formCaptionCaptionProps"}}

	<form id="captionTextPropertyPanelForm">
		<div class="form-group marginBottom0">
			<input type="text" id="captionTextCaptionInput" name="captionTextCaptionInput" class="form-control" placeholder="Caption text" required="" autofocus="">
		</div>
	</form>
	
{{end}}


{{define "formCaptionProps"}}

	<div id="formCaptionProps" class="propertyPanelToggleContainer">
		
		
		{{template "propertyPanelPrefix" .CaptionPanelParams}}
			{{template "formCaptionCaptionProps"}}
		{{template "propertyPanelSuffix"}}
		
		{{template "propertyPanelPrefix" .FormatPanelParams}}
			{{template "formCaptionFormatProps"}}
		{{template "propertyPanelSuffix"}}

		{{template "componentVisibilityPropertyPanel" .VisibilityPanelParams}}
	</div>

{{end}}