{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 {{define "formCaptionFormatProps"}}
     <form id="adminCaptionComponentFormatForm">
	  
	  <div class="form-group">
       	  <label for="adminCaptionComponentColorSchemeSelection">Background color scheme</label>
		  	<select class="form-control" id="adminCaptionComponentColorSchemeSelection">
		  		<option disabled selected value="">Select a color scheme</option>
		  		<option value="default">Default</option>
		 		<option value="primary">Primary</option>
		 		<option value="success">Success</option>
		 		<option value="info">Info</option>
		 		<option value="warning">Warning</option>
		 		<option value="danger">Danger</option>
			</select>
	  </div>
	 </form>
{{end}}


{{define "formCaptionProps"}}

	<div id="formCaptionProps" class="propertyPanelToggleContainer">
				
		{{template "propertyPanelPrefix" .FormatPanelParams}}
			{{template "formCaptionFormatProps"}}
		{{template "propertyPanelSuffix"}}

		{{template "componentVisibilityPropertyPanel" .VisibilityPanelParams}}
		
		{{template "componentDeletePropertyPanel" .DeletePanelParams}}
	</div>

{{end}}