{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 {{define "adminItemListFormDisplayProperty"}}
	<tr>
		<td class="width200"><label>Alternate forms and tables:</label>
			<div><small>Select other forms or tables which can optionally be used to display items in the list.</small></div>
		</td>

		<td>
			<label>Alternate forms:</label>
			<div id="adminItemListAlternateFormListPropertyCell"></div>
			<label>Alternate tables:</label>
			<div id="adminItemListAlternateTableList"></div>
		</td>
	</tr>
{{end}}

{{define "adminItemListFormDisplayPropertyTemplates"}}
	<div style="display:none">
		<div id="adminItemListAlternateFormCheckboxTemplate" class="alternateFormCheckboxContainer">
			
			<div class="form-group">
		      <div class="checkbox">
		        <input type="checkbox">
				<label><span>Form name goes here.</span></label>
		      </div>
		  	</div>
			
			<div class="form-group initiallyHidden marginLeft40 itemsPerPageFormGroup">
			  	<label>Items per page when displaying this form: </label>
			  	<select class="form-control maxWidth50 itemsPerPageSelection">
					{{template "itemListViewFormPageSizeOptions"}}
				</select>
			</div>
			
		</div>
		
		
		<div class="form-group alternateTableCheckboxContainer" id="adminItemListAlternateTableCheckboxTemplate">
	      <div class="checkbox">
	        <input type="checkbox">
			<label><span>Table name goes here.</span></label>
	      </div>
	  	</div>		
		
	</div>
{{end}}