{{define "adminItemListFormDisplayProperty"}}
	<tr>
		<td class="width200"><label>Alternate forms:</label>
			<div><small>In addition to the default form, optionally select other forms which can be used to display items in the list.</small></div>
		</td>

		<td id="adminItemListAlternateFormListPropertyCell">
		</td>
	</tr>
{{end}}

{{define "adminItemListFormDisplayPropertyTemplates"}}
			<div style="display:none">
  			  <div class="form-group alternateFormCheckboxContainer" id="adminItemListAlternateFormCheckboxTemplate">
  			      <div class="checkbox">
  			        <input type="checkbox">
					<label><span>Form name goes here.</span></label>
  			      </div>
  			   </div>
			</div>
{{end}}