{{define "itemListBreadcrumbHeader"}}
	<div class="marginTop2">
	  {{template "homePageBreadcrumb"}}
	  {{template "breadCrumbSeparator"}}
	  <a href="/" class="h4 breadCrumbText"><i class="fa fa-database" aria-hidden="true">&nbsp;{{.DatabaseName}}</i></a>
	  {{template "breadCrumbSeparator"}}
	  <span class="h4 breadCrumbText">Item Lists Settings</span>
	</div> <!-- breadcrumb header -->
{{end}}

{{define "itemListPropsHeader"}}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8">
				{{template "itemListBreadcrumbHeader" .}}
			</div>
			<div class="col-sm-4">
				<div class="pull-right">
					{{template "userDropdownMenu"}}
				</div>
			</div>
		</div>
	</div>
{{end}}


{{define "adminItemListNameProperty"}}
	<h4>List Name</h4>
	<form class="form-inline" id="itemListNamePropertyForm">
		<div class="container-fluid">
			<div class="form-group">
				<input type="text" id="itemListPropsNameInput" name="itemListPropsNameInput" 
						class="form-control" placeholder="List Name" required="" autofocus="">
			</div>
		</div>
	</form>
{{end}}


{{define "itemListPropsBody"}}

	{{template "adminItemListNameProperty"}}
	
	<hr>

	<h4>Default Filtering</h4>
	{{template "recordFilterPropertyPanel" .FilterPropPanelParams}}

	<hr>

	
	<h4>Default Sorting</h4>
	{{template "recordSortPropertiesPage"}}

{{end}}

{{define "editItemListPropsPage"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
	
	{{template "thirdPartyCSS"}}
	
	<!-- itemListAssets:css -->
	<!-- endinject -->
	
	<script>var itemListPropsContext = { 
		listID:"{{.ListID}}",
		 databaseID:"{{.DatabaseID}}"} 
	</script>
	
	{{template "thirdPartyJS"}}
	
	<!-- itemListAssets:js -->
	<!-- endinject -->
				
  </head>
	
 	
  <body>

	<div id="editItemListPropsPage" class="layoutPageDiv">
		
		<div class="pane ui-layout-north" id="itemListPageHeaderUILayout">
			{{template "itemListPropsHeader" .}}
		</div> <!-- ui layout north -->
		
		<div class="pane ui-layout-west" id="itemListPageTocLayout">
			{{template "databaseTOC" .}}
		</div> <!-- ui layout north -->

		<div class="pane ui-layout-center" id="itemListPageLayout">
			{{template "itemListPropsBody" .}}
		</div> <!-- center pane for entire page -->	
		
	</div> <!-- layout page -->	
		
  </body>
  	
</html>

{{end}}