

{{define "adminItemListNameProperty"}}


	<tr>
		<td class="width200"><label>List name:</label>
		</td>

		<td>
			<form class="form-inline" id="itemListNamePropertyForm">
				<div class="form-group">
					<input type="text" id="itemListPropsNameInput" name="itemListPropsNameInput" 
							class="form-control" placeholder="List Name" required="" autofocus="">
				</div>
			</form>
		</td>
	</tr>

{{end}}

{{define "adminItemListDisplayProperty"}}

	<tr>
		<td class="width200"><label>Default form or table view for viewing items:</label>
		</td>

		<td>
			{{template "itemListViewSelection"}}
		</td>
	</tr>

{{end}}

{{define "adminItemListPreFilterProperty"}}
	<tr>
		<td class="width200"><label>Pre-filtering:</label>
		</td>

		<td>
			{{template "recordFilterPropertyPanel" .}}
		</td>
	</tr>
{{end}}

{{define "adminItemListDefaultFilterProperty"}}
	<tr>
		<td class="width200"><label>Default filtering:</label>
		</td>

		<td>
			{{template "recordFilterPropertyPanel" .}}
			
			<hr class="recordFilterPanelSeparator">
		
			{{template "adminFilterFieldSelection" .}}
			
		</td>
	</tr>
{{end}}

{{define "adminItemListSortingProperty"}}
	<tr>
		<td class="width200"><label>Default sorting:</label>
		</td>

		<td>
			{{template "recordSortPropertiesPage"}}
			
			<hr class="recordFilterPanelSeparator">
			
			{{template "fieldSelectionChecklist" "itemListSortFields_"}}
			
		</td>
	</tr>
{{end}}



{{define "adminItemListRolesProperty"}}
	<tr>
		<td class="width200"><label>Roles and privileges:</label>
			<div><small>Configure which roles have access to read and/or write items in this list.</small></div>
		</td>

		<td>
			 {{template "listRolesPropertyPanel"}}
			
		</td>
	</tr>
{{end}}


{{define "itemListPropsBody"}}

{{template "adminItemListFormDisplayPropertyTemplates"}}

<button type="button" class="btn btn-default btn-sm" id="listPropsBackToListListLink">
  <span class="fa fa-arrow-left" aria-hidden="true"></span> Back to lists
</button>

<h4>Item List Settings</h4>
<table class="table">
	{{template "adminItemListNameProperty"}}	
	{{template "adminItemListDisplayProperty"}}
	{{template "adminItemListFormDisplayProperty"}}
	{{template "adminItemListPreFilterProperty" .PreFilterPropPanelParams}}
	{{template "adminItemListDefaultFilterProperty" .FilterPropPanelParams}}
	{{template "adminItemListSortingProperty"}}		
	{{template "adminItemListRolesProperty"}}	
</table>


{{end}}

{{define "editItemListPropsPage"}}
	{{template "itemListPropsBody" .}}
{{end}}