/* This file is part of the Resultra project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
 

#alertPageHeaderMenu .badge {
	padding-top:2px;
	padding-bottom:2px;
	padding-left:4px;
	padding-right:4px;
}

#alertPageHeaderMenu .dropdown-menu {
	white-space:normal;
}

div.alertHeader {
	margin-top:5px !important;
	margin-bottom:5px !important;
}


a.alertFormLink {
	white-space:normal !important;
	padding-left:10px !important;
	padding-right:10px !important;
}

.notificationListItem {
	border-bottom: 1px solid lightGrey;
}

#alertPageHeaderMenu ul {
	min-width:250px;
}