
{{define "adminBreadcrumbHeader"}}
	<div class="marginTop2">
	  {{template "homePageBreadcrumb"}}
	  {{template "breadCrumbSeparator"}}
	  <a href="/" class="h4 breadCrumbText"><i class="fa fa-database" aria-hidden="true">&nbsp;{{.DatabaseName}}</i></a>
	  {{template "breadCrumbSeparator"}}
	  <span class="h4 breadCrumbText">Database Settings</span>
	</div> <!-- breadcrumb header -->
{{end}}

{{define "adminPageHeader"}}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8">
				{{template "adminBreadcrumbHeader" .}}
			</div>
			<div class="col-sm-4">
				<div class="pull-right">
					{{template "userDropdownMenu"}}
				</div>
			</div>
		</div>
	</div>
{{end}}

{{define "adminPanes"}}
<div class="container-fluid">
	<div class="row">
    <ul class="nav nav-tabs">
        <li class="nav active"><a href="#general" data-toggle="tab">General</a></li>
        <li class="nav"><a href="#users" data-toggle="tab">Users</a></li>
        <li class="nav"><a href="#roles" data-toggle="tab">Roles &amp; Privileges</a></li>
        <li class="nav"><a href="#forms" data-toggle="tab">Forms</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade in active" id="general">General database settings</div>
        <div class="tab-pane fade" id="users">
        	{{template "userList"}}
        </div>
        <div class="tab-pane fade" id="roles">
        	{{template "userRoleList"}}
        </div>
        <div class="tab-pane fade" id="forms">
        	{{template "adminFormList"}}
        </div>
    </div>
</div>
</div>
{{end}}


{{define "adminPage"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
	
	{{template "thirdPartyCSS"}}
	
	<!-- adminAssets:css -->
	<!-- endinject -->
	
	<script>var adminContext = { databaseID:"{{.DatabaseID}}" } </script>
	
	{{template "thirdPartyJS"}}
	
	<!-- adminAssets:js -->
	<!-- endinject -->
				
  </head>
	
 	
  <body>

	<div id="adminPage" class="layoutPageDiv">
		
		<div class="pane ui-layout-north" id="adminPageHeaderUILayout">
			{{template "adminPageHeader" .}}
		</div> <!-- ui layout north -->
		
		<div class="pane ui-layout-west" id="adminPageTocLayout">
			{{template "databaseTOC" .}}
		</div> <!-- ui layout north -->

		<div class="pane ui-layout-center" id="adminPageLayout">
			{{template "adminPanes"}}
		</div> <!-- center pane for entire page -->	
	</div> <!-- layout page -->	
	
	{{template "newUserRoleDialog"}}
	{{template "newFormDialog"}}
	
  </body>
  	
</html>

{{end}}