{{define "tableProps"}}

<html>
  <head>
    <title>{{.Title}}</title>
	
	{{template "commonCSS"}}

	{{template "commonJS"}}
	
	<!-- TODO: 
		<script>var databaseID={{.DatabaseID}}; </script>
		<script src="/js/dbProps.js"></script>
	-->
				
  </head>
  
  <body>
	  <h1>{{.Title}}</h1>
	  
			Page for viewing and setting database table properties.

			<h2>Fields</h2>
			
			
			<table class="ui celled table">
			  <thead>
			    <tr>
			      <th>Field Name</th>
			      <th>Type of Values</th>
			      <th>ID</th>
			    </tr>
			  </thead>
			  <tbody>
	
				{{range $fieldRef := .FieldRefs}}
				
   			 	<tr>
					<td>{{$fieldRef.FieldInfo.Name}} </td>
					<td>{{$fieldRef.FieldInfo.Type}} </td>
					<td>field ID:{{$fieldRef.FieldID}}</td>
			    </tr>
				
				{{end}}	
				  				
			  </tbody>
			</table>

			
			<h2>Layouts (Forms)</h2>
			
			<table class="ui celled table">
			  <thead>
			    <tr>
			      <th>Layout Name</th>
				  <th class="right aligned"></th>
			    </tr>
			  </thead>
			  <tbody>

			{{range $layoutRef := .LayoutRefs}}
			
				<tr>
			
					<td>{{$layoutRef.Layout.Name}}</td>
					
					<td>
						<a href="/editLayout/{{$layoutRef.LayoutID}}">
						<button class="small ui button">
 						   	<i class="icon edit"></i>Edit 
						</button></a>
					</td>
					
			      </tr>
					
			{{end}}	
			</tbody>
			</table>
			
			
  </body>
  
</html>

{{end}}