{{define "addRecordFilterDialogBody"}}
	TBD - Dialog Body goes here
{{end}}

{{define "addRecordFilterDialogButtons"}}
    <button type="button" class="btn btn-default" data-dismiss="modal">Add</button>
{{end}}


{{define "addRecordFilterDialog"}}

<!-- Modal dialog for a filters -->
<div class="modal fade" id="{{.}}RecordFilterAddFilterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Filter</h4>
      </div>
      <div class="modal-body">
        	{{template "addRecordFilterDialogBody"}}
      </div>
      <div class="modal-footer">
        	{{template "addRecordFilterDialogButtons"}}
      </div>
    </div>
  </div>
</div>

{{end}}