{{define "filterRecordsSelectFieldDropdown"}}

<div class="form-group" id="filterRecordsSelectFieldDropdown">
	<select class="form-control input-sm" id="filterRecordsSelectFieldDropdownMenu" name="filterRecordsSelectFieldDropdownMenu">
		<option value="">
			Select a field
		</option>
	</select>
	<span class="form-control-feedback" 
		aria-hidden="true" aria-describedby="filterRecordsSelectFieldHelp"></span>
	<span id="filterRecordsSelectFieldHelp" class="help-block collapse">Select a field to filter on.</span>
</div>

{{end}}

{{define "filterRecordsSelectFilterRuleDropdown"}}

<div class="form-group" id="filterRecordsSelectFilterRuleDropdown">
	<select class="form-control input-sm" id="filterRecordsSelectFilterRuleDropdownMenu" name="filterRecordsSelectFilterRuleDropdownMenu">
		<option value="">
			Select a rule
		</option>
	</select>
	<span class="form-control-feedback" 
		aria-hidden="true" aria-describedby="filterRecordsSelectFilterRuleHelp"></span>
	<span id="filterRecordsSelectFilterRuleHelp" class="help-block collapse">Select a rule.</span>
</div>

{{end}}


{{define "filterRecordsFilterRuleParamInput"}}

<div class="form-group" id="filterRecordsFilterRuleParamInputField">
      <input class="form-control input-sm" type="text" id="filterRecordsFilterRuleParamInput" name="filterRecordsFilterRuleParamInput" 			aria-describedby="filterRecordFilterValInputHelp" placeholder="Enter a value">
		<span id="filterRecordFilterValInputHelp" class="help-block collapse">Enter a value.</span>
</div> <!-- Field name field -->

{{end}}

{{define "recordFilterManageFilterAddRuleControlPanel"}}
<form class="form-inline" id="recordFilterManageFilterNewRuleControlForm" name="recordFilterManageFilterNewRuleControlForm">
	<div id="recordFilterManageFilterNewRuleControlContainer" class="clearfix">
		<div class="pull-left">
		  	 {{ template "filterRecordsSelectFieldDropdown" }}
		  	 {{ template "filterRecordsSelectFilterRuleDropdown" }}
			 {{ template "filterRecordsFilterRuleParamInput" }}
		</div>
		<div class="pull-right">
			<button type="button" class="btn btn-default btn-sm" id="filterRecordsManageFiltersAddRuleButton">Add Rule</button>
		</div>
	</div>
</form>

{{end}}
