
/* Lessen the default padding around list-group-item */
.recordFilterPanelRuleListItem {
	padding-top:5px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:5px;
}

.recordFilterPanelRuleListItem .form-group {
	margin-bottom: 10px;
}

/* Adjust the vertical positioning of the close button to better line up with the field label */
.recordFilterPanelRuleListItem .close {
	line-height: 15px;
}


/* Remove the borders on the filter list */
#filterRecordsPanelFilterList .list-group-item:first-child {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

#filterRecordsPanelFilterList .list-group-item:last-child {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}