




{{define "recordFilterRulesButtons"}}
		<button type="button" class="btn btn-default btn-xs" id="{{.}}FilterRecordsResetFiltersButton">
		  <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Reset to Default
		</button>		
{{end}}

{{define "recordFilterPaneFooter"}}

<div id="filterPaneFooter">
	
	<div class="container-fluid">
		<div class="row">
			{{template "recordFilterRulesButtons" .}}
		</div>
	</div>
	
</div>

{{end}}


{{define "filterRecordsPanelFilterList"}}

	{{template "recordFilterRuleList" .}}
	
	{{template "recordFilterRuleTemplates"}}

{{end}}

{{define "recordFilterPane"}}

	<div class="noPadding noScroll">
		{{template "filterRecordsPanelFilterList" .}}
		{{template "recordFilterMatchLogic" .}}
		<hr class="recordFilterPanelSeparator">
		{{template "recordFilterPaneFooter" .}}
	</div>


{{end}}
