




{{define "recordFilterRulesButtons"}}
		<button type="button" class="btn btn-default btn-xs" id="{{.}}FilterRecordsClearFiltersButton">
		  <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> Clear All Filters
		</button>		
{{end}}

{{define "recordLoadSaveButtons"}}
		<button type="button" class="btn btn-primary btn-sm" id="{{.}}FilterRecordsPanelRefilterButton">
		  <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Refilter
		</button>

{{end}}

{{define "recordFilterPaneFooter"}}

<div id="filterPaneFooter">
	
	<div class="container">
		<div class="row">
			{{template "recordFilterRulesButtons" .}}
		</div>
		<div class="row marginTop5">
			{{template "recordLoadSaveButtons" .}}
		</div>
	</div>
	
</div>

{{end}}


{{define "filterRecordsPanelFilterList"}}

	{{template "recordFilterRuleList" .}}
	
	{{template "recordFilterRuleTemplates"}}

{{end}}

{{define "recordFilterPane"}}

<div class="ui-layout-content noPadding">
	{{template "filterRecordsPanelFilterList" .}}
</div>
<div class="ui-layout-footer">
	{{template "recordFilterPaneFooter" .}}
</div>


{{end}}
