{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 {{define "recordFilterRulesButtons"}}
		{{template "fieldSelectionDropdown" .FieldSelectionParams}}
		<button type="button" class="btn btn-default btn-xs" id="{{.ElemPrefix}}FilterRecordsResetFiltersButton">
		  <span class="fa fa-undo" aria-hidden="true"></span> Reset to Default
		</button>		
{{end}}

{{define "recordFilterPaneFooter"}}

<div id="filterPaneFooter">
	
	<div class="container-fluid">
		<div class="row">
			{{template "recordFilterRulesButtons" .}}
		</div>
	</div>
	
</div>

{{end}}


{{define "filterRecordsPanelFilterList"}}

	{{template "recordFilterRuleList" .ElemPrefix}}
	
	{{template "recordFilterRuleTemplates"}}

{{end}}

{{define "recordFilterPane"}}

	<div class="noPadding noScroll">
		{{template "filterRecordsPanelFilterList" .}}
		{{template "recordFilterMatchLogic" .ElemPrefix}}
		<hr class="recordFilterPanelSeparator">
		{{template "recordFilterPaneFooter" .}}
	</div>


{{end}}
