
{{define "recordFilterMatchLogic"}}
	<div class="form-horizontal recordFilterMatchLogicSelection maxWidth300">
	  <div class="form-group form-group-sm" id="{{.}}RecordFilterMatchLogicSelectionControls">
		  <label class="col-sm-offset-1 col-sm-2 control-label" for="{{.}}RecordFilterMatchLogicSelection">Match</label>
	      <div class="col-sm-9">
			  	<select class="form-control maxWidth150" id="{{.}}RecordFilterMatchLogicSelection">
			  		<option disabled selected value="">Match logic</option>
			 		<option value="all">All conditions</option>
			  		<option value="any">Any condition</option>
				</select>
	      </div>
	  </div>
	 </div>

{{end}}



{{define "recordFilterRuleList"}}
	<div class="list-group recordFilterFilterRuleList" id="{{.}}RecordFilterFilterRuleList">
	</div>	
{{end}}



{{define "recordFilterRuleTemplates"}}

<div style="display:none;">
	
	<div id="recordFilterRuleListItem" class="list-group-item recordFilterPanelRuleListItem">
			<label class="filterRuleListItemLabel"></label>
			<button type="button" class="close filterRuleListItemDeleteRuleButton">
				<span aria-hidden="true">&times;</span>
			</button>
	</div>
	
	<div id="recordFilterNumberFieldRuleListItem" class="form-group">
		<select class="form-control input-sm recordFilterRuleSelection"></select>
	      <input class="form-control input-sm recordFilterRuleParam" type="text" placeholder="Enter a value">
	</div> <!-- Field name field -->

	<div id="recordFilterTextFieldRuleListItem" class="form-group">
		<select class="form-control input-sm recordFilterRuleSelection"></select>
	      <input class="form-control input-sm recordFilterRuleParam" type="text" placeholder="Enter a value">
	</div> <!-- Field name field -->


	<div id="recordFilterTagFieldRuleListItem" class="form-group">
		<select class="form-control recordFilterTagSelections" multiple="multiple"></select>
		<select class="form-control input-sm recordFilterMatchLogicSelection">
	  		<option value="any" selected>Match any tag</option>
	 		<option value="all">Match all tags</option>		
		</select>
	</div> <!-- Field name field -->


	<div id="recordFilterBoolFieldRuleListItem" class="form-group">
		<select class="form-control input-sm recordFilterRuleSelection"></select>
	</div> <!-- Field name field -->


	<div id="recordFilterDateFieldRuleListItem">
		<div class="form-group">
			<select class="form-control input-sm filterDateRuleModeSelection"></select>
		</div> <!-- Field name field -->
		
		<div class="form-group filterCustomStartEndDateControls">
	        <div class='input-group date filterDateRangeStartInput'>
	            <input type='text' class="form-control input-sm" placeholder="Enter a start date"/>
	            <span class="input-group-addon ">
	                <span class="glyphicon glyphicon-calendar"></span>
	            </span>
	        </div>
	        <div class='input-group date filterDateRangeEndInput'>
	            <input type='text' class="form-control input-sm" placeholder="Enter an end date"/>
	            <span class="input-group-addon">
	                <span class="glyphicon glyphicon-calendar"></span>
	            </span>
	        </div>
		
		</div> <!-- Field name field -->	
	</div>
</div>

{{end}}
