.filterPaneHeader {
	min-height: 30px;
	background-color:lightGrey;
	vertical-align:middle;
	margin-left: 0px; /* eliminate negative margins */
	margin-right:0px;
	margin-top: 0px;
}

#filterPaneFooter {
	background-color:lightGrey;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
}


/* Override the margins on checkbox items. By default, there is a 15px margin above checkboxes,
   which provides too much space above the checkboxes when displayed in a list */
#recordFilterUILayout .filterPanelFilterItem {
	margin-top:0px;
}


/* Remove the borders on the filter list */
#filterRecordsPanelFilterList .list-group-item:first-child {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

#filterRecordsPanelFilterList .list-group-item:last-child {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}