
{{define "recordFilterPaneHeader"}}

<div class="row filterPaneHeader">
	<div class= "col-md-12 text-center h5">
		Filter
	</div>
</div>

{{end}}

{{define "recordFilterRulesButtons"}}
			<button type="button" class="btn btn-default btn-xs" id="filterRecordsAddFilterButton">
			  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Rule
			</button>

			<button type="button" class="btn btn-default btn-xs" id="filterRecordsClearFilterButton">
			  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Clear All Rules
			</button>
{{end}}

{{define "recordLoadSaveButtons"}}
		<button type="button" class="btn btn-default btn-xs" id="filterRecordsSaveFilterButton">
		  <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save Filter
		</button>

		<button type="button" class="btn btn-default btn-xs" id="filterRecordsLoadFilterButton">
		  <span class="glyphicon glyphicon-open" aria-hidden="true"></span> Load Filter
		</button>
{{end}}

{{define "recordFilterPaneFooter"}}

<div id="filterPaneFooter">
	
	<div class="container">
		<div class="row">
			{{template "recordFilterRulesButtons"}}
		</div>
		<div class="row marginTop5">
			{{template "recordLoadSaveButtons"}}
		</div>
	</div>
	
</div>

{{end}}


{{define "filterRecordsRuleList"}}

<div class="list-group" id="filterRecordsRuleList">
</div>

{{end}}

{{define "recordFilterPane"}}

{{template "recordFilterPaneHeader"}}
<div class="ui-layout-content" id="recordFilterUILayout">
	{{template "filterRecordsRuleList"}}
</div>
<div class="ui-layout-footer">
	{{template "recordFilterPaneFooter"}}
</div>


<!-- The dialog is initially hidden, but is referenced when opened by filterRecords.js.
     Note the recommendation for jQuery UI dialogs is to put this kind of placeholder
	HTML at the end of the page before the closing <body> tag. However, this was found
    to cause an unwanted space to the side of the UI layout panel. -->
{{ template "filterRecordsAddFilterDialog" }}

{{end}}