{{define "commonRecordFilterJS"}}
	<script src="/static/common/recordFilter/addFilterRuleDialog.js"></script>
	<script src="/static/common/recordFilter/filterPane.js"></script>
	<script src="/static/common/recordFilter/selectApplyFilterDropdown.js"></script>
	<script src="/static/common/recordFilter/manageFilters.js"></script>
	<script src="/static/common/recordFilter/filterRecords.js"></script>
{{end}}

{{define "commonRecordFilterCSS"}}
	<link rel="stylesheet" type="text/css" class="ui" href="/static/common/recordFilter/recordFilter.css">
	<link rel="stylesheet" type="text/css" class="ui" href="/static/common/recordFilter/manageFilters.css">
{{end}}