#recordFilterManageFilterFilterListContent {
	padding-left:20px;
	padding-right:30px;
	border-right: 1px solid lightGray;
}

#recordFilterManageFilterRuleListContent {
	padding-left:5px;
	padding-right:20px;
}


#recordFilterManageFilterRuleList {
	height:150px;
	overflow:auto;
	border: 1px solid gray;
}

#recordFilterManageFilterRuleList {
	height:150px;
	overflow:auto;
	border: 1px solid gray;
}

#recordFilterManageFilterFilterList {
	height:200px;
	overflow:auto;
	border: 1px solid gray;
	
}