#recordFilterManageFilterFilterListContent {
	padding-left:20px;
	padding-right:30px;
	border-right: 1px solid lightGray;
}



#recordFilterManageFilterRuleListContent {
	padding-left:5px;
	padding-right:20px;
}


#recordFilterManageFilterRuleList {
	height:150px;
	overflow:auto;
	border: 1px solid gray;
	margin-bottom:5px;
}

#recordFilterManageFilterRuleList {
	height:150px;
	overflow:auto;
	border: 1px solid gray;
}

#recordFilterManageFilterFilterList {
	height:200px;
	overflow:auto;
	border: 1px solid gray;
	
}

.filterRuleItem {
	margin-left: 0px; /* eliminate negative margins */
	margin-right:0px;	
}

/* Only show the filter rule delete button if the user
   hovers over the filterRecordItem */
.filterRecordItem:hover .deleteFilterRuleButton {
	display:block;
}

.deleteFilterRuleButton {
	display:none;
}
