{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 {{define "submitFormPageBreadcrumbHeader"}}
	<div class="marginTop2">
	  {{template "homePageBreadcrumb"}}
	  {{template "breadCrumbSeparator"}}
	  {{template "trackerPageBreadcrumb" .}}
	  {{template "breadCrumbSeparator"}}
	  <span class="h4 breadCrumbText">{{.FormName}}</span>
	</div> <!-- breadcrumb header -->
{{end}}

{{define "submitFormPageHeader"}}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8">
				{{template "submitFormPageBreadcrumbHeader" .}}
			</div>
			<div class="col-sm-4">
				<div class="pull-right">
					{{template "userDropdownMenu"}}
					{{template "adminSettingsButton" .}}
				</div>
			</div>
		</div>
	</div>
{{end}}


