
{{define "newItemPageHeaderControls"}}
<div class="container-fluid" id="recordHeaderGrid">
	<div class="row">
		<div class= "col-sm-2">
			<button type="button" class="btn btn-default btn-sm" id="viewTableOfContentsMenuButton">
			  <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
			</button>
		</div> <!-- column -->
		<div class= "col-sm-8"  id="newItemPageNameHeaderCol">
			<h4 id="newItemPageNameHeader">{{.LinkName}}</h4>
		</div> <!-- column -->
		<div class= "col-sm-2">
			<!-- TODO - Put a 'more' drop-down menu to share a link to the form -->
		</div> <!-- column -->
	</div> <!-- row -->
</div> <!-- #recordHeaderGrid  -->
{{end}}

{{define "newItemPageFooterControls"}}
<div class="container-fluid">
	<div class="row">
		<div class= "col-sm-2">
		</div> <!-- column -->
		<div class= "col-sm-8"  id="newItemPageNameHeaderCol">
		</div> <!-- column -->
		<div class= "col-sm-2">
			<div class="pull-right">
				<button type="button" class="btn btn-primary" 
						id="submitFormPageSubmitButton">Save</button>
			</div>
		</div> <!-- column -->
	</div> <!-- row -->
</div> <!-- #recordHeaderGrid  -->
{{end}}



{{define "newItemFormPage"}}

<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
	
	{{template "thirdPartyCSS"}}
	
	<!-- newItemPageAssets:css -->
	<!-- endinject -->
	
	<script>var submitFormPageContext = { formID:"{{.FormID}}",
	 	databaseID: "{{.DatabaseID}}",
		formLinkID: "{{.FormLinkID}}"} 
		var GlobalFormPagePrivs = "edit"
	</script>
	
	{{template "thirdPartyJS"}}
	
	<!-- newItemPageAssets:js -->
	<!-- endinject -->
				
  </head>
	
  <body>  
  
	<div id="layoutPage" class="layoutPageDiv">
		
		<div class="pane ui-layout-north">
			{{template "submitFormPageHeader" .}}
		</div> <!-- ui layout north -->
		
		<div class="pane ui-layout-west" id="viewFormTocLayout">
			{{template "databaseTOC" .}}
		</div> <!-- ui layout north -->

		<div class="pane ui-layout-center" id="newItemFormPane">
			
			<div class="ui-layout-center">
				
				<div id="newItemFormPageLayoutCanvas"></div>
				
				{{template "submitFormSaveConfirmation"}}
			
			</div> <!-- ui-layout-center  -->

			<div class="ui-layout-south" id="newItemPageFooterUILayout">
				{{template "newItemPageFooterControls" .}}
			</div> <!-- ui-layout-north #recordHeaderUILayout -->

				
			<div class="ui-layout-north" id="newItemPageHeaderUILayout">
				{{template "newItemPageHeaderControls" .}}
			</div> <!-- ui-layout-north #recordHeaderUILayout -->
			
		</div> <!-- center pane for entire page -->	
	</div> <!-- layout page -->
	
	{{template "submitFormDialog"}}
	{{template "attachmentTemplates"}}
	{{template "formButtonPopupFormDialog"}}

	
  </body>
  	
</html>

{{end}}