
{{define "viewFormPage"}}

<!DOCTYPE html>
<html>
  <head>
    <title>{{.FormName}}</title>

	{{template "electronImportPrefix"}}

	
	{{template "thirdPartyCSS"}}
	
	<!-- viewFormPageAssets:css -->
	<!-- endinject -->
	
	<script>var viewFormPageContext = { formID:"{{.FormID}}",
	 	databaseID: "{{.DatabaseID}}",
		recordID: "{{.RecordID}}",
		srcColumnID: "{{.SrcButtonColID}}",
		srcFrmButtonID: "{{.SrcFormButtonID}}"}
		var GlobalFormPagePrivs = "edit"
	</script>
	
	{{template "thirdPartyJS"}}
	
	<!-- viewFormPageAssets:js -->
	<!-- endinject -->
				
  </head>
	
  <body>

	<div style="padding:20px">
		<h2>{{.FormName}}</h2>
		<hr>
		<div id="viewFormPageLayoutCanvas"></div>
		<hr>
		<button type="button" class="btn btn-default" 
				id="viewFormPageCloseButton">Close</button>
		<button type="button" class="btn btn-primary" 
				id="viewFormPageSaveButton">Save</button>
	</div>
	
	{{template "submitFormDialog"}}
	{{template "attachmentTemplates"}}
	{{template "formButtonPopupFormDialog"}}

	
  </body>
  	
</html>

{{end}}