
{{define "viewFormPage"}}

<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>

	{{template "electronImportPrefix"}}

	
	{{template "thirdPartyCSS"}}
	
	<!-- viewFormPageAssets:css -->
	<!-- endinject -->
	
	<script>var viewFormPageContext = { formID:"{{.FormID}}",
	 	databaseID: "{{.DatabaseID}}",
		recordID: "{{.RecordID}}",
		srcColumnID: "{{.SrcButtonColID}}",
		srcFrmButtonID: "{{.SrcFormButtonID}}"}
		var GlobalFormPagePrivs = "edit"
	</script>
	
	{{template "thirdPartyJS"}}
	
	<!-- viewFormPageAssets:js -->
	<!-- endinject -->
				
  </head>
	
  <body>

	<div id="layoutPage" class="layoutPageDiv">
		
		<div class="pane ui-layout-north">
			{{template "submitFormPageHeader" .}}
		</div> <!-- ui layout north -->
		
		<div class="pane ui-layout-center" id="submitFormPane">
				<h2>{{.FormName}}</h2>
				<hr>
				<div id="viewFormPageLayoutCanvas"></div>
				<hr>
				<button type="button" class="btn btn-primary" 
						id="viewFormPageSaveButton">Save</button>
				
		</div> <!-- center pane for entire page -->	
		
	</div> <!-- layout page -->
	
	{{template "submitFormDialog"}}
	{{template "attachmentTemplates"}}
	{{template "formButtonPopupFormDialog"}}

	
  </body>
  	
</html>

{{end}}