{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 {{define "dashboardComponentCommonNewComponentDialogJS"}}
	<script src="/static/dashboard/components/common/newComponentDialog/selectTableDataSource.js"></script>
	<script src="/static/dashboard/components/common/newComponentDialog/valueGrouping.js"></script>
	<script src="/static/dashboard/components/common/newComponentDialog/valueSummary.js"></script>
{{end}}