{{define "dashboardComponentValueGroupingPanelButtons"}}
	<button type="button" class="btn btn-primary wizardPanelButton newDashboardComponentValueGroupingButtons" id="{{.ElemPrefix}}NewDashboardComponentValueGroupingNextButton" type="submit">Next</button>
{{end}}


{{define "dashboardComponentValueGroupingPanel"}}

	<div id="{{.ElemPrefix}}DashboardComponentValueGroupingPanel" class="wizardPanel">

		{{template "dashboardComponentValueGroupingPropertyPanel" . }}

	</div> <!-- panel to configure the row/bar grouping -->
	
{{end}}