{{define "dashboardComponentValueSummaryPanelButtons"}}
	<button type="button" class="btn btn-primary wizardPanelButton newDashboardComponentValueSummaryButtons" id="{{.ElemPrefix}}NewDashboardComponentValueSummaryPrevButton" type="submit">Previous</button>
	<button type="button" class="btn btn-primary wizardPanelButton newDashboardComponentValueSummaryButtons" id="{{.ElemPrefix}}NewDashboardComponentValueSummaryDoneButton" type="submit">Done</button>
{{end}}



{{define "dashboardComponentValueSummaryPanel"}}
	<div id="{{.ElemPrefix}}ValueSummaryPanel" class="wizardPanel">
		<form class="form">
			<div class="alert alert-info" >
				{{.PromptInfoMsg}}
			</div>
			<div class="form-group">
				<label>{{.SummaryFieldLabel}}</label> 
				<select class="form-control" id="{{.ElemPrefix}}SummaryFieldSelection">
					<option value="">
						Select a field
					</option>
				</select>
			</div>
			<div class="form-group">
				<label>Summarize Values By</label>
				<select class="form-control" id="{{.ElemPrefix}}SummarizeBySelection">
					<option value="">
						Summarize Values By
					</option>
				</select>
			</div>
		</form> <!-- form for panel -->
	</div>
{{end}}
