{{define "dashboardComponentValueGroupingPanel"}}

	<div id="{{.ElemPrefix}}DashboardComponentValueGroupingPanel" class="wizardPanel">
		<form role="form">
			<div class="alert alert-info" >
				{{.PromptInfoMsg}}
			</div>
			<div class="form-group">
				<label>{{.ValueFieldLabel}}</label> 
				<select class="form-control" id="{{.ElemPrefix}}GroupedFieldSelection">
					<option value="">
						Select a field
					</option>
				</select>
			</div>
			<div class="form-group">
				<label>{{.ValueGroupingLabel}}</label>
				<select class="form-control" id="{{.ElemPrefix}}GroupBySelection">
					<option value="">
						Select a grouping
					</option>
				</select>
			</div>
			<div class="form-group" >
			      <label>Grouping Bucket Size</label>
			      <input type="text" id="{{.ElemPrefix}}BucketSizeInput" placeholder="">
			</div> <!-- Bucket size -->
		</form> <!-- form for panel -->
	</div> <!-- panel for selecting new field or choosing to create a new one -->
	
{{end}}