{{define "mainAdminPageOffpageContent"}}
	<div id="offPageContent">
		<!-- TODO - Migrate individual settings dialogs back with specific page content -->
		{{template "saveTemplateDialog"}} <!-- general settings page -->
		{{template "newFormDialog"}} <!-- form list settings page -->
		{{template "adminNewFormLinkDialog"}} <!-- form link (new item links) list page -->
		{{template "newTableDialog"}} <!-- table view list page -->
		{{template "newListDialog"}} <!-- item list page -->
		{{template "adminNewValueListDialog"}}	<!-- value list page -->
		{{template "newDashboardDialog"}} <!-- dashboards page -->
		{{template "newAlertDialog"}} <!-- alert list page -->
		{{template "newUserRoleDialog"}} <!-- roles -->
		{{template "adminNewUserDialog"}} <!-- collaborators list -->
		{{template "confirmDeleteDialog"}} <!-- collaborators list, individual table properties -->
		{{template "adminNewGlobalDialog"}} <!-- globals -->
	</div>
		
	<div id="offPageContentSection">
	</div>
{{end}}

{{define "mainAdminPageContent"}}
	<div id="contentPageSection"></div>
{{end}}