
{{define "mainAdminPage"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>

	{{template "electronImportPrefix"}}

	
	{{template "thirdPartyCSS"}}
	
	<!-- mainAdminPageAssets:css -->
	<!-- endinject -->
	
	<script>var mainAdminPageContext = { databaseID:"{{.DatabaseID}}",
		isSingleUserWorkspace: {{.IsSingleUserWorkspace}} } </script>
	
	{{template "thirdPartyJS"}}
	
	<!-- mainAdminPageAssets:js -->
	<!-- endinject -->
				
  </head>
	
 	
  <body>

	<div id="mainAdminPage" class="layoutPageDiv">
		
		<div class="pane ui-layout-north adminPageHeader">
			{{template "adminPageHeader" .}}
		</div> <!-- ui layout north -->
		
		<div class="pane ui-layout-west">
			{{template "adminSettingsTOC" .}}
		</div> <!-- ui layout north -->

		<div class="pane ui-layout-center" id="contentPageSection">
			<h4>TBD - Admin Page Content Area</h4>
		</div> <!-- center pane for entire page -->	
		
	</div> <!-- layout page -->
	
	<div id="offPageContent">
		{{template "saveTemplateDialog"}} <!-- general settings page -->
		{{template "newFormDialog"}} <!-- form list settings page -->
		{{template "adminNewFormLinkDialog"}} <!-- form link (new item links) list page -->
		{{template "newTableDialog"}} <!-- table view list page -->
		{{template "newListDialog"}} <!-- item list page -->
		{{template "adminNewFieldDialog"}}	 <!-- field list page -->
		{{template "adminNewValueListDialog"}}	<!-- value list page -->
		{{template "newDashboardDialog"}} <!-- dashboards page -->
		{{template "newAlertDialog"}} <!-- alert list page -->
	<div>

	
  </body>
  	
</html>

{{end}}