/* This file is part of the Resultra project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
 /* Set the default and minimum width for fields added
   to the layout. This is important for when the field
   is initially dragged onto the canvas. Otherwise it
   can shrink as the field is dragged. */
.htmlEditorContainer {
	min-width:125px;
	min-height:125px;
	width: 200px;
	height: 200px;
}

.htmlEditorHeader {
    width: 100%;
	padding-left:5px;
	padding-top:5px;
	min-height:25px;
	
}

.htmlEditorContent {
      width: 100%;
}

.htmlEditorDefaultBackground {
	background-color:white;
}

.noteEditTableCell {
	min-width: 125px;
	height: auto;
}

.noteEditTableCell a {
	padding-left: 6px !important;
	padding-right: 6px !important;
}



.noteEditorPopupContainer {
	width:100%;
	/* A minimum width & height constrains the overall popup to be at least this size */
	min-width: 250px;
	min-height: 250px;
}