{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 
{{define "htmlEditorValidationProps"}}
     <form id="adminHtmlEditorComponentValidationForm">	  
	  <div class="form-group">
 	      <div class="checkbox">
	        <input type="checkbox" id="adminHtmlEditorComponentValidationRequired">
	        <label for="adminHtmlEditorComponentValidationRequired">Value is required</label>
	      </div>
	   </div>
    </form>	
{{end}}


{{define "htmlEditorProps"}}

	<div id="htmlEditorProps" class="propertyPanelToggleContainer">

		{{template "componentLabelPropertyPanel" .LabelPanelParams}}
		
		{{template "propertyPanelPrefix" .ValidationPanelParams}}
			{{template "htmlEditorValidationProps"}}
		{{template "propertyPanelSuffix"}}

		{{template "componentVisibilityPropertyPanel" .VisibilityPanelParams}}
		
		{{template "componentPermissionsPropertyPanel" .PermissionPanelParams}}

		{{template "componentHelpPopupPropertyPanel" .HelpPopupParams}}

		
		{{template "componentDeletePropertyPanel" .DeletePanelParams}}	
	</div>

{{end}}