{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
         	

{{define "formLinkAdminPage"}}

			<h4>New Item Links</h4>
			<div class="alert alert-info maxWidth400">Links to create new items with a specific form. In the list below, drag items up or down in the list to change their order in the sidebar.</div>
        	{{template "adminFormLinkList"}}

{{end}}