{{define "adminFormLinkTemplates"}}

<div style="display:none;">
	
	<div id="formLinkItemTemplate" class="list-group-item formLinkListItem">
			<label class="adminFormLinkItemLabel">Form link label goes here</label>
			
			<div class="pull-right adminFormLinkButtons">
	
				<a class="btn btn-xs btn-default editFormLinkPropsButton" role="button">
					<span class="glyphicon glyphicon-pencil" style="padding-bottom:2px;"></span>
				</a> 
  				<button class="btn btn-xs btn-danger deleteFormLinkButton">
					<span class="glyphicon glyphicon-remove" style="padding-bottom:2px;"></span>
				</button>
			</div>
	</div>
	
</div>

{{end}}



{{define "adminFormLinkList"}}

	{{template "adminFormLinkTemplates"}}

	<div class="marginTop20">
		<ul id="adminFormLinkList" class="list-group maxWidth600">
		</ul>

		<button type="button" class="btn btn-default btn-sm" id="adminNewFormLinkButton">
		  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Form Link
		</button>
	</div>

{{end}}