
{{define "commonCSS"}}
	<link rel="stylesheet" type="text/css" class="ui" 		
		href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
	<link rel="stylesheet" type="text/css" class="ui"
		href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
	
	<link rel="stylesheet" type="text/css" class="ui" 
		href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css">
		
	<link rel="stylesheet" type="text/css" class="ui" 
		href="https://cdnjs.cloudflare.com/ajax/libs/jquery-layout/1.4.3/layout-default.min.css">

	<link rel="stylesheet" type="text/css" class="ui" href="/common/common.css">
		
	<link rel="stylesheet" type="text/css" class="ui" href="/common/dialog/dialogCommon.css">
	
{{end}}

{{define "commonJS"}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-layout/1.4.3/jquery.layout.min.js"></script>

	<script src="/common/helper/util.js"></script>
	<script src="/common/helper/uiUtil.js"></script>

{{end}}

{{define "homePageBreadcrumb"}}
<a class="section" href="/"><i class="home icon"></i>Home</a>
{{end}}