/* Use to prevent text selection. This is applicable to elements in the layout
   which are there for resizing and moving around, not text selection. */
.noselect {
	cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.noPadding {
	padding: 0px; /* Override jQuery UI padding */
}


.initiallyHidden {
	display:none;
}

/* For adding space between Boostrap rows */
.marginTop2 { margin-top:2px; }
.marginTop5 { margin-top:5px; }
.marginTop7 { margin-top:7px; }
.marginTop10 { margin-top:10px; }
.marginTop20 { margin-top:20px; }

.marginLeft10 { margin-left:10px;}
.marginLeft5 { margin-left:5px;}
.marginLeft20 { margin-left:20px;}
.marginLeft30 { margin-left:30px;}

.marginRight30 { margin-right:30px;}

.marginBottom0 { margin-bottom:0px;}