
/* Override bootstrap formatting of labels inside checkboxes. After starting to use 
   the awesome bootstrap checkboxes the left padding was 20px when it needs to be 5px */
.checkbox label {
	padding-left: 5px !important;
}



/* TODO - Move everything below to a generic.css file */


/* Use to prevent text selection. This is applicable to elements in the layout
   which are there for resizing and moving around, not text selection. */
.noselect {
	cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.noPadding {
	padding: 0px; /* Override jQuery UI padding */
}


.initiallyHidden {
	display:none;
}

.clearButton {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	border: 0;
	background: transparent;
	
	/* Since there's no border, reduce the default padding */
	padding-left: 5px;
	padding-right: 5px;
	padding-top:2px;
	padding-bottom: 2px;
}


/* For adding space between Boostrap rows */
.marginTop2 { margin-top:2px; }
.marginTop5 { margin-top:5px; }
.marginTop7 { margin-top:7px; }
.marginTop10 { margin-top:10px; }
.marginTop20 { margin-top:20px; }

.marginLeft10 { margin-left:10px;}
.marginLeft5 { margin-left:5px;}
.marginLeft20 { margin-left:20px;}
.marginLeft30 { margin-left:30px;}

.marginRight10 { margin-right:10px;}
.marginRight30 { margin-right:30px;}

.marginBottom0 { margin-bottom:0px;}
.marginBottom5 { margin-bottom:5px;}

.width200 { width:200px; }
.maxWidth300 { max-width:300px;}
.maxWidth50 { max-width:50px;}