
{{define "thirdPartyCSS"}}

 
 <!-- Bootstrap conflicts with Semantic UI - need to resolve conflicts or move to bootstrap before integrating
	<link rel="stylesheet" type="text/css" class="ui" 		
		href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">	
	<link rel="stylesheet" type="text/css" class="ui" 		
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
-->
	 
	<link rel="stylesheet" type="text/css" class="ui" 		
		href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">

	
	<link rel="stylesheet" type="text/css" class="ui"
		href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
	
	<link rel="stylesheet" type="text/css" class="ui" 
		href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css">
		
	<link rel="stylesheet" type="text/css" class="ui" 
		href="https://cdnjs.cloudflare.com/ajax/libs/jquery-layout/1.4.3/layout-default.min.css">
		
	<link rel="stylesheet" type="text/css" class="ui" 
		href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.css">
		
{{end}}


{{define "commonCSS"}}

	{{template "thirdPartyCSS"}}

	<link rel="stylesheet" type="text/css" class="ui" href="/static/common/common.css">
	<link rel="stylesheet" type="text/css" class="ui" href="/static/common/dialog/dialogCommon.css">

	{{template "commonObjectSelectionCSS"}}
	{{template "commonFormulaEditorCSS"}}
	
{{end}}

{{define "thirdPartyJS"}}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>

	<!-- Use ckeditor as the control for HTML editing -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.5.8/ckeditor.js"></script>
	
	<!-- Use jQuery file upload library for image and file uploading -->	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.1/js/jquery.fileupload.min.js"></script>
	
		
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
	
 <!-- Bootstrap conflicts with Semantic UI - need to resolve conflicts or move to bootstrap before integrating
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
-->		
	
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-layout/1.4.3/jquery.layout.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js"></script>
{{end}}

{{define "commonJS"}}

	{{template "thirdPartyJS"}}

	<script src="/static/common/helper/util.js"></script>
	<script src="/static/common/helper/uiUtil.js"></script>
	
	{{template "commonObjectSelectionJS"}}
	{{template "commonFormulaEditorJS"}}

{{end}}

{{define "homePageBreadcrumb"}}
<a class="section" href="/"><i class="home icon"></i>Home</a>
{{end}}