/* This file is part of the Resultra project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
 

/* HTML 5 needs 100% height for body and html */
body,html {
	height:100%;
	width:100%;
	margin 0;
}

body {
	/* Relative positio of the body is needed for the date/time picker, so it can be attached to the body */
	position:relative;
}


.layoutPageDiv
{
	height:100%;
	min-height: 200px;
}


#propertiesHeader
{
	padding: 8px;
	margin: 0px;
	background-color: lightGrey;
}

#propertiesPanelUILayout 
{
	padding: 0px; /* Override jQuery UI padding */
}



/* Override jQuery UI Layout div z indices. This is the only CSS or Javascript 
 override which fully fixes Semantic UI menus "under lapping" the center pane
 when they are opened from the north pane. With the north__showOverflowOnHover
 option set in the Javascript file, the menu will open and doesnt under-lap, 
 but it will then be hidden again when mousing over the center pane. 	*/
.ui-layout-west .ui-layout-content {
   z-index: 50 !important;
   overflow: visible !important;
}

/* Override the Semantic UI Grid's "gutter size" from 14px to 5 */
.ui.grid > .column {
	padding: 5px !important;
}

/* Override jQuery UI Layout div z indices. This is the only CSS or Javascript 
 override which fully fixes Semantic UI menus "under lapping" the center pane
 when they are opened from the north pane. With the north__showOverflowOnHover
 option set in the Javascript file, the menu will open and doesnt under-lap, 
 but it will then be hidden again when mousing over the center pane. 	*/
.ui-layout-north{
   z-index: 50 !important;
   overflow: visible !important;
}

/* layoutPageDiv is the parent div for pages which have the site's
   standard layout. Some overrides are needed in the header (north) pane */
.layoutPageDiv .ui-layout-north {
	padding-top:5px; /* override the default 10px padding */
	overflow:hidden; /* disable scroll bars */
}



