{{define "databaseTOCContents"}}

	<div id="tocWrapper">

		<div id="tocNewItemContainer" class="container-fluid databaseTOCContainer">
			<div class="row"  >
				<label>Add New Item</label>
				<ul id="tocFormList" class="nav nav-pills nav-stacked">
				</ul>
			</div>
		</div>


		<div id="tocListsContainer" class="container-fluid databaseTOCContainer marginTop10">
			<div class="row"  >
				<label>Lists</label>
				<ul class="nav nav-pills nav-stacked" id="tocListList">
				</ul>
			</div>
		</div>
	
		<div id="tocDashboardsContainer" class="container-fluid databaseTOCContainer marginTop10">
			<div class="row" >
				<label>Dashboards</label>
				<ul class="nav nav-pills nav-stacked" id="tocDashboardList">
				</ul>
			</div>
		</div>
	
	</div>
{{end}}


{{define "databaseTOC"}}

<div id="databaseTOCWrapper">
	
	<div id="databaseTOCContents">
		{{template "databaseTOCContents" .}}
	</div>
	
	
</div>

{{end}}

{{define "adminSettingsButton"}}
		{{if .CurrUserIsAdmin}}
			<a href="/admin/{{.DatabaseID}}" type="button" class="btn btn-sm btn-default" 
				data-toggle="tooltip" data-placement="left" title="Edit tracker settings">
			  <span class="glyphicon glyphicon-cog"> </span>
			</a>
		{{ end}}
{{end}}