
/* Overrides list-group-item from Bootstrap */ 
.databaseTOCContainer .list-group-item {
    padding: 5px 10px
}

#databaseTOCWrapper {
	height: 100%;
}

#databaseTOCContents {
	height: 100%;
	padding-bottom: 20px;
}

.formLinkButton {
	width: 100%;
}

/* Tighten up the padding */
#tocWrapper a {
	padding-top:7px;
	padding-bottom:7px;
}

.databaseTOCContainer > .row > .nav-pills > .active > a, 
.databaseTOCContainer > .row > .nav-pills > .active > a:hover {
    background-color: #A9A9A9 !important;
}