{{define "databaseTOCContents"}}

	<div class="container-fluid databaseTOCContainer">
		<div class="row"  >
			<label>Add New Item</label>
			<div id="tocFormList" class="list-group maxWidth600">
			</div>
		</div>
	</div>


	<div class="container-fluid databaseTOCContainer marginTop5">
		<div class="row"  >
			<label>Lists</label>
			<div class="list-group maxWidth600" id="tocListList">
			</div>
		</div>
	</div>
	
	<div class="container-fluid databaseTOCContainer">
		<div class="row" >
			<label>Dashboards</label>
			<div class="list-group maxWidth600" id="tocDashboardList">
			</div>
		</div>
	</div>
{{end}}


{{define "databaseTOC"}}

<div id="databaseTOCWrapper">
	
	<div id="databaseTOCContents">
		{{template "databaseTOCContents" .}}
	</div>
	
	<div id="databaseTOCFooter">
		{{if .CurrUserIsAdmin}}
			<a href="/admin/{{.DatabaseID}}">Tracker Settings</a>
		{{ end}}
	</div>
	
</div>


{{end}}