


{{define "trackerList"}}

<div style="display:none;">
	<div id="trackerListItemTemplate" class="list-group-item">
		
			<label class="nameLabel">Database Name Goes Here</label>
			
			<div class="pull-right trackerListButtons">
				<a class="btn btn-sm btn-default adminEditPropsButton" role="button">
					<span class="glyphicon glyphicon-cog"  style="font-size:12px;"></span>
				</a> 

			</div>		
	</div>
	
</div>

<h4>My Trackers</h4>
	<ul id="myTrackerList" class="list-group">
</ul>
		
<button type="button" class="btn btn-default btn-sm" id="newTrackerButton">
	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Tracker
</button>

{{template "newTrackerDialog"}}

{{end}}