.dateConditionPaneSeparator {
	margin-bottom:5px;
	margin-top:10px;
}

#dateConditionPaneFooter {
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
}


.dateConditionalFormatPaneListOuterContainer {
	margin-top:5px;
	padding-left:10px;
	padding-right:10px;
}

#dateConditionFormatRuleList .numberConditionalFormatRuleListItem {
	padding-top:5px;
	padding-left:10px;
	padding-right:10px;
}