.numberConditionPaneSeparator {
	margin-bottom:5px;
	margin-top:10px;
}

#numberConditionPaneFooter {
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
}


.numberConditionalFormatPaneListOuterContainer {
	margin-top:5px;
	padding-left:10px;
	padding-right:10px;
}

#numberConditionFormatRuleList .numberConditionalFormatRuleListItem {
	padding-top:5px;
	padding-left:10px;
	padding-right:10px;
}


/* The standard bootstrap bg-* color classes don't work with form controls
   (see https://stackoverflow.com/questions/37863405/how-to-add-bootstrap-bg-x-e-g-bg-danger-classes-to-input-textboxes)
   So, what is needed is a set of formatting classes which accomplish the same/similar thing. The color codes are 
   duplicated from the bootstrap.css file from the bg-* css classes. */

.numFormat-info {
	background-color:#afd9ee !important;
}

.numFormat-primary  {
    color: #fff;
    background-color: #337ab7 !important;
}

.numFormat-success  {
	background-color:#dff0d8 !important;
}

.numFormat-warning  {
	background-color:#f7ecb5 !important;
}

.numFormat-danger {
	background-color:#e4b9b9 !important;
}