/* This file is part of the Resultra project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
 .numberConditionPaneSeparator {
	margin-bottom:5px;
	margin-top:10px;
}

#numberConditionPaneFooter {
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
}


.numberConditionalFormatPaneListOuterContainer {
	margin-top:5px;
	padding-left:10px;
	padding-right:10px;
}

#numberConditionFormatRuleList .numberConditionalFormatRuleListItem {
	padding-top:5px;
	padding-left:10px;
	padding-right:10px;
}


