        	
{{define "tablePropsAdminBreadcrumbHeader"}}
	<div class="marginTop2">
	  {{template "homePageBreadcrumb"}}
	  {{template "breadCrumbSeparator"}}
	  {{template "trackerPageBreadcrumb" .}}
	  {{template "breadCrumbSeparator"}}
	  <span class="h4 breadCrumbText">Settings</span>
	  {{template "breadCrumbSeparator"}}
	  <span class="h4 breadCrumbText">Table Views</span>
	  {{template "breadCrumbSeparator"}}
	  <span class="h4 breadCrumbText">{{.TableName}}</span>
	</div> <!-- breadcrumb header -->
{{end}}

{{define "tablePropsAdminPageHeader"}}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8">
				{{template "tablePropsAdminBreadcrumbHeader" .}}
			</div>
			<div class="col-sm-4">
				<div class="pull-right">
					{{template "userDropdownMenu"}}
				</div>
			</div>
		</div>
	</div>
{{end}}



{{define "adminTableNameProperty"}}

	<tr>
		<td class="width200"><label>Table name:</label>
		</td>

		<td>
			<form class="form-inline" id="tableNamePropertyForm">
				<div class="form-group">
					<input type="text" name="tableNameInput" 
							class="form-control" placeholder="List Name" required="" autofocus="">
				</div>
			</form>
		</td>
	</tr>

{{end}}

{{define "adminTablePreviewProperty"}}

	<tr>
		<td class="width200"><label>Table preview:</label><BR>
			<small>Use this preview to change the order of columns and to set the relative width of different columns.</small>
		</td>
		<td>
			<table id="tablePreview"></table>
		</td>
	</tr>

{{end}}




{{define "tablePropsBody"}}

<h4>{{.TableName}}</h4>
<table class="table">
	{{template "adminTableNameProperty"}}	
	{{template "adminTableColsProperty"}}
	{{template "adminTablePreviewProperty"}}
</table>

{{end}}


{{define "tablePropsAdminPage"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
	
	{{template "thirdPartyCSS"}}
	
	<!-- tablePropsAssets:css -->
	<!-- endinject -->
	
	<script>var tablePropsAdminContext = { databaseID:"{{.DatabaseID}}",
			tableID: "{{.TableID}}"} </script>
	
	{{template "thirdPartyJS"}}
	
	<!-- tablePropsAssets:js -->
	<!-- endinject -->
				
  </head>
	
 	
  <body>

	<div id="tablePropsAdminPage" class="layoutPageDiv">
		
		<div class="pane ui-layout-north">
			{{template "tablePropsAdminPageHeader" .}}
		</div> <!-- ui layout north -->
		
		<div class="pane ui-layout-west">
			{{template "adminSettingsTOC"}}
		</div> <!-- ui layout north -->

		<div class="pane ui-layout-center">
			{{template "tablePropsBody" .}}
		</div> <!-- center pane for entire page -->	
	</div> <!-- layout page -->	
	
	{{template "adminTableColsTemplates"}}
	{{template "newTableColDialog" .}}
	{{template "adminNewFormButtonColDialog"}}
	{{template "confirmDeleteDialog"}}
		
  </body>
  	
</html>

{{end}}