        	
{{define "adminTableNameProperty"}}

	<tr>
		<td class="width200"><label>Table name</label>
		</td>

		<td>
			<form class="form-inline" id="tableNamePropertyForm">
				<div class="form-group">
					<input type="text" name="tableNameInput" 
							class="form-control" placeholder="List Name" required="" autofocus="">
				</div>
			</form>
		</td>
	</tr>

{{end}}


{{define "tablePropsBody"}}

<h4>Table View Settings</h4>
<table class="table">
	{{template "adminTableNameProperty"}}	
	{{template "adminTableColsProperty"}}
</table>

{{end}}


{{define "tablePropsAdminPage"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>

	{{template "electronImportPrefix"}}

	
	{{template "thirdPartyCSS"}}
	
	<!-- tablePropsAssets:css -->
	<!-- endinject -->
	
	<script>var tablePropsAdminContext = { databaseID:"{{.DatabaseID}}",
			tableID: "{{.TableID}}",
		tableName: "{{.TableName}}"}
			 </script>
	
	{{template "thirdPartyJS"}}
	
	<!-- tablePropsAssets:js -->
	<!-- endinject -->
				
  </head>
	
 	
  <body>

	<div id="tablePropsAdminPage" class="layoutPageDiv">
		
		<div class="pane ui-layout-north adminPageHeader">
			{{template "adminPageHeader" .}}
		</div> <!-- ui layout north -->
		
		<div class="pane ui-layout-west">
			{{template "adminSettingsTOC"}}
		</div> <!-- ui layout north -->

		<div class="pane ui-layout-center">
			{{template "tablePropsBody" .}}
		</div> <!-- center pane for entire page -->	
	</div> <!-- layout page -->	
	
	{{template "adminTableColsTemplates"}}
	{{template "newTableColDialog" .}}
	{{template "adminNewFormButtonColDialog"}}
	{{template "confirmDeleteDialog"}}
		
  </body>
  	
</html>

{{end}}