        	
{{define "adminTableNameProperty"}}

	<tr>
		<td class="width200"><label>Table name</label>
		</td>

		<td>
			<form class="form-inline" id="tableNamePropertyForm">
				<div class="form-group">
					<input type="text" name="tableNameInput" 
							class="form-control" placeholder="List Name" required="" autofocus="">
				</div>
			</form>
		</td>
	</tr>

{{end}}


{{define "tablePropsBody"}}

<button type="button" class="btn btn-default btn-sm" id="tablePropsBackToTableListLink">
  <span class="fa fa-arrow-left" aria-hidden="true"></span> Back to tables
</button>


<h4>Table View Settings</h4>
<table class="table">
	{{template "adminTableNameProperty"}}	
	{{template "adminTableColsProperty"}}
</table>

{{end}}


{{define "tablePropsAdminPage"}}
			{{template "tablePropsBody" .}}
	
	{{template "confirmDeleteDialog"}}
		

{{end}}