#tablePreview th {
	border: 2px solid black;
	padding: 2px;
}

#tablePreview td {
	border: 2px solid black;
	padding: 2px;
}

#tablePreview .layoutContainer {
	padding: 0px;
	margin:0px;
}

.tableColDrag:hover {
	cursor:move;
}