/* This file is part of the Resultra project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
 

/* Wizard panels are initially hidden. The first panel is shown when a dialog is first opened,
  then they're all hidden again after the dialog is closed. */
.wizardPanel {
	display:none;
}


/* Use with jQuery UI modal dialogs - this style will keep the dialog initially hidden from view and 
   allow menus and other elements to overflow the edge as appropriate */
.initiallyHiddenDialog {
	display:none;
}

/* TODO - Need to look at putting the following style back into dialogs:
    	overflow: visible !important;
	There was a conflict if the content of the dialogs expanded with error messages. In this case we want
	the contents to overflow, but we also want any dropdowns to show all their contents. 

	Note- Using a regular select HTML element doesn't have the same issues as Semantic UI dropdowns

*/

/* The dialog suffers from the problem described here:

	http://stackoverflow.com/questions/17911918/bootstrap-modal-popping-up-but-has-a-tinted-page-and-cant-interact

	The CSS below is the solution.
*/


/* TODO - Nest this override inside another div, so as not to make it global */

body.modal-open div.modal-backdrop { 
    z-index: 0; 
}
