{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 {{define "wizardDialogProgress"}}	
	<div class="progress">
	  <div id="{{.ElemPrefix}}WizardDialogProgress" class="progress-bar progress-bar-info" role="progressbar" 
	  			aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
	    <span class="sr-only">40% Complete (success)</span>
	  </div>
	</div>
{{end}}

{{define "wizardDialogProgressParamIsPrefix"}}	
	<div class="progress">
	  <div id="{{.}}WizardDialogProgress" class="progress-bar progress-bar-info" role="progressbar" 
	  			aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
	    <span class="sr-only">40% Complete (success)</span>
	  </div>
	</div>
{{end}}