{{define "resetPasswordDialogBody"}}

   <div id="userRegisterDialogBody">

	   <div class="alert alert-info" id="resetPasswordInfo">
	     	Enter your email address, then press the button to send a link to reset your password. 
	   </div>
	   <div class="alert alert-danger" id="resetPasswordAlert">
	   		<strong>ERROR:&nbsp;</strong><span id="resetAlertMsg"></span>
	   </div>
	   <div class="alert alert-success" id="resetPasswordConfirm">
		   Password reset link sent.
	   </div>
	   
	   
	   
      <form id="resetPasswordForm">
		  
		  <div class="form-group">
        	  <label for="resetPasswordEmailInput">Email address</label>
        	  <input type="email" id="resetPasswordEmailInput" name="resetPasswordEmailInput" 
			  		class="form-control" placeholder="Email address" required autofocus>
		  </div>

      </form>

    </div> <!-- dialog body -->
{{end}}

{{define "resetPasswordDialogButtons"}}
		<button type="button" class="btn btn-default" id="resetPasswordCancelButton" data-dismiss="modal">Cancel</button>
  	   	<button type="button" class="btn btn-primary" id="resetPasswordButton" type="submit">Send Reset Link</button>
{{end}}

{{define "resetPasswordDialog"}}

<div class="modal fade" id="resetPasswordModalDialog" tabindex="-1" role="dialog" aria-labelledby="signInLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="registerLabel">Reset Password</h4>
      </div>
      <div class="modal-body">
        	{{template "resetPasswordDialogBody"}}
      </div>
      <div class="modal-footer">
		  {{template "resetPasswordDialogButtons"}}
      </div>
    </div>
  </div>
</div>

{{end}}