{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 {{define "userSignInPage"}}

<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>

	{{template "electronImportPrefix"}}

	
	{{template "thirdPartyCSS"}}
	
	<!-- signinPageAssets:css -->
	<!-- endinject -->

	{{template "thirdPartyJS"}}
	
	<!-- signinPageAssets:js -->
	<!-- endinject -->
			
  </head>
  <body>
	  <h1>{{.Title}}</h1>
	  
	  <div class="container-fluid">
		  <div class="col-md-4"></div>
		  <div class="col-md-4">
			  <div class="alert alert-warning" role="alert">
				  You must be signed in to view this page. Please sign in to proceed.
			  </div>
			  
			  <div class="well">
				  
				  <div class="container-fluid">
			  
			  		<div class="row">
		  		 	   {{template "userSignInDialogBody"}}
				 	</div>
					
			  		<div class="row marginTop7">
						 <div class="pull-right">
							  {{template "userSignInButton"}}
						 </div>
				 	</div>
				 
			 </div>
				 
			</div>
			
		  </div>
		  <div class="col-md-4"></div>
	  </div>
  	 
	
  </body>
  
  
</html>

{{end}}