{{define "singleUserLocalWorkspaceRegistrationPanel"}}
	<div class="row">
		
 	   <div class="alert alert-danger initiallyHidden" id="singleUserRegisterErrorAlert"></div>
   
 	   <div class="alert alert-success initiallyHidden" id="singleUserRegisterConfirm">
 	   		Personalization complete ... <a href="/">Go to worspace home page</a>
 	   </div>
		
				   	   
		<form id="singleUserRegistrationForm">
		  <div class="form-group registerControls">
        	  <label for="singlerUserFirstNameInput">Your Name</label>
        	  <input type="text" id="singlerUserFirstNameInput" name="singlerUserFirstNameInput"
			  		class="form-control" placeholder="First Name" required autofocus>
 		   </div>
 		   <div class="form-group registerControls">
        	  <input type="text" id="singlerUserLastNameInput" name="singlerUserLastNameInput"
			  	class="form-control marginTop5" placeholder="Last Name" required autofocus>
		  </div>
		  <div class="form-group registerControls">
        	  <label for="singlerUserUserNameInput">User Name</label>
        	  <input type="text" id="singlerUserUserNameInput" name="singlerUserUserNameInput"
			  		class="form-control" placeholder="Username" required autofocus>
		  </div>
		</form>
		 	   
 	</div>

{{end}}

{{define "singleUserLocalWorkspacePersonalizeButton"}}

  	   	<button type="button" class="btn btn-primary btn-lg fullWidth" id="singleUserPersonalizeButton" type="submit">Personalize</button>
		
{{end}}


{{define "singleUserLocalWorkspaceHomePageRegistrationPanel"}}

	  <div>
		  <h2 class="text-center">Personalize Resultra</h2>
	  </div>
	  
	  <div class="alert alert-info" role="alert">
		  Enter the information below to personalize Resultra for private and local usage on your computer. 
		  
		  <BR><BR>This information is only displayed with comments, settings and other parts of the application where displaying a name or user name is needed. This information is not shared beyond your computer, with third parties, etc.
	  </div>
  
	  <div class="container-fluid">

		<div class="row">
	 	   {{template "singleUserLocalWorkspaceRegistrationPanel"}}
	 	</div>
	
		<div class="row marginTop20">
			{{template "singleUserLocalWorkspacePersonalizeButton"}}
	 	</div>
	
  	</div>
	
{{end}}
