{{define "userSelectionFormatProps"}}
	User selection formatting properties go here
{{end}}

{{define "userSelectionValidationProps"}}
     <form id="adminUserSelectionComponentValidationForm">	  
	  <div class="form-group">
 	      <div class="checkbox">
	        <input type="checkbox" id="adminUserSelectionComponentValidationRequired">
	        <label for="adminUserSelectionComponentValidationRequired">Selection is required</label>
	      </div>
	   </div>
    </form>	
{{end}}


{{define "userSelectionProps"}}

	<div id="userSelectionProps" class="propertyPanelToggleContainer">

		{{template "componentLabelPropertyPanel" .LabelPanelParams}}

		{{template "propertyPanelPrefix" .FormatPanelParams}}
			{{template "userSelectionFormatProps"}}
		{{template "propertyPanelSuffix"}}
		
		{{template "propertyPanelPrefix" .ValidationPanelParams}}
			{{template "userSelectionValidationProps"}}
		{{template "propertyPanelSuffix"}}

		{{template "componentVisibilityPropertyPanel" .VisibilityPanelParams}}

		{{template "componentPermissionsPropertyPanel" .PermissionPanelParams}}
		
		{{template "componentDeletePropertyPanel" .DeletePanelParams}}

	</div>

{{end}}