
.userSelectionFormContainer {
	min-width:200px;
	min-height:75px;
	width: 250px;
	height: 75px;
}

.userSelectionTableCellContainer {
	min-width:200px;
	min-height:10px;
	max-width:300px;
/*	width: 300px; */
	width:100%;
	height: auto;
}


/* Adjust the sizing of the selection control to closely match Bootstrap */
.userSelectionTableCellContainer .select2-selection,
.userSelectionFormContainer .select2-selection
{
	display: block!important;
	white-space: nowrap!important;
  	overflow-y: auto;
	font-size:12px;
}

.userSelectionTableCellContainer .select2-selection__choice, 
.userSelectionTableCellContainer .select2-search,
.userSelectionFormContainer .select2-selection__choice,
.userSelectionFormContainer .select2-search {
	display: flex !important;
	height: 24px!important;
	white-space: nowrap!important;
	align-items:center;
	justify-content:center;
	font-size:14px;
	margin-top:5px !important;
}

.userSelectionTableCellContainer .select2-search__field {
	margin-top:2px !important;
}

.userSelectionFormContainer .select2-selection {
	display: block!important;
	white-space: nowrap!important;
	line-height: 26px!important;
    overflow: auto;
}

.userSelectionFormContainer .select2-selection--single
{
	min-height: 30px;
	height: auto;
}

.userSelectionTableCellContainer  .select2-selection--single
{
	min-height: 34px;
	height: auto;
	
}

.userSelectionTableCellContainer .input-group {
	width:100%;
}

.userSelectionTableCellContainer .input-group-addon
{
	padding-left:2px;
	padding-right:2px;
	padding-top:0px;
	padding-bottom:0px;
}

.userSelectionFormContainer label {
	margin-bottom: 2px !important;
}

.userSelectionClearValueWrapper {
	position:relative;
	min-height:34px;
}


.userSelectionDropdown .dropdown-toggle {
	padding-left: 5px;
	padding-right:5px;
	padding-bottom:2px;
	padding-top:2px;
}

.userSelectionButtons {
	display:inline-flex;
	 justify-content:flex-end;
}


.userSelectionPopupEditorContainer {
	width:100%;
	/* A minimum width & height constrains the overall popup to be at least this size */
	min-width: 250px;
	min-height: 150px;
}

.userSelectionPopupEditorContainer .select2-selection--multiple {
	min-height: 120px;
}

.userEditorHeader {
	min-height:25px;
}
