/* Tighten up the padding */
#workspaceSettingsTOC a {
	padding-top:7px;
	padding-bottom:7px;
}

#workspaceSettingsTOC > .active > a, 
#workspaceSettingsTOC > .active > a:hover {
    background-color: #A9A9A9 !important;
}