{{define "templatePageBreadcrumbHeader"}}
	<div class="marginTop2">
	  {{template "homePageBreadcrumb"}}
	  {{template "breadCrumbSeparator"}}
	  <span class="h4 breadCrumbText">Templates</span>
	</div> <!-- breadcrumb header -->
{{end}}

{{define "templatePageHeader"}}
	<div class="container-fluid" id="templatePageHeader">
		<div class="row">
			<div class="col-sm-8">
				{{template "templatePageBreadcrumbHeader" .}}
			</div>
			<div class="col-sm-4">
				<div class="pull-right">
					{{template "userDropdownMenu"}}
				</div>
			</div>
		</div>
	</div>
{{end}}


{{define "templatePageSignedIn"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>

	{{template "electronImportPrefix"}}

	
	{{template "thirdPartyCSS"}}
	
	<!-- templatePageSignedInAssets:css -->
	<!-- endinject -->
	
	{{template "thirdPartyJS"}}
	
	<!-- templatePageSignedInAssets:js -->
	<!-- endinject -->
			
  </head>
  <body>
	  
	  {{template "templatePageHeader"}}
	  
	  <hr id="templatePageHeaderBodySep">
	  
	  <div id="templatePageContent">
		  
		  <div style="display:none;">
		  	<div id="templateListItemTemplate" class="list-group-item">
		
		  			<span class="nameLabel">Template name Goes Here</span>
			
		  			<div class="pull-right trackerListButtons">
		  				<a class="btn btn-xs btn-default templateSettingsButton" role="button" 
		  						data-toggle="tooltip" data-placement="left" title="Edit template settings">
		  					<span class="glyphicon glyphicon-cog"></span>
		  				</a> 
		  			</div>		
			
		  	</div>
	
		  </div>
		  

			<h4>My Templates</h4>
				<ul id="myTemplateList" class="list-group maxWidth400">
			</ul>
		
			<a href="/" id="viewTemplatesButton">View my trackers</a>

			<form id="showInactiveTemplatesForm">
				  <div class="form-group">
				      <div class="checkbox">
				       <input type="checkbox" id="showInactiveTemplates">
				       <label for="showInactiveTemplates">Show inactive (disabled) templates</label>
				      </div>
				   </div>
			</form>


	  </div>
	  
	  {{template "templatePropertiesDialog"}}
	  
  </body>
</html>
{{end}}