{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 
{{define "templatePageSignedIn"}}
  
	  <div id="templatePageContent">
		  
		  <div style="display:none;">
		  	<div id="templateListItemTemplate" class="list-group-item">
		
		  			<span class="nameLabel">Template name Goes Here</span>
			
		  			<div class="pull-right trackerListButtons">
		  				<a class="btn btn-xs btn-default templateSettingsButton" role="button" 
		  						data-toggle="tooltip" data-placement="left" title="Edit template settings">
		  					<span class="glyphicon glyphicon-cog"></span>
		  				</a> 
		  			</div>		
			
		  	</div>
	
		  </div>
		  
		  
			<h3>My Templates</h3>
				<ul id="myTemplateList" class="list-group maxWidth400">
			</ul>
		
			<form id="showInactiveTemplatesForm">
				  <div class="form-group">
				      <div class="checkbox">
				       <input type="checkbox" id="showInactiveTemplates">
				       <label for="showInactiveTemplates">Show inactive (disabled) templates</label>
				      </div>
				   </div>
			</form>
			
  		  <button type="button" class="btn btn-default btn-sm marginTop10" id="backToTrackersButton">
  		    <span class="fa fa-arrow-left" aria-hidden="true"></span> Back to trackers
  		  </button>
			


	  </div>
	  
	  
{{end}}

{{define "templatePageOffPageContent"}}
	  {{template "templatePropertiesDialog"}}
{{end}}