

{{define "adminValueListNameProperty"}}
<tr>
	<td class="width200"><label>Value list name</label></td>
	<td>
		<form id="valueListNamePropertyForm">
				<div class="form-group">
					<input type="text" id="valueListPropsNameInput" name="valueListPropsNameInput" 
							class="form-control maxWidth300" placeholder="List Name" required="" autofocus="">
				</div>
		</form>
	</td>
</tr>
{{end}}

{{define "adminValueListValues"}}
<tr>
	<td class="width200"><label>Values</label></td>
	<td>
		{{template "adminValueListValueListProps"}}
	</td>
</tr>

	
{{end}}



{{define "valueListPropsBody"}}

<h4>Value List Settings</h4>
<table class="table">

	{{template "adminValueListNameProperty" .}}
	{{template "adminValueListValues"}}
	
</table>
		
{{end}}

{{define "editValueListPropsPage"}}
	{{template "valueListPropsBody" .}}
{{end}}