

{{define "adminValueListNameProperty"}}
<tr>
	<td class="width200"><label>Value list name</label></td>
	<td>
		<form id="valueListNamePropertyForm">
				<div class="form-group">
					<input type="text" id="valueListPropsNameInput" name="valueListPropsNameInput" 
							class="form-control maxWidth300" placeholder="List Name" required="" autofocus="">
				</div>
		</form>
	</td>
</tr>
{{end}}

{{define "adminValueListValues"}}
<tr>
	<td class="width200"><label>Values</label></td>
	<td>
		{{template "adminValueListValueListProps"}}
	</td>
</tr>

	
{{end}}



{{define "valueListPropsBody"}}

<h4>Value List Settings</h4>
<table class="table">

	{{template "adminValueListNameProperty" .}}
	{{template "adminValueListValues"}}
	
</table>
		
{{end}}

{{define "editValueListPropsPage"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>

	{{template "electronImportPrefix"}}

	
	{{template "thirdPartyCSS"}}
	
	<!-- valueListAssets:css -->
	<!-- endinject -->
	
	<script>var valueListPropsContext = { 
		valueListID:"{{.ValueListID}}",
		valueListName:"{{.ValueListName}}",
		 databaseID:"{{.DatabaseID}}",
		siteBaseURL:"{{.SiteBaseURL}}",
		isSingleUserWorkspace: {{.IsSingleUserWorkspace}} } 
	</script>
	
	{{template "thirdPartyJS"}}
	
	<!-- valueListAssets:js -->
	<!-- endinject -->
				
  </head>
	
 	
  <body>

	<div id="editValueListPropsPage" class="layoutPageDiv">
		
		<div class="pane ui-layout-north adminPageHeader">
			{{template "adminPageHeader" .}}
		</div> <!-- ui layout north -->
		
		<div class="pane ui-layout-west" id="valueListPageTocLayout">
			{{template "adminSettingsTOC" .}}
		</div> <!-- ui layout north -->

		<div class="pane ui-layout-center" id="valueListPageLayout">
			{{template "valueListPropsBody" .}}
		</div> <!-- center pane for entire page -->	
		
	</div> <!-- layout page -->	
				
  </body>
  	
</html>

{{end}}