


{{define "formProps"}}
	<div id="formProps" class="propertyPanelToggleContainer">
			  {{template "propertyPanelPrefix" .NamePanelParams}}
			  		{{template "formNamePropertyPanel"}}
			  {{template "propertyPanelSuffix"}}

			  {{template "propertyPanelPrefix" .FilterPanelParams}}
		  			{{template "recordFilterPropertyPanel" .FilterPropPanelParams}}
			  {{template "propertyPanelSuffix"}}
			  
			  {{template "propertyPanelPrefix" .SortPanelParams}}
			  		{{template "formSortPropertyPanel"}}
			  {{template "propertyPanelSuffix"}}
  
			  {{template "propertyPanelPrefix" .RolesPanelParams}}
			  		{{template "formRolesPropertyPanel"}}
			  {{template "propertyPanelSuffix"}}
	</div>
{{end}}