/* This file is part of the Resultra project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
 /* Tighten up the padding */
#settingsTOC a {
	padding-top:7px;
	padding-bottom:7px;
}

#settingsTOC > .active > a, 
#settingsTOC > .active > a:hover {
    background-color: #A9A9A9 !important;
}