{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 {{define "adminSettingsTOC"}}
	
	<h4>Tracker Settings</h4>
	
	<ul class="nav nav-pills nav-stacked" id="settingsTOC">
		<li id="settingsTOC_general"><a>General</a></li>
		<li id="settingsTOC_forms"><a>Forms</a></li>
		<li id="settingsTOC_formLinks"><a>New Item Links</a></li>	
		<li id="settingsTOC_tables"><a>Table Views</a></li>
		<li id="settingsTOC_lists"><a>Item Lists</a></li>	
		<li id="settingsTOC_fields"><a>Fields</a></li>	
		<li id="settingsTOC_valueLists"><a>Value Lists</a></li>	
		<li id="settingsTOC_alerts"><a>Alerts</a></li>	
		<li id="settingsTOC_dashboards"><a>Dashboards</a></li>
		<!-- <li id="settingsTOC_globals"><a>Global Values</a></li> -->	
		
		{{if not .IsSingleUserWorkspace}}
			<li id="settingsTOC_collaborators"><a>Collaborators</a></li>
		{{end}}
		<li id="settingsTOC_roles"><a>Roles and Privileges</a></li>
	</ul>
		
{{end}}