


        	
{{define "globalAdminBreadcrumbHeader"}}
	<div class="marginTop2">
	  {{template "homePageBreadcrumb"}}
	  {{template "breadCrumbSeparator"}}
	  {{template "trackerPageBreadcrumb" .}}
	  {{template "breadCrumbSeparator"}}
	  <span class="h4 breadCrumbText">Settings</span>
	  {{template "breadCrumbSeparator"}}
	  <span class="h4 breadCrumbText">Global Values</span>
	</div> <!-- breadcrumb header -->
{{end}}

{{define "globalAdminPageHeader"}}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8">
				{{template "globalAdminBreadcrumbHeader" .}}
			</div>
			<div class="col-sm-4">
				<div class="pull-right">
					{{template "alertHeader" .}}
					{{template "userDropdownMenu"}}
					{{template "adminSettingsButton" .}}
				</div>
			</div>
		</div>
	</div>
{{end}}


{{define "globalAdminPage"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
	
	{{template "thirdPartyCSS"}}
	
	<!-- globalAssets:css -->
	<!-- endinject -->
	
	<script>var globalAdminPageContext = { databaseID:"{{.DatabaseID}}" } </script>
	
	{{template "thirdPartyJS"}}
	
	<!-- globalAssets:js -->
	<!-- endinject -->
				
  </head>
	
 	
  <body>

	<div id="globalAdminPage" class="layoutPageDiv">
		
		<div class="pane ui-layout-north">
			{{template "globalAdminPageHeader" .}}
		</div> <!-- ui layout north -->
		
		<div class="pane ui-layout-west">
			{{template "adminSettingsTOC"}}
		</div> <!-- ui layout north -->

		<div class="pane ui-layout-center">
			<h4>Global Values</h4>
        	{{template "adminGlobalsList"}}
		</div> <!-- center pane for entire page -->	
	</div> <!-- layout page -->			
	
	{{template "adminNewGlobalDialog"}}
	
	
  </body>
  	
</html>

{{end}}