{{define "dashboardComponentValueGroupingPropertyPanel"}}

		<form role="form" id="{{.ElemPrefix}}ValueGroupingPropertiesForm">
			<div class="form-group">
				<label>{{.ValueFieldLabel}}</label> 
				<select class="form-control groupBySelectionInput" name="groupedFieldSelection">
					<option value="">
						Select a field
					</option>
				</select>
			</div>
			<div class="form-group">
				<label>{{.ValueGroupingLabel}}</label>
				<select class="form-control groupBySelectionInput" name="groupBySelection">
					<option value="">
						Select a grouping
					</option>
				</select>
			</div>
			<div class="form-group groupBucketInputs">
			      <label>Bucket size</label>
			      <input type="text" class="bucketInput maxWidth50" name="bucketSize" placeholder="">
			</div> <!-- Bucket size -->
			<div class="form-group groupBucketInputs">
			      <label>Starting value</label>
			      <input type="text" class="bucketInput maxWidth50" name="bucketStart" placeholder="">
			</div> <!-- Bucket size -->
			<div class="form-group groupBucketInputs">
			      <label>Ending value</label>
			      <input type="text" class="bucketInput maxWidth50" name="bucketEnd" placeholder="">
			</div> <!-- Bucket size -->
			
		</form> <!-- form for panel -->


{{end}}