{{define "dashboardComponentValueGroupingPropertyPanel"}}

		<form role="form" id="{{.ElemPrefix}}ValueGroupingPropertiesForm">
			<div class="form-group">
				<label>{{.ValueFieldLabel}}</label> 
				<select class="form-control" id="{{.ElemPrefix}}GroupedFieldSelection" name="{{.ElemPrefix}}GroupedFieldSelection">
					<option value="">
						Select a field
					</option>
				</select>
			</div>
			<div class="form-group">
				<label>{{.ValueGroupingLabel}}</label>
				<select class="form-control" id="{{.ElemPrefix}}GroupBySelection" name="{{.ElemPrefix}}GroupBySelection">
					<option value="">
						Select a grouping
					</option>
				</select>
			</div>
			<div class="form-group" id="{{.ElemPrefix}}BucketSizeFormGroup">
			      <label>Grouping Bucket Size</label>
			      <input type="text" id="{{.ElemPrefix}}BucketSizeInput" name="{{.ElemPrefix}}BucketSizeInput" placeholder="">
			</div> <!-- Bucket size -->
			
			<button type="button" class="btn btn-default btn-sm " id="{{.ElemPrefix}}ValGroupingPropertiesSaveChangesButton" type="submit">Save Changes</button>
		</form> <!-- form for panel -->


{{end}}