{{define "designDashboardHeaderControls"}}
<div class="container-fluid" id="recordHeaderGrid">
	<div class="row">
		<div class= "col-sm-2 paddingLeft5">
			<button type="button" class="btn btn-default btn-sm" id="viewTableOfContentsMenuButton">
			  <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
			</button>
		</div> <!-- column -->
		<div class= "col-sm-8"  id="designDashboardCenterContentHeaderCol">
			<h4 id="designDashboardCenterContentHeader">Dashboard Designer</h4>
		</div> <!-- column -->
		<div class= "col-sm-2 paddingRight5">
		</div> <!-- column -->
	</div> <!-- row -->
</div> <!-- #recordHeaderGrid  -->
{{end}}


{{define "dashboardDesignPropertiesSidebar"}}

	{{template "propertiesSidebarHeader"}}
	
	<div class="ui-layout-content" id="designDashboardPropertiesSidebarContent">
		
		{{template "propertyPanelGroupPrefix"}}
			{{template "barChartProps" .ComponentParams.BarChartParams}}
			{{template "summaryTableProps" .ComponentParams.SummaryTableParams}}
			{{template "dashboardHeaderProps" .ComponentParams.HeaderParams}}
			{{template "dashboardGaugeProps" .ComponentParams.GaugeParams}}			
			{{template "dashboardSummaryValProps" .ComponentParams.SummaryValParams}}			
			{{template "dashboardProps" .}}
		{{template "propertyPanelGroupSuffix"}}
		
	</div>
{{end}}

{{define "designDashboardMainContent"}}
		<div id="designDashboardLayoutContent">
			
			<div class="pane ui-layout-north" id="designDashboardPageHeaderUILayout">
				{{template "designDashboardHeaderControls"}}
			</div> <!-- north ui layout -->
					
			<div id="dashboardCanvas" class="pane ui-layout-center droppable">
			</div>
			
			<div id="designDashboardPageFooterUILayout" class="pane ui-layout-south" style="z-index:99 !important;">
				{{template "dashboardDesignPalette"}}
			</div>
			
								
		</div>
{{end}}

{{define "designDashboardOffpageContent"}}
	{{template "newBarChartDialog" .ComponentParams.BarChartParams}}      
	{{template "newSummaryTableDialog" .ComponentParams.SummaryTableParams}}
	{{template "newGaugeDialog" .ComponentParams.GaugeParams}}
	{{template "newSummaryValDialog" .ComponentParams.SummaryValParams}}
	{{template "confirmDeleteDialog"}}

{{end}}