{{define "dashboardPaletteItems"}}

	<div class="draggable noselect paletteItem" id="paletteItemHeader">
			<i class="fa fa-font" aria-hidden="true"></i>
			<div>Header</div>
	</div>			


	<div class="draggable noselect paletteItem" id="paletteItemSummaryTable">
			<i class="fa fa-table" aria-hidden="true"></i>
			<div>Summary<BR>Table</div>
	</div>			


	<div class="draggable noselect paletteItem" id="paletteItemBarChart">
			<i class="fa fa-bar-chart" aria-hidden="true"></i>
			<div>Bar Chart</div>
	</div>			

	<div class="draggable noselect paletteItem" id="paletteItemGauge">
			<i class="fa fa-tachometer" aria-hidden="true"></i>
			<div>Gauge</div>
	</div>			
		
	<div class="draggable noselect paletteItem" id="paletteItemSummaryVal">
			<div class="well" style="padding:5px;margin:0px;">123</div>
			<div>Summary<BR>Value</div>
	</div>			
		
{{end}}

{{define "dashboardDesignPalette"}}

	<div id="designDashboardPaletteItems">
		{{template "dashboardPaletteItems"}}
	</div>

{{end}}
