{{define "designDashboardBreadcrumbHeader"}}
	<div class="marginTop2">
	  {{template "homePageBreadcrumb"}}
	  {{template "breadCrumbSeparator"}}
	  {{template "trackerPageBreadcrumb" .}}
	  {{template "breadCrumbSeparator"}}
	  <a class="h4 breadCrumbText" href="/admin/{{.DatabaseID}}">Settings</a>
	  {{template "breadCrumbSeparator"}}
	  <span class="h4 breadCrumbText">Dashboard Settings</span>
	  {{template "breadCrumbSeparator"}}
	  <span class="h4 breadCrumbText">{{.DashboardName}}</span>
	 </div>
{{end}}

{{define "designDashboardHeader"}}
	<div class="container-fluid" id="designDashboardHeader">
		<div class="row">
			<div class="col-sm-8">
				{{template "designDashboardBreadcrumbHeader" .}}
			</div>
			<div class="col-sm-4">
				<div class="pull-right">
					{{template "userDropdownMenu"}}
				</div>
			</div>
		</div>
	</div>
{{end}}



{{define "dashboardDesignPropertiesSidebar"}}

	{{template "propertiesSidebarHeader"}}
	
	<div class="ui-layout-content" id="designDashboardPropertiesSidebarContent">
		
		{{template "propertyPanelGroupPrefix"}}
			{{template "barChartProps" .ComponentParams.BarChartParams}}
			{{template "summaryTableProps" .ComponentParams.SummaryTableParams}}
			{{template "dashboardHeaderProps" .ComponentParams.HeaderParams}}
			{{template "dashboardGaugeProps" .ComponentParams.GaugeParams}}			
			{{template "dashboardSummaryValProps" .ComponentParams.SummaryValParams}}			
			{{template "dashboardProps" .}}
		{{template "propertyPanelGroupSuffix"}}
		
	</div>
{{end}}

{{define "designDashboard"}}
<!DOCTYPE html>
<html>

  <head>
    <title>{{.Title}}</title>
	
	{{template "thirdPartyCSS"}}
	{{template "dashboardCommonIncludeCSS"}}

	<!-- designDashboardAssets:css -->
	<!-- endinject -->

	{{template "thirdPartyJS"}}
	
	{{template "dashboardCommonIncludeJS"}}
		
	<script>var dashboardID={{.DashboardID}};</script>
	<script>var databaseID={{.DatabaseID}};</script>
	<script>var designDashboardContext = { 
		dashboardID: "{{.DashboardID}}",
		databaseID: "{{.DatabaseID}}"}</script>
	
	<!-- designDashboardAssets:js -->
	<!-- endinject -->
	
	
  </head>
  
  <body>
		<div id="designDashboardPage" class="layoutPageDiv">
			
			<div class="pane ui-layout-north" id="designDashboardPageHeaderUILayout">
				{{template "designDashboardHeader" .}}
			</div> <!-- north ui layout -->
			
			<div id="dashboardPaletteSidebar" class="pane ui-layout-west paletteSidebar">
				{{template "dashboardDesignPalette"}}
			</div>
		
			<div id="dashboardCanvas" class="pane ui-layout-center droppable"></div>
					
			<div class="pane ui-layout-east noPadding">
				{{template "dashboardDesignPropertiesSidebar" .}}
			</div>
			
		</div>
	   
	{{template "newBarChartDialog" .ComponentParams.BarChartParams}}      
	{{template "newSummaryTableDialog" .ComponentParams.SummaryTableParams}}
	{{template "newGaugeDialog" .ComponentParams.GaugeParams}}
	{{template "newSummaryValDialog" .ComponentParams.SummaryValParams}}
	   
  </body>
  
</html>

{{end}}