{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 
{{define "ratingValidationProps"}}
     <form id="adminRatingComponentValidationForm">	  
	  <div class="form-group">
 	      <div class="checkbox">
	        <input type="checkbox" id="adminRatingComponentValidationRequired">
	        <label for="adminRatingComponentValidationRequired">Value is required</label>
	      </div>
	   </div>
    </form>	
{{end}}

{{define "ratingProps"}}

	<div id="ratingProps" class="propertyPanelToggleContainer">

		{{template "componentLabelPropertyPanel" .LabelPanelParams}}

		{{template "propertyPanelPrefix" .FormatPanelParams}}
			{{template "ratingFormatProps"}}
		{{template "propertyPanelSuffix"}}
		
		{{template "propertyPanelPrefix" .RangePanelParams}}
			{{template "ratingRangeProps"}}
		{{template "propertyPanelSuffix"}}
		
		
		{{template "propertyPanelPrefix" .ValidationPanelParams}}
			{{template "ratingValidationProps"}}
		{{template "propertyPanelSuffix"}}
		
		{{template "propertyPanelPrefix" .TooltipPanelParams}}
			{{template "ratingTooltipProps"}}
		{{template "propertyPanelSuffix"}}
		
		{{template "componentVisibilityPropertyPanel" .VisibilityPanelParams}}
		
		{{template "componentPermissionsPropertyPanel" .PermissionPanelParams}}

		{{template "propertyPanelPrefix" .ClearValuePanelParams}}
			{{template "clearValueProps" .ElemPrefix}}
		{{template "propertyPanelSuffix"}}

		{{template "componentHelpPopupPropertyPanel" .HelpPopupParams}}

		{{template "componentDeletePropertyPanel" .DeletePanelParams}}
	</div>

{{end}}