{{define "ratingFormatProps"}}
     <form id="adminRatingComponentFormatForm">
	  <div class="form-group">
       	  <label for="adminRatingComponentIconSelection">Rating icon</label>
		  	<select class="form-control" id="adminRatingComponentIconSelection">
		  		<option disabled selected value="">Select an icon</option>
		 		<option value="star">Star</option>
		 		<option value="heart">Heart</option>
		 		<option value="redFlag">Red Flag</option>
		 		<option value="yellowFlag">Yellow Flag</option>
		 		<option value="blackFlag">Black Flag</option>
		 		<option value="eyeball">Eye</option>
		 		<option value="warning">Warning</option>
		 		<option value="fire">Fire</option>
		 		<option value="trash">Trash</option>
		 		<option value="time">Time</option>
				
			</select>
	  </div>
	  	  
    </form>
{{end}}

{{define "ratingProps"}}

	<div id="ratingProps" class="propertyPanelToggleContainer">

		{{template "componentLabelPropertyPanel" .LabelPanelParams}}

		{{template "propertyPanelPrefix" .FormatPanelParams}}
			{{template "ratingFormatProps"}}
		{{template "propertyPanelSuffix"}}
		
		{{template "propertyPanelPrefix" .TooltipPanelParams}}
			{{template "ratingTooltipProps"}}
		{{template "propertyPanelSuffix"}}
		
		{{template "componentVisibilityPropertyPanel" .VisibilityPanelParams}}
		
		{{template "componentReadOnlyPropertyPanel" .ReadOnlyPanelParams}}

	</div>

{{end}}