/* This file is part of the Resultra project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
 

/* Resize the glyphicon used for the star rating. 
   rating-symbol is the class used internally by the Bootstrap rating
   plugin.
*/
.layoutContainer .rating-symbol {
    font-size: 2.0em;
	height: 30px;
}

.ratingFormContainer {
	min-width:145px;
	width: 145px;
	height: auto
}

.ratingTooltip {
	white-space:pre-wrap;
	text-align:left;
	margin-bottom:0px;
}

.ratingIconEmptyBackground {
	opacity: 0.25;
}

.ratingColorRed {
	color: red;
}

.ratingColorFireRed {
	color: #B22222;
}

.ratingColorStarYellow {
	color: #ffd700;
}

.ratingColorMoney {
	color: #339933;
}

.ratingColorBlack {
	color: black;
}

.ratingTableCellContainer {
	min-width:100px;
	width: 100%;
	height: auto
}


.ratingTableCellContainer .formRatingControl {
	display:inline-block;	
}

.ratingTableCellContainer .ratingClearButtonContainer {
	display:inline-block;
	vertical-align: top;
}



.ratingTableCellContainer .col-xs-11 {
	padding-right:0px;
	padding-left:15px;
}

.ratingTableCellContainer .col-xs-1 {
	padding-right:0px;
	padding-left:0px;
}