

/* Resize the glyphicon used for the star rating. 
   rating-symbol is the class used internally by the Bootstrap rating
   plugin.
*/
.layoutContainer .rating-symbol {
    font-size: 2.0em;
	height: 30px;
}

.ratingFormContainer {
	min-width:145px;
	width: 145px;
	height: auto
}

.ratingTooltip {
	white-space:pre-wrap;
	text-align:left;
	margin-bottom:0px;
}

.ratingIconEmptyBackground {
	opacity: 0.25;
}

.ratingColorRed {
	color: red;
}

.ratingColorFireRed {
	color: #B22222;
}

.ratingColorStarYellow {
	color: #ffd700;
}

.ratingColorMoney {
	color: #339933;
}

.ratingColorBlack {
	color: black;
}

.ratingTableCellContainer .col-xs-11 {
	padding-right:0px;
	padding-left:15px;
}

.ratingTableCellContainer .col-xs-1 {
	padding-right:0px;
	padding-left:0px;
}