{{define "formComponentsCommonNewFormElemDialogJS"}}
	<script src="/static/form/components/common/newFormElemDialog/selectNewOrExistingFieldPanel.js"></script>
	<script src="/static/form/components/common/newFormElemDialog/newFieldPanel.js"></script>
	<script src="/static/form/components/common/newFormElemDialog/newFormComponentDialog.js"></script>
{{end}}

{{define "formComponentsCommonNewFormElemDialogCSS"}}
<link rel="stylesheet" type="text/css" class="ui" href="/static/form/components/common/newFormElemDialog/newFormComponentDialog.css">
{{end}}