{{define "newFormElemDialogNewFieldPanelButtons"}}
	<button type="button" class="btn btn-primary wizardPanelButton newFormComponentNewFieldButtons" id="{{.ElemPrefix}}NewFormComponentSelectFieldPrevButton" type="submit">Previous</button>
{{end}}

{{define "newFormElemDialogNewFieldPanel"}}

	<div id="{{.ElemPrefix}}NewFieldPanel" class="wizardPanel">
			
		<form>
			<div class="alert alert-info">
				{{.NewFieldInfoPrompt}}
			</div>
						
			<h4>Basic Field Information</h4>
			
			    <div class="form-group">
				      <label>Field Name
				      <input type="text" name="{{.ElemPrefix}}NewFieldName" placeholder="Enter a Field Name"></label>
			    </div> <!-- Field name field -->
			
				<div class="form-group">
					<label>Type of Value
						<select class="form-control" id="{{.ElemPrefix}}NewFieldValTypeSelection" name="{{.ElemPrefix}}NewFieldValTypeSelection">
							<option value="">Select a Type</option>
							<option value="number">Number</option>
							<option value="text">Text</option>
					</select>
					</label> 
				</div> <!-- Value type field -->
			
			<h4>Calculated Field Settings</h4>
			
		      <div class="checkbox" id="{{.ElemPrefix}}NewFieldCalcFieldCheckbox">
		        <label><input type="checkbox" name="{{.ElemPrefix}}NewFieldIsCalcFieldInput" tabindex="0">
		        Values for this field are calculated from other fields.</label>
		      </div>
			
			<!-- The use of "inline field" causes the field label to be displayed side-by-side 
				with the input box. It also allows the help button to align horizontally with the 
				input box, using semantic UI form layout. There might be some other way to do this,
				but this was found to be the most straightforward. -->
		    <div class="form-group" >
			      <label >Reference Name 
					  <input type="text" id="{{.ElemPrefix}}NewFieldRefName" name="{{.ElemPrefix}}NewFieldRefName" placeholder="Enter a Reference Name"></label>
		  		<a id="{{.ElemPrefix}}RefNameHelp"
		  		 data-content="A reference name is the short-hand name used to refer to this field from other calculated fields' formulas." 
		  		 class="ui small blue circular label">?</a>		
			</div> <!-- reference name field -->
			
			
		</form> <!-- form for panel -->
	</div> <!-- panel for giving the parameters for the new field -->

{{end}}