
{{define "newFormElemDialogSelectFieldPanel"}}

	<div id="{{.ElemPrefix}}SelectExistingOrNewFieldPanel" class="wizardPanel">
		<form id="{{.ElemPrefix}}SelectExistingOrNewFieldForm">
			
			<div class="alert alert-info">
					Values from check boxes are stored in fields. Either a new field can be created for this
					check box, or an existing field can be used.
			</div>
			<div class="form-group">
				<label>Where should values from this check box be stored?</label>
				<div class="radio">
					<label>
						<input type="radio" id="{{.ElemPrefix}}CreateNewFieldRadio" 
								name="{{.ElemPrefix}}NewOrExistingRadio" value="new" checked>
						Create a new field
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" id="{{.ElemPrefix}}CreateNewFieldRadio" 
								name="{{.ElemPrefix}}NewOrExistingRadio" value="existing">
						Use an existing field
					</label>
				</div>			
			</div>
			
			<div class="form-group" id="{{.ElemPrefix}}SelectExistingFieldField">
				<label>Existing fields:</label> 
				<select class="form-control" id="{{.ElemPrefix}}FieldSelection" name="{{.ElemPrefix}}FieldSelection" disabled>
					<option value="">
						Select a field
					</option>
				</select>
				<span class="glyphicon glyphicon-ok form-control-feedback" 
					aria-hidden="true" aria-describedby="{{.ElemPrefix}}FieldSelectionHelp"></span>
				<span id="{{.ElemPrefix}}FieldSelectionHelp" class="help-block collapse">Select an existing field to store the values.</span>
			</div>
			
		</form> <!-- form for panel -->
	</div> <!-- panel for selecting new field or choosing to create a new one -->
{{end}}
