{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 
{{define "timelineCommentBox"}}
	<form id="{{.}}TimelineCommentForm">
		<div class="form-group">
			<textarea class="form-control timelineCommentBox" rows="2" id="{{.}}TimelineCommentText"></textarea>
			<button class="btn btn-primary btn-sm" type="submit" id="{{.}}TimelineCommentAddButton">Add Comment</button>
		</div>
	</form>
{{end}}

{{define "timelineList"}}
	<div class="list-group" id="{{.}}TimelineList">
	</div>	
	
{{end}}

{{define "timelinePane"}}
	
	{{template "timelineCommentBox" .}}
	{{template "timelineList" .}}

{{end}}