



{{define "toggleValidationProps"}}
     <form id="adminToggleComponentValidationForm">	  
	  <div class="form-group">
 	      <div class="checkbox">
	        <input type="checkbox" id="adminToggleComponentValidationRequired">
	        <label for="adminToggleComponentValidationRequired">Value is required</label>
	      </div>
	   </div>
    </form>	
{{end}}


{{define "toggleProps"}}

	<div id="toggleProps" class="propertyPanelToggleContainer">

		{{template "componentLabelPropertyPanel" .LabelPanelParams}}

		{{template "propertyPanelPrefix" .FormatPanelParams}}
			{{template "toggleFormatProps"}}
		{{template "propertyPanelSuffix"}}

		{{template "propertyPanelPrefix" .ValidationPanelParams}}
			{{template "toggleValidationProps"}}
		{{template "propertyPanelSuffix"}}

		{{template "componentVisibilityPropertyPanel" .VisibilityPanelParams}}

		{{template "componentPermissionsPropertyPanel" .PermissionPanelParams}}
		
		{{template "propertyPanelPrefix" .ClearValuePanelParams}}
			{{template "clearValueProps" .ElemPrefix}}
		{{template "propertyPanelSuffix"}}

		{{template "componentHelpPopupPropertyPanel" .HelpPopupParams}}
		

		{{template "componentDeletePropertyPanel" .DeletePanelParams}}

	</div>

{{end}}