/* Set the default and minimum width for fields added
   to the layout. This is important for when the field
   is initially dragged onto the canvas. Otherwise it
   can shrink as the field is dragged. */
.toggleFormContainer {
	min-width:100px;
	min-height:30px;
	width: 180px;
	height: auto;
}

/* Since the checkbox is inline, override the Bootstrap margins to eliminate 
  extra space around the checkbox */
.toggleFormContainer > .checkbox {
	margin-top: 0px;
	margin-bottom:0px;
}


.toggleFormContainer .toggleFormComponentLabel {
	padding-left: 5px !important;
}

.toggleStrikethroughCompleted {
	text-decoration: line-through;
}

