/* Set the default and minimum width for fields added
   to the layout. This is important for when the field
   is initially dragged onto the canvas. Otherwise it
   can shrink as the field is dragged. */
.toggleFormContainer {
	min-width:100px;
	min-height:30px;
	width: 180px;
	height: auto;
}

/* Since the checkbox is inline, override the Bootstrap margins to eliminate 
  extra space around the checkbox */
.toggleFormContainer > .checkbox {
	margin-top: 0px;
	margin-bottom:0px;
}

.toggleTableCellContainer > .checkbox {
	margin-top: 0px;
	margin-bottom:0px;
}



.toggleFormContainer .toggleFormComponentLabel {
	padding-left: 5px !important;
}

.toggleTableCellContainer {
	
	/* Bootstrap uses negative margins and has invisible parts of the toggle overrun
	   100% of the parent's size. By allowing the size to be larger than the cell, the
	   toggle will not unnessessarily lessen it's width and expand the height of the table cell. 
	
	   See the following for more background on this: https://github.com/Bttstrp/bootstrap-switch/issues/419
	
	*/
	width: auto;
	height:auto;
	min-width:100px;
	min-height:30px;
	margin-left:10px !important;
	padding-left:5px;
}

.toggleTableCellContainer .col-xs-11 {
	padding-left:5px;
	padding-right:0px;
	width:auto;
}

.toggleTableCellContainer .col-xs-1 {
	padding:0px;
}

