{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
         

{{define "formsAdminPage"}}
			<h4>Forms</h4>
			<div class="alert alert-info maxWidth400">Forms provide a page-based view of items. Forms are used when creating new items or viewing and editing existing items in item lists.</div>
        	{{template "adminFormList"}}
	
{{end}}