{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 {{define "newFormDialogBody"}}

		
	  <div class="form-group">
      	  <label for="newFormNameInput">Form Name</label>
      	  <input type="text" id="newFormNameInput" name="newFormNameInput" class="form-control" placeholder="Form Name" required autofocus>
	  </div>
		

{{end}}

{{define "newFormDialogButtons"}}
	<button type="button" class="btn btn-default" id="newFormCancelButton" data-dismiss="modal">Cancel</button>
	<button type="button" class="btn btn-primary" id="newFormSaveButton" type="submit">Save</button>
{{end}}


{{define "newFormDialog"}}

    <form id="newFormDialogForm">
		
		<div class="modal fade" id="newFormDialog" tabindex="-1" role="dialog" aria-labelledby="newFormLabel">
		  <div class="modal-dialog modal-sm" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="newFormLabel">New Form</h4>
		      </div>
		      <div class="modal-body">
				  {{template "newFormDialogBody"}}
		      </div>
		      <div class="modal-footer">
				  {{template "newFormDialogButtons"}}
		      </div>
		    </div>
		  </div>
		</div>

	</form>

{{end}}