{{define "formHeaderFormatProps"}}

     <form id="adminHeaderComponentFormatForm">
	  <div class="form-group">
       	  <label for="adminHeaderComponentSizeSelection">Header size</label>
		  	<select class="form-control" id="adminHeaderComponentSizeSelection">
		  		<option disabled selected value=""></option>
		  		<option value="xlarge">Extra Large</option>
		 		<option value="large">Large</option>
		 		<option value="medium">Medium</option>
		 		<option value="small">Small</option>
		 		<option value="xsmall">Extra Small</option>
			</select>
	  </div>
	  
	  <div class="form-group">
 	      <div class="checkbox">
	        <input type="checkbox" id="adminHeaderComponentUnderline">
	        <label>Underline header</label>
	      </div>
	   </div>
	  
	  
    </form>
	
{{end}}


{{define "formHeaderLabelFormatProps"}}

	<form id="headerTextPropertyPanelForm">
		<div class="form-group marginBottom0">
			<input type="text" id="headerTextNameInput" name="headerTextNameInput" class="form-control" placeholder="Header text" required="" autofocus="">
		</div>
	</form>
	
{{end}}


{{define "formHeaderProps"}}

	<div id="formHeaderProps" class="propertyPanelToggleContainer">
		
		{{template "propertyPanelPrefix" .LabelPanelParams}}
			{{template "formHeaderLabelFormatProps"}}
		{{template "propertyPanelSuffix"}}
		
		{{template "propertyPanelPrefix" .FormatPanelParams}}
			{{template "formHeaderFormatProps"}}
		{{template "propertyPanelSuffix"}}
		
		{{template "componentVisibilityPropertyPanel" .VisibilityPanelParams}}
	</div>

{{end}}