{{define "dashboardNameProps"}}
		Dashboard Name
{{end}}

{{define "dashboardStyleProps"}}
	Dashboard style properties go here (e.g. background color)
{{end}}

{{define "dashboardProps"}}

	<div id="dashboardProps" class="propertyPanelToggleContainer">
		
	  {{template "propertyPanelPrefix" .NamePanelParams}}
	  		{{template "dashboardNameProps"}}
	  {{template "propertyPanelSuffix"}}
		
	  {{template "propertyPanelPrefix" .StylePanelParams}}
	  		{{template "dashboardStyleProps"}}
	  {{template "propertyPanelSuffix"}}
		
	</div>

{{end}}