
/* Styling for outer div when the item is displayed in the dashboard designer */
.dashboardItemDesignContainer {
    position: absolute; 
	border: 1px dashed gray; 
	padding: 2px; /* Padding needed so selection can take place without interfering with container's content */
}

/* Bar chart specific style for outer container div */
.dashboardBarChartContainer {
	min-width:300px;
	min-height:300px;
	width: 400px;
	height: 400px; 
}

/* Inner div for actually drawing the chart */
.dashboardChartWrapper {
	width: 100%;
	height: 100%;
}

/* Style to apply when item is selected */
#dashboardCanvas > div.ui-selected {
	border: 2px solid gray; 
}