{{define "designDashboardHeader"}}
	  {{template "homePageBreadcrumb"}}
	  <i class="fa fa-chevron-right" aria-hidden="true"></i>
	  <a><i class="fa fa-database" aria-hidden="true"></i>Database Name</a>
	  <a href="/viewDashboard/{{.DashboardID}}">{{.DashboardName}}</a>
	  <i class="fa fa-chevron-right" aria-hidden="true"></i>
	  Design Dashboard
{{end}}

{{define "dashboardDesignPalette"}}

	<div class="row">
		<div class= "col-md-12">
			Dashboard Palette
		</div> <!-- column -->
	</div>   <!-- Header for Gallery Sidebar -->

	
	<div class="ui-layout-content">
		
		<div class="row">	
			<div class= "col-md-6">
				<div class="draggable noselect paletteItem" id="paletteItemBarChart">
						<i class="fa fa-bar-chart" aria-hidden="true"></i>
						<div>Bar Chart</div>
				</div>			
			</div> <!-- column -->
			<div class= "col-md-6">
				<div class="draggable noselect paletteItem" id="paletteItemPieChart">
						<i class="fa fa-pie-chart" aria-hidden="true"></i>
						<div>Pie Chart</div>
				</div>			
			</div> <!-- column -->
		</div> <!-- row -->
		
		<div class="row">
			<div class= "col-md-6">
				<div class="draggable noselect paletteItem" id="paletteItemLineChart">
						<i class="fa fa-line-chart" aria-hidden="true"></i>
						<div>Line Chart</div>
				</div>			
			</div> <!-- column -->
			<div class= "col-md-6">
				<div class="draggable noselect paletteItem" id="paletteItemSummaryTable">
						<i class="fa fa-table" aria-hidden="true"></i>
						<div>Summary Table</div>
				</div>			
			</div> <!-- column -->
		</div> <!-- row -->
		
		<div class="row">
			<div class= "col-md-6">
				<div class="draggable noselect paletteItem" id="paletteItemLabel">
						<i class="fa fa-font" aria-hidden="true"></i>
						<div>Label</div>
				</div>			
			</div> <!-- column -->
		</div> <!-- row -->

	</div> <!-- UI Layout Content for Gallery Sidebar -->

{{end}}

{{define "dashboardDesignPropertiesSidebar"}}
	<div class="ui small center aligned header sidebarHeader">
		<div class="content">
			 <i class="options icon"></i>
			Properties
	  	</div>
	</div>
	<div class="ui-layout-content">
		{{template "barChartProps"}}
		{{template "dashboardProps"}}
		
	</div>
{{end}}

{{define "designDashboard"}}

<html>

  <head>
    <title>{{.Title}}</title>
	
	{{template "commonCSS"}}
	<link rel="stylesheet" type="text/css" class="ui" href="/static/common/designPalette/designPalette.css">
	<link rel="stylesheet" type="text/css" class="ui" href="/static/common/layout.css">
	<link rel="stylesheet" type="text/css" class="ui" href="/static/dashboard/dashboardCommon.css">

	{{template "commonJS"}}
	{{template "googleChartsJavascript"}}
	
	<script>var dashboardID={{.DashboardID}};</script>
	<script>var databaseID={{.DatabaseID}};</script>
	<script src="/static/common/designPalette/designPalette.js"></script>
	<script src="/static/common/dialog/wizardDialog.js"></script>
	<script src="/static/field/fieldInfo.js"></script>
	<script src="/static/dashboard/designDashboard.js"></script>
	
	{{template "dashboardComponentBarChartJS"}}
	
  </head>
  
  <body>
	<form class="ui form">
		<div id="designDashboardPage" class="layoutPageDiv">
			
			<div class="pane ui-layout-north">
				{{template "designDashboardHeader" .}}
			</div> <!-- north ui layout -->
			
			<div id="dashboardPaletteSidebar" class="pane ui-layout-west paletteSidebar">
				{{template "dashboardDesignPalette"}}
			</div>
		
			<div id="dashboardCanvas" class="pane ui-layout-center droppable"></div>
					
			<div class="pane ui-layout-east noPadding">
				{{template "dashboardDesignPropertiesSidebar"}}
			</div>
			
		</div>
	</form>	
	   
	{{template "newBarChartDialog"}}      
	   
  </body>
  
</html>

{{end}}