{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 {{define "dashboardComponentTitlePropertyPanel"}}

	<form id="{{.}}DashboardComponentTitlePropertyPanelForm">
		<div class="form-group marginBottom5">
			<input type="text" id="{{.}}DashboardPropsComponentTitleInput" name="{{.}}DashboardPropsComponentTitleInput" class="form-control" placeholder="Title" required="" autofocus="">
		</div>
	</form>
	
{{end}}