{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 

{{define "adminFieldNameProperty"}}


	<tr>
		<td class="width200"><label>Field name:</label>
		</td>

		<td>
			<form class="form-inline" id="fieldNamePropertyForm">
				<div class="form-group">
					<input type="text" id="fieldPropsNameInput" name="fieldPropsNameInput" 
							class="form-control" placeholder="Field Name" required="" autofocus="">
				</div>
			</form>
		</td>
	</tr>

{{end}}

{{define "adminFieldRefNameProperty"}}


	<tr>
		<td class="width200"><label>Formula reference name:</label>
			<div><small>Set the name used to reference this field from other calculated fields' formulas.</small></div>
		</td>

		<td>
			<form class="form-inline" id="fieldRefNamePropertyForm">
				<div class="form-group">
					<input type="text" id="fieldPropsRefNameInput" name="fieldPropsRefNameInput" 
							class="form-control" placeholder="Field Reference Name" required="" autofocus="">
				</div>
			</form>
		</td>
	</tr>

{{end}}

{{define "adminFieldFormulaProperty"}}


	<tr id="adminCalcFieldFormulaProperty" class="initiallyHidden">
		<td class="width200"><label>Calculated field formula:</label>
			<div><small>Configure the formula used to automatically calculate values for this field.</small></div>
		</td>

		<td>
			{{template "fieldPropsFormulaEditor"}}
		</td>
	</tr>

{{end}}




{{define "fieldPropsBody"}}
<button type="button" class="btn btn-default btn-sm" id="fieldPropsBackToFieldListLink">
  <span class="fa fa-arrow-left" aria-hidden="true"></span> Back to fields
</button>

<h4>Field Settings</h4>
<table class="table">
	{{template "adminFieldNameProperty"}}
	{{template "adminFieldRefNameProperty"}}
	{{template "adminFieldFormulaProperty"}}
</table>


{{end}}

{{define "editFieldPropsPage"}}
	{{template "fieldPropsBody" .}}
{{end}}