{{define "fieldPropsBreadcrumbHeader"}}
	<div class="marginTop2">
	  {{template "homePageBreadcrumb"}}
	  {{template "breadCrumbSeparator"}}
	  {{template "trackerPageBreadcrumb" .}}
	  {{template "breadCrumbSeparator"}}
	  <a class="h4 breadCrumbText" href="/admin/{{.DatabaseID}}">Settings</a>
	  {{template "breadCrumbSeparator"}}
	  <span class="h4 breadCrumbText">Field Settings</span>
	  {{template "breadCrumbSeparator"}}
	  <span class="h4 breadCrumbText">{{.FieldName}}</span>
	</div> <!-- breadcrumb header -->
{{end}}

{{define "fieldPropsHeader"}}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8">
				{{template "fieldPropsBreadcrumbHeader" .}}
			</div>
			<div class="col-sm-4">
				<div class="pull-right">
					{{template "userDropdownMenu"}}
					{{template "adminSettingsButton" .}}
				</div>
			</div>
		</div>
	</div>
{{end}}


{{define "adminFieldNameProperty"}}


	<tr>
		<td class="width200"><label>Field name:</label>
		</td>

		<td>
			<form class="form-inline" id="fieldNamePropertyForm">
				<div class="form-group">
					<input type="text" id="fieldPropsNameInput" name="fieldPropsNameInput" 
							class="form-control" placeholder="Field Name" required="" autofocus="">
				</div>
			</form>
		</td>
	</tr>

{{end}}

{{define "adminFieldRefNameProperty"}}


	<tr>
		<td class="width200"><label>Formula reference name:</label>
			<div><small>Set the name used to reference this field from other calculated fields' formulas.</small></div>
		</td>

		<td>
			<form class="form-inline" id="fieldRefNamePropertyForm">
				<div class="form-group">
					<input type="text" id="fieldPropsRefNameInput" name="fieldPropsRefNameInput" 
							class="form-control" placeholder="Field Reference Name" required="" autofocus="">
				</div>
			</form>
		</td>
	</tr>

{{end}}

{{define "adminFieldFormulaProperty"}}


	<tr id="adminCalcFieldFormulaProperty" class="initiallyHidden">
		<td class="width200"><label>Calculated field formula:</label>
			<div><small>Configure the formula used to automatically calculate values for this field.</small></div>
		</td>

		<td>
			{{template "fieldPropsFormulaEditor"}}
		</td>
	</tr>

{{end}}




{{define "fieldPropsBody"}}

<table class="table">
	{{template "adminFieldNameProperty"}}
	{{template "adminFieldRefNameProperty"}}
	{{template "adminFieldFormulaProperty"}}
</table>


{{end}}

{{define "editFieldPropsPage"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>

	{{template "electronImportPrefix"}}

	
	{{template "thirdPartyCSS"}}
	
	<!-- fieldPropsAssets:css -->
	<!-- endinject -->
	
	<script>var fieldPropsContext = { 
		fieldID:"{{.FieldID}}",
		databaseID:"{{.DatabaseID}}"} 
	</script>
	
	{{template "thirdPartyJS"}}
	{{template "aceThirdPartyJS"}}
	
	<!-- fieldPropsAssets:js -->
	<!-- endinject -->
				
  </head>
	
 	
  <body>

	<div id="editFieldPropsPage" class="layoutPageDiv">
		
		<div class="pane ui-layout-north">
			{{template "fieldPropsHeader" .}}
		</div> <!-- ui layout north -->
		
		<div class="pane ui-layout-west" id="fieldPageTocLayout">
			{{template "adminSettingsTOC"}}
		</div> <!-- ui layout north -->

		<div class="pane ui-layout-center" id="fieldPageLayout">
			{{template "fieldPropsBody" .}}
		</div> <!-- center pane for entire page -->	
		
	</div> <!-- layout page -->	
		
		
	{{template "submitFormDialog"}}
		
  </body>
  	
</html>

{{end}}