

{{define "socialButtonProps"}}

	<div id="socialButtonProps" class="propertyPanelToggleContainer">

		{{template "componentLabelPropertyPanel" .LabelPanelParams}}

		{{template "propertyPanelPrefix" .FormatPanelParams}}
			{{template "socialButtonFormatProps"}}
		{{template "propertyPanelSuffix"}}
						
		{{template "componentVisibilityPropertyPanel" .VisibilityPanelParams}}
		
		{{template "componentPermissionsPropertyPanel" .PermissionPanelParams}}

		{{template "componentHelpPopupPropertyPanel" .HelpPopupParams}}

		{{template "componentDeletePropertyPanel" .DeletePanelParams}}
	</div>

{{end}}