{{define "newUserRoleDialogFormPrivsPanelButtons"}}
	<button type="button" class="btn btn-default wizardPanelButton newRoleFormPrivsButtons" 
				id="newRoleFormPrivsPrevButton" type="submit">Previous</button>
	<button type="button" class="btn btn-primary wizardPanelButton newRoleFormPrivsButtons" 
				id="newRoleFormPrivsNextButton" type="submit">Next</button>
{{end}}

{{define "newUserRoleDialogFormPrivsPanel"}}

	<div id="newUserRoleDialogFormPrivsPanel" class="wizardPanel">
			
		<form id="newUserRoleDialogFormPrivsForm">
			<div class="alert alert-info">
				Set form privileges for this role.
			</div>
		{{template "roleFormPrivsTable"}}
									
		</form> <!-- form for panel -->
	</div> <!-- panel for giving the parameters for the new field -->

{{end}}