{{define "newUserRoleDialogRoleNamePanelButtons"}}
	<button type="button" class="btn btn-primary wizardPanelButton newRoleRoleNameButtons" id="newRoleRoleNameNextButton" type="submit">Next</button>
{{end}}

{{define "newUserRoleDialogRoleNamePanel"}}

	<div id="newUserRoleDialogRoleNamePanel" class="wizardPanel">
			
		<form id="newUserRoleDialogRoleNameForm">
			<div class="alert alert-info">
				Enter a name for the user role.
			</div>

			<div class="form-group">
	        	<label for="newUserRoleDialogRoleName" class="sr-only">Role Name</label>
	        	<input type="text" id="newRoleNameInput" name="newRoleNameInput" class="form-control" 
							placeholder="Role Name" required autofocus>
			</div>
						
			
		</form> <!-- form for panel -->
	</div> <!-- panel for giving the parameters for the new field -->

{{end}}