

/* Mix-in class for URLs, email addresses and other types of information which need to be displayed
   inside a box with a form-like appearance that works with Bootstrap input groups */
.formInputStaticInputContainer {
	display:table-cell;
	width:100%;
	border: 1px solid lightGray;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-bottom:0;
	background-color: white;
	min-height: 34px !important;
}

/* Limit URL text to one line and hide the overflow.
   This is needed for table view columns which must be a fixed height.
   Uses this solution: https://stackoverflow.com/questions/1318108/css-limit-element-to-1-line
 */ 

.formInputStaticInputContainer a {
	padding-left:5px;
	padding-right:5px;
	white-space:nowrap;
	display:block;
	overflow:hidden;
	text-overflow: ellipsis;
}
