/* This file is part of the Resultra project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
 

/* Mix-in class for URLs, email addresses and other types of information which need to be displayed
   inside a box with a form-like appearance that works with Bootstrap input groups */
.formInputStaticInputContainer {
	display:table-cell;

	/* There is a strange CSS behavior if max-width isn't set along with width ...
	   if the length of the enclosed content in the <a> tag is long, then the
	   .formInputStaticInputContainer container will extend beyond it's parent.
	   With max-width set, it is constrained to 100%.
	   TODO - Investigate and determine the definitive rules for this */ 
	width:100%;
	max-width:200px;


	border: 1px solid lightGray;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-bottom:0;
	background-color: white;
	min-height: 34px !important;
}

/* Limit URL text to one line and hide the overflow.
   This is needed for table view columns which must be a fixed height.
   Uses this solution: https://stackoverflow.com/questions/1318108/css-limit-element-to-1-line
 */ 

.formInputStaticInputContainer a {
	padding-left:5px;
	padding-right:5px;
	white-space:nowrap;
	display:block;
	overflow:hidden;
	text-overflow: ellipsis;
	
}
