
#formulaEditor {
    /** Setting height is also important, otherwise editor wont showup**/
    height: 120px;
}


#formulaEditHeader,#leftFormulaEditColumn,#centerFormulaEditColumn {
	background-color:lightGrey;
}

/* Fix an overalapping/z-index issue between the formula help dropdown and 
   save formula button */
#formulaEditHeader > .visible.transition {
  z-index: 1;
}