


{{define "formulaEditPaneHeader"}}

<div ui class="row" id="formulaEditHeader">
	
	<div class="col-md-6" id="leftFormulaEditHeaderColumn">	
			<h4>Formula Editor</h4>
	</div> <!-- column -->

	<!-- TODO - Put back a popup menu to link to formula help and reference -->
	<div class="col-md-6" id="leftFormulaEditHeaderColumn">	
		<a href="#" id='formulaHelpPopover'>Formula Help</a>
	</div> <!-- column -->
	
</div> <!-- #formulaEditHeader  -->


{{end}}

{{define "formulaEditHeaderControls"}}
	<div class="row">
		<div class="col-md-12">
			<button class="btn btn-default btn-xs" id="saveFormulaButton">
			  Save Formula
			</button>
			<button class="btn btn-default btn-xs" id="checkFormulaButton" >
			  Check Formula
			</button>
						
		</div>
	</div>
{{end}}

{{define "formulaEditPaneHeaderLayout"}}
	{{ template "formulaEditPaneHeader"}}
	{{ template "formulaEditHeaderControls"}}
{{end}}

{{define "formulaErrorPopup"}}

<div id="formulaErrorPopup">
	   Formula Error:
	   <p id="formulaErrorMessageMsgText">parse error</p>
</div>

{{end}}

{{define "formulaFieldRefSelector"}}

<select class="form-control input-sm" data-live-search="true" data-width="fit" id="formulaFieldRefSelector">
</select>

{{end}}


{{define "formulaEditor"}}

 <div class="row">
   <div class="col-md-3" id="leftFormulaEditColumn" style="min-width:250px;max-width:250px;"> 
	   {{template "formulaEditPaneHeaderLayout"}}
   </div>
 	<div class="col-md-6" id="centerFormulaEditColumn" style="min-width:250px;">
		<div id="formulaEditorErrorPopup" data-toggle="popover" title="Formula Error" data-content="Formula error ...">
   			<div id="formulaEditor">
   			</div>
		</div>
 	</div>
 	<div class="col-md-3">
		{{template "formulaFieldRefSelector"}}
 	</div>
 </div> <!-- row -->

{{end}}