
#formulaEditor {
    /** Setting height is also important, otherwise editor wont showup**/
    height: 120px;
}


#formulaEditHeader,#leftFormulaEditColumn,#centerFormulaEditColumn {
	background-color:lightGrey;
}

#formulaEditHeader {
	min-height: 40px;
}

#formulaEditHeader {
	padding:8px;
}


.popover-title{
    background: #ffff99;
}
