{{define "userRoleListTemplates"}}

<div style="display:none;">
		
	<table>
		<tr id="userListRowTemplate" class="userListRow">
	         <td class="userRoleName"></td>
	         <td class="userRoleCollaborators"></td>
	         <td class="userRoleButtons">
				<a class="btn btn-xs btn-default editUserRoleButton" role="button"> 
						<span class="glyphicon glyphicon-pencil" style="padding-bottom:2px;"></span>
				</a> 
	  			<button class="btn btn-xs btn-danger deleteUserRoleButton">
					<span class="glyphicon glyphicon-remove" style="padding-bottom:2px;"></span>
				</button>
	         </td>
	     </tr>
 	</table>
	
	
</div>

{{end}}


{{define "userRoleList"}}

	{{template "userRoleListTemplates"}}
	
	<div class="marginTop10 maxWidth600">
		<table class="table">
			<thead>
		       <th>Role Name</th>
		       <th>Collaborators</th>
		       <th></th>
	 		</thead>
		    <tbody id="userRoleTableBody">
			</tbody>
		</table>
	
		<button type="button" class="btn btn-default btn-sm" id="userRoleNewRoleButton">
		  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Role
		</button>
	</div>
	

{{end}}