{{define "dashboardGaugeFormatProps"}}

TBD
	
{{end}}

{{define "dashboardGaugeTitleProps"}}
	{{template "dashboardComponentTitlePropertyPanel" "gauge_"}}
{{end}}

{{define "dashboardGaugeProps"}}

	<div id="dashboardGaugeProps" class="propertyPanelToggleContainer">
		
		{{template "propertyPanelPrefix" .TitlePanelParams}}
			{{template "dashboardGaugeTitleProps"}}	
		{{template "propertyPanelSuffix"}}
		
		{{template "propertyPanelPrefix" .FormatPanelParams}}
			{{template "dashboardGaugeFormatProps"}}	
		{{template "propertyPanelSuffix"}}

		{{template "propertyPanelPrefix" .RangePanelParams}}
			{{template "gaugeRangeProps"}}
		{{template "propertyPanelSuffix"}}


		{{template "propertyPanelPrefix" .PreFilteringPanelParams}}
			{{template "recordFilterPropertyPanel" .PreFilterPropPanelParams}}
		{{template "propertyPanelSuffix"}}
		
		{{template "propertyPanelPrefix" .FilteringPanelParams}}
			{{template "recordFilterPropertyPanel" .FilterPropPanelParams}}
		{{template "propertyPanelSuffix"}}


	</div>

{{end}}