/* Set the default and minimum width for fields added
   to the layout. This is important for when the field
   is initially dragged onto the canvas. Otherwise it
   can shrink as the field is dragged. */
.imageContainer
{
	min-width:200px;
	min-height:200px;
	width: 200px;
	height: 200px;
}

.imageInnerContainer
{
	
}

/* Class for the actual image within the image component. Initially
   set the size to a fixed thumbnail.
   TODO - scale to the size of the container itself, while keeping the 
   aspect ratio intact. */
.imageComponentImage {
	width: 100px;
	height: 100px;
}