{{define "formComponentImageJS"}}
	<script src="/static/form/components/image/containerHTML.js"></script>
	<script src="/static/form/components/image/newImageDialog.js"></script>
	<script src="/static/form/components/image/designFormConfig.js"></script>
	<script src="/static/form/components/image/viewFormConfig.js"></script>
	<script src="/static/form/components/image/properties.js"></script>
{{end}}

{{define "formComponentImageCSS"}}
<link rel="stylesheet" type="text/css" class="ui" href="/static/form/components/image/image.css">
{{end}}