
{{define "newComponentDialogs"}} 
	{{template "newFormComponentDialog" .TextBoxParams.NewComponentDialogParams}}
	{{template "newFormComponentDialog" .CheckboxParams.NewComponentDialogParams}}
	{{template "newFormComponentDialog" .DatePickerParams.NewComponentDialogParams}}
	{{template "newFormComponentDialog" .HtmlEditorParams.NewComponentDialogParams}}
	{{template "newFormComponentDialog" .AttachmentParams.NewComponentDialogParams}}
	{{template "newFormComponentDialog" .RatingParams.NewComponentDialogParams}}
	{{template "newFormComponentDialog" .SelectionParams.NewComponentDialogParams}}
	{{template "newFormComponentDialog" .UserSelectionParams.NewComponentDialogParams}}
	{{template "newFormComponentDialog" .CommentParams.NewComponentDialogParams}}
	{{template "newFormComponentDialog" .ProgressParams.NewComponentDialogParams}}
	{{template "newFormComponentDialog" .GaugeParams.NewComponentDialogParams}}
	{{template "newFormComponentDialog" .NumberInputParams.NewComponentDialogParams}}
	{{template "newFormComponentDialog" .ToggleParams.NewComponentDialogParams}}
	{{template "newFormComponentDialog" .SocialButtonParams.NewComponentDialogParams}}
	{{template "newFormComponentDialog" .LabelParams.NewComponentDialogParams}}
	{{template "newFormComponentDialog" .EmailAddrParams.NewComponentDialogParams}}
	{{template "newFormComponentDialog" .UrlLinkParams.NewComponentDialogParams}}
	{{template "newFormComponentDialog" .FileParams.NewComponentDialogParams}}
	{{template "newFormComponentDialog" .ImageParams.NewComponentDialogParams}}
	{{template "newFormComponentDialog" .UserTagParams.NewComponentDialogParams}}

	{{template "newFormButtonDialog"}}
	{{template "confirmDeleteDialog"}}

{{end}}