{{define "formComponentProps"}}
	{{template "textBoxProps" .TextBoxParams}}
	{{template "selectionProps" .SelectionParams}}
	{{template "ratingProps" .RatingParams}}
	{{template "userSelectionProps" .UserSelectionParams}}
	{{template "checkBoxProps" .CheckboxParams}}
	{{template "datePickerProps" .DatePickerParams}}
	{{template "htmlEditorProps" .HtmlEditorParams}}
	{{template "formHeaderProps" .HeaderParams}}
	{{template "formButtonProps" .ButtonParams}}
	{{template "imageProps" .ImageParams}}
	{{template "commentComponentProps" .CommentParams}}
	{{template "progressProps" .ProgressParams}}
	{{template "gaugeProps" .GaugeParams}}
	{{template "formCaptionProps" .CaptionParams}}
{{end}}