{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 {{define "formComponentProps"}}
	{{template "textBoxProps" .TextBoxParams}}
	{{template "numberInputProps" .NumberInputParams}}
	{{template "selectionProps" .SelectionParams}}
	{{template "ratingProps" .RatingParams}}
	{{template "userSelectionProps" .UserSelectionParams}}
	{{template "userTagProps" .UserTagParams}}
	{{template "checkBoxProps" .CheckboxParams}}
	{{template "toggleProps" .ToggleParams}}
	{{template "datePickerProps" .DatePickerParams}}
	{{template "htmlEditorProps" .HtmlEditorParams}}
	{{template "formHeaderProps" .HeaderParams}}
	{{template "formButtonProps" .ButtonParams}}
	{{template "attachmentProps" .AttachmentParams}}
	{{template "imageProps" .ImageParams}}
	{{template "commentComponentProps" .CommentParams}}
	{{template "progressProps" .ProgressParams}}
	{{template "gaugeProps" .GaugeParams}}
	{{template "formCaptionProps" .CaptionParams}}
	{{template "socialButtonProps" .SocialButtonParams}}
	{{template "labelProps" .LabelParams}}
	{{template "emailAddrProps" .EmailAddrParams}}
	{{template "urlLinkProps" .UrlLinkParams}}
	{{template "fileProps" .FileParams}}
{{end}}