{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 
{{define "componentHelpPopupPropsInput"}}
	<div class="marginButtom5" id="{{.}}ComponentHelpPopupProps">
		<div class="lightGreyBorder helpPopupInput inlineContent"></div>
	</div>
{{end}}

{{define "componentHelpPopupProps"}}

	<div class="alert alert-info" role="alert">
		Configure a help message to be shown in a popup window.
	</div>
	
	{{template "componentHelpPopupPropsInput" .ElemPrefix}}
		
{{end}}

{{define "componentHelpPopupPropertyPanel"}}

	{{template "propertyPanelPrefix" .PanelParams}}
		{{template "componentHelpPopupProps" .}}
	{{template "propertyPanelSuffix"}}

{{end}}


{{define "componentHelpPopupColumnProps"}}

	<tr>
		<td class="width200"><label>Help Popup Message</label><BR>
			<small>Configure a help message to be shown in a popup window. This popup window is shown next to the column header</small>
		</td>

		<td class="maxWidth300">
			{{template "componentHelpPopupPropsInput" .}}
		</td>
	</tr>


{{end}}