{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 {{define "adminAlertListTemplates"}}

<div style="display:none;">
	
	<div id="alertListItemTemplate" class="list-group-item alertListItem">
			<label class="adminAlertListItemLabel">Alert name goes here</label>
			
			<div class="pull-right">
	
				<a class="btn btn-xs btn-default editAlertPropsButton" role="button">
					<span class="glyphicon glyphicon-pencil" style="padding-bottom:2px;"></span>
				</a> 
  				<button class="btn btn-xs btn-danger deleteAlertButton">
					<span class="glyphicon glyphicon-remove" style="padding-bottom:2px;"></span>
				</button>
			</div>
	</div>
	
</div>

{{end}}


{{define "adminAlertList"}}

	{{template "adminAlertListTemplates"}}

	<div class="marginTop20">
		<ul id="adminAlertList" class="list-group maxWidth600">
		</ul>

		<button type="button" class="btn btn-default btn-sm" id="adminNewAlertButton">
		  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Alert
		</button>
	</div>

{{end}}