
.fileFormComponent 
{
	min-width:150px;
	width: 150px;
	height: auto;
}

.fileTableCellComponent
{
	min-width: 150px;
	width:100%;
}

.fileComponent .form-group {
	margin-bottom:0px;
}

.fileComponent .input-group {
	width:100%;
}

.fileComponent label {
	margin-bottom: 2px !important;
}

.fileComponentInput {
	padding-left: 5px;
	padding-right: 5px;
}

.fileEditLinkButton {
	padding-left:4px;
	padding-right:4px;
}

.filePopupContainer {
	width:100%;
	
	/* The Bootstrap popover will resize around these constraints */
	min-width:250px;
	min-height:100px;
}