
.emailAddrFormComponent 
{
	min-width:150px;
	width: 150px;
	height: auto;
}

.emailAddrTableCellComponent
{
	min-width: 150px;
	width:100%;
}

.emailAddrComponent .form-group {
	margin-bottom:0px;
}

.emailAddrComponent .input-group {
	width:100%;
}

.emailAddrComponent label {
	margin-bottom: 2px !important;
}

.emailAddrComponentInput {
	padding-left: 5px;
	padding-right: 5px;
}

.emailAddrEditLinkButton {
	padding-left:4px;
	padding-right:4px;
}

.emailAddrDisplayContainer {
	max-width:325px;
	overflow:hidden;
	border: 1px solid lightGrey;
	background-color: white;
}

/* Limit URL text to one line and hide the overflow.
   This is needed for table view columns which must be a fixed height.
   Uses this solution: https://stackoverflow.com/questions/1318108/css-limit-element-to-1-line
 */ 
.emailAddrDisplayContainer a {
	padding-left:5px;
	padding-right:5px;
	white-space:nowrap;
	display:block;
	overflow:hidden;
	text-overflow: ellipsis;
}

.emailAddrTableCellComponent .emailAddrDisplayContainer {
	/* When the email address is displayed in a table view, limit the overall width of 
	 the display container to 350px for the text itself (see container.js), 10px for padding,
	 then 2 pixels for border.
	TODO - This width needs to be set dynamically for each column - if an edited email address exceeds the width of the parent container, it
	will cause the display to extend beyond the table cell. */
	max-width:355px;
}


.emailAddrPopupContainer {
	width:100%;
	
	/* The Bootstrap popover will resize around these constraints */
	min-width:250px;
	min-height:100px;
}