/* Set the default and minimum width for fields added
   to the layout. This is important for when the field
   is initially dragged onto the canvas. Otherwise it
   can shrink as the field is dragged. */
.checkBoxFormContainer {
	min-width:100px;
	min-height:30px;
	width: 180px;
	height: auto;
}

/* When the checkbox is displayed in table cell without the label,
   the width can be smaller */
.checkBoxTableCellContainer {
	min-width:15px;
	min-height:10px;
	width: 15px;
	height: auto;
}

.checkBoxTableCellContainer .checkbox {
	margin-top: 8px;
	margin-bottom: 0px;
	margin-left:10px;
}

/* Since the checkbox is inline, override the Bootstrap margins to eliminate 
  extra space around the checkbox */
.checkBoxFormContainer > .checkbox {
	margin-top: 0px;
	margin-bottom:0px;
}

.checkboxTableCellControl {
	font-size: x-large;
}


.checkBoxContainer .checkboxFormComponentLabel {
	padding-left: 5px !important;
}

.checkboxStrikethroughCompleted {
	text-decoration: line-through;
}

