






{{define "checkBoxProps"}}

	<div id="checkBoxProps" class="propertyPanelToggleContainer">

		{{template "componentLabelPropertyPanel" .LabelPanelParams}}

		{{template "propertyPanelPrefix" .FormatPanelParams}}
			{{template "checkBoxFormatProps"}}
		{{template "propertyPanelSuffix"}}

		{{template "propertyPanelPrefix" .ValidationPanelParams}}
			{{template "checkBoxValidationProps"}}
		{{template "propertyPanelSuffix"}}

		{{template "componentVisibilityPropertyPanel" .VisibilityPanelParams}}

		{{template "componentPermissionsPropertyPanel" .PermissionPanelParams}}
		
		{{template "propertyPanelPrefix" .ClearValuePanelParams}}
			{{template "clearValueProps" .ElemPrefix}}
		{{template "propertyPanelSuffix"}}
		

		{{template "componentDeletePropertyPanel" .DeletePanelParams}}

	</div>

{{end}}