
{{define "checkBoxFormatProps"}}
     <form id="adminCheckboxComponentFormatForm">
	  <div class="form-group">
       	  <label for="adminCheckboxComponentColorSchemeSelection">Color scheme when checked</label>
		  	<select class="form-control" id="adminCheckboxComponentColorSchemeSelection">
		  		<option disabled selected value="">Select a color scheme</option>
		  		<option value="default">Default</option>
		 		<option value="primary">Primary</option>
		 		<option value="success">Success</option>
		 		<option value="info">Info</option>
		 		<option value="warning">Warning</option>
		 		<option value="danger">Danger</option>
			</select>
	  </div>
	  
	  <div class="form-group">
 	      <div class="checkbox">
	        <input type="checkbox" id="adminCheckboxComponentStrikethrough">
	        <label>Strikethrough label when checked.</label>
	      </div>
	   </div>
	  
	  
    </form>
	
	
	
{{end}}

{{define "checkBoxProps"}}

	<div id="checkBoxProps" class="propertyPanelToggleContainer">

		{{template "componentLabelPropertyPanel" .LabelPanelParams}}

		{{template "propertyPanelPrefix" .FormatPanelParams}}
			{{template "checkBoxFormatProps"}}
		{{template "propertyPanelSuffix"}}
	</div>

{{end}}