



{{define "checkBoxValidationProps"}}
     <form id="adminCheckboxComponentValidationForm">	  
	  <div class="form-group">
 	      <div class="checkbox">
	        <input type="checkbox" id="adminCheckboxComponentValidationRequired">
	        <label for="adminCheckboxComponentValidationRequired">Value is required</label>
	      </div>
	   </div>
    </form>	
{{end}}


{{define "checkBoxProps"}}

	<div id="checkBoxProps" class="propertyPanelToggleContainer">

		{{template "componentLabelPropertyPanel" .LabelPanelParams}}

		{{template "propertyPanelPrefix" .FormatPanelParams}}
			{{template "checkBoxFormatProps"}}
		{{template "propertyPanelSuffix"}}

		{{template "propertyPanelPrefix" .ValidationPanelParams}}
			{{template "checkBoxValidationProps"}}
		{{template "propertyPanelSuffix"}}

		{{template "componentVisibilityPropertyPanel" .VisibilityPanelParams}}

		{{template "componentPermissionsPropertyPanel" .PermissionPanelParams}}

		{{template "componentDeletePropertyPanel" .DeletePanelParams}}

	</div>

{{end}}