
{{define "sortPaneAddRuleButton"}}
		<button type="button" class="btn btn-default btn-xs" id="sortRecordsAddRuleButton">
		  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Rule
		</button>	
{{end}}

{{define "sortPaneRulesActionsButtons"}}
		<button type="button" class="btn btn-default btn-xs" id="sortRecordResetButton">
		  <span class="fa fa-undo" aria-hidden="true"></span> Reset to Default
		</button>		
		{{template "sortPaneAddRuleButton"}}
		
{{end}}


{{define "recordSortPaneFooter"}}
	<div id="sortPaneFooter">
		<div class="container">
			<div class="row">
				{{template "sortPaneRulesActionsButtons"}}
			</div>
		</div>
	</div>
{{end}}


{{define "recordSortPaneSortSettings"}}
	<div class="list-group" id="sortPaneSortRuleList">
	</div>	
{{end}}


{{define "recordSortPane"}}

	<div class="recordSortPaneListOuterContainer">
		{{template "recordSortPaneSortSettings"}}
	</div>
	<hr class="sortPaneSeparator">
	<div>
		{{template "recordSortPaneFooter"}}
	</div>

{{end}}

{{define "recordSortPropertiesPage"}}
		<div class="maxWidth300">
			{{template "recordSortPaneSortSettings"}}
			<hr class="sortPaneSeparator">
			{{template "sortPaneAddRuleButton"}}
		</div>
		
{{end}}