
{{define "trackerBreadcrumbHeader"}}
	<div class="marginTop2">
	  {{template "homePageBreadcrumb"}}
	  {{template "breadCrumbSeparator"}}
	  <a href="/" class="h4 breadCrumbText"><i class="fa fa-tasks" aria-hidden="true">&nbsp;{{.DatabaseName}}</i></a>
	</div> <!-- breadcrumb header -->
{{end}}

{{define "trackerPageHeader"}}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8">
				{{template "trackerBreadcrumbHeader" .}}
			</div>
			<div class="col-sm-4">
				<div class="pull-right">
					{{template "alertHeader" .}}
					{{template "userDropdownMenu"}}
					{{template "adminSettingsButton" .}}
				</div>
			</div>
		</div>
	</div>
{{end}}


{{define "trackerMainPage"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
	
	{{template "electronImportPrefix"}}


	{{template "thirdPartyCSS"}}
	
	<!-- trackerMainPageAssets:css -->
	<!-- endinject -->
	
	<script>var trackerContext = { databaseID:"{{.DatabaseID}}" } </script>
	
	{{template "thirdPartyJS"}}
	
	<!-- trackerMainPageAssets:js -->
	<!-- endinject -->
				
  </head>
	
 	
  <body>

	<div id="trackerMainPage" class="layoutPageDiv">
		
		<div class="pane ui-layout-north">
			{{template "trackerPageHeader" .}}
		</div> <!-- ui layout north -->
	
		<div class="pane ui-layout-center">
			{{template "databaseTOC" .}}
		</div> <!-- center pane for entire page -->
			
	</div> <!-- layout page -->		

	{{template "submitFormDialog"}}
	{{template "formButtonPopupFormDialog"}}

	
  </body>
  	
</html>

{{end}}