{{/* This file is part of the Resultra project.
   *
   * This Source Code Form is subject to the terms of the Mozilla Public
   * License, v. 2.0. If a copy of the MPL was not distributed with this
   * file, You can obtain one at https://mozilla.org/MPL/2.0/. */}}
 {{define "componentVisibilityProps"}}
	<div class="alert alert-info" role="alert">
		Set filter conditions limiting when this form component will be visible. If no conditions are set, the component will always be shown in the form.
	</div>
	{{template "recordFilterPropertyPanel" .VisibilityFilterConditionPanelParams}}

{{end}}

{{define "componentVisibilityPropertyPanel"}}

	{{template "propertyPanelPrefix" .PanelParams}}
		{{template "componentVisibilityProps" .}}
	{{template "propertyPanelSuffix"}}

{{end}}